.error
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding 70px 0
  flex-grow 1

  &__404
    width 462px
    height 179px
    margin-bottom 40px
    background-image url(/img/404.png)
    background-position center
    background-repeat no-repeat
    background-size contain

    @media $xs
      width 277px
      height 107px

  &__title
    max-width 500px
    font-size 35px
    font-weight 700
    line-height 1.2
    text-align center
    color #000000

    @media $xs
      max-width 300px
      font-size 24px

  &__back
    display flex
    align-items center
    justify-content center
    width 180px
    height 60px
    margin-top 40px
    border-radius 4px
    box-shadow 0 15px 18px -13px rgba(0, 0, 0, 0.13)
    background-color $green
    font-size 18px
    color #fff

    @media $xs
      margin-top 34px

    &:hover
      background-color $greenHover

input.error
  padding 0

.form_hint.error
  padding 0
