.commercial-banner
  width 100%
  height 300px
  background-position center
  background-repeat no-repeat
  background-size cover
  background-color $green
  background-image url(../img/commercial/banner_desktop.jpg)

  @media $xl
    background-image url(../img/commercial/banner_1920.jpg)

  @media (min-width: 1024px) and (max-width: 1279px)
    background-image url(../img/commercial/banner_1024.jpg)

  @media $smMd
    background-image url(../img/commercial/banner_tablet.jpg)

  @media $xs
    background-image url(../img/commercial/banner_mobile.jpg)

  @media (min-width: 768px) and (max-width: 1679px)
    height 182px

  @media $xs
    height 182px

  &__main
    max-width 1110px
    height 100%
    padding-bottom 45px
    margin 0 auto
    display flex
    align-items flex-end

    @media (min-width: 1024px) and (max-width: 1679px)
      max-width 730px

    @media (min-width: 768px) and (max-width: 1679px)
      padding-bottom 32px

    @media $smMd
      max-width 688px

    @media $xs
      padding 0 20px 22px

  &__title
    font-size 50px
    font-weight 700
    line-height 1.2
    color #ffffff

    @media (min-width: 768px) and (max-width: 1679px)
      font-size 33px

    @media $xs
      font-size 25px
