.commercial
  padding-top 50px
  padding-bottom 80px
  overflow hidden

  @media (min-width: 1024px) and (max-width: 1679px)
    padding-bottom 68px

  @media (min-width: 1280px) and (max-width: 1679px)
    padding-bottom 68px

  @media (min-width: 768px) and (max-width: 1279px)
    padding-top 42px
    padding-bottom 60px

  @media $xs
    padding-top 30px
    padding-bottom 28px

  &__content
    max-width 1110px
    margin 0 auto

    @media (min-width: 1024px) and (max-width: 1679px)
      max-width 730px

    @media $smMd
      max-width 688px

    @media $xs
      padding 0 20px

  &__item
    width 100%
    margin-bottom 70px

    @media $smMd
      margin-bottom 60px

    @media $xs
      margin-bottom 24px

    &:last-of-type
      margin-bottom 0

  &__title
    margin-bottom 30px
    font-size 18px
    font-weight 700
    line-height 1.2
    color #000

  &__visual
    position relative
    width 100%
    display flex
    align-items flex-start
    justify-content center

    @media $xs
      justify-content flex-start
      overflow auto
      -webkit-overflow-scrolling auto

  &__img
    max-width 96vw
    width auto
    min-width inherit
    display block
    max-height 486px

    @media (min-width: 1280px) and (max-width: 1679px)
      max-height 384px

    @media (min-width: 1024px) and (max-width: 1279px)
      max-height 336px

    @media $smMd
      max-height 270px

    @media $xs
      max-width inherit
      max-height 264px
