.contacts
  display flex
  flex-wrap wrap
  align-content space-between
  overflow hidden
  flex-grow 1

  @media $md
    flex-wrap nowrap
    align-content flex-start

  @media $sm
    flex-grow 1

  &_info
    flex-basis 100%
    flex-shrink 0
    padding-top 20px
    padding-left 20px
    padding-right 20px
    padding-bottom 35px
    background-color $white

    @media $smPlus
      display flex
      justify-content space-between
      padding-top 50px
      padding-left 40px
      padding-bottom 40px

    @media $md
      display block
      flex-basis 458px
      padding-top 50px
      padding-left 40px
      padding-bottom 45px
      box-shadow 0 20px 29px 0 rgba(0, 0, 0, 0.11)

    @media $lg
      flex-basis 530px
      padding-left 85px

    @media $xl
      flex-basis 780px
      padding-bottom 95px

  &_map
    flex-basis 100%
    overflow hidden

    @media $md
      flex-basis calc(100% - 458px)

    @media $lg
      flex-basis calc(100% - 530px)

    @media $xl
      flex-basis calc(100% - 780px)

  &_mapItem
    height 363px

    @media $smPlus
      height 516px

    @media $md
      height 100%

  &_tabs
    max-width 100%
    display flex
    align-items baseline
    margin-bottom 24px
    font-size 23px
    color rgba(#979797, 0.2)

    span
      display inline-block
      margin-left 20px
      margin-right 20px

      @media $xs
        margin-left 18px
        margin-right 18px

    &-second
      justify-content flex-end
      flex-direction row-reverse

  &_tab
    flex-basis auto
    text-align left
    white-space nowrap

    &:not(.contacts_tab-active)
      font-weight 400
      font-size 14px
      color $green
      transition font-size 0.2s, font-weight 0.2s

      &:hover
        @media $md
          font-weight 700
          font-size 20px

    &-active
      font-weight 700
      font-size 20px
      pointer-events none
      cursor default

      @media $xs
        font-size 19px

  &_col
    @media $smPlus
      flex-basis calc(50% - 30px);

    @media $md
      flex-basis auto

    &:not(:last-of-type)
      margin-bottom 30px

      @media $smPlus
        margin-bottom 0

      @media $md
        margin-bottom 30px

      @media $xl
        margin-bottom 40px
  &_content
    &:not(.contacts_content-active)
      display none

  &_row
    &:not(:last-of-type)
      margin-bottom 20px

      @media $smPlus
        margin-bottom 15px

      @media $md
        margin-bottom 20px

  &_name
    margin-bottom 10px
    font-size 12px
    color rgba($black, 0.5)

    @media $smPlus
      margin-bottom 5px

    @media $md
      margin-bottom 10px

  &_desc
    font-size 16px
    line-height normal

    @media $smPlus
      font-size 14px

    @media $md
      font-size 16px

    @media $xl
      font-size 18px

  &_br
    display block

    @media $smPlus
      display inline

    @media $md
      display block

    @media $xl
      display inline

  &_tel
    display inline-block
    transition color 0.2s

    &:hover
      color $green

    &:not(:last-of-type)
      margin-right 20px

      @media $smPlus
        margin-right 45px

      @media $md
        margin-right 30px

      @media $xl
        margin-right 14px

  &_mail
    color $green

  &_title
    display flex
    align-items baseline
    height 24px
    font-weight 700
    font-size 20px

  &_wrp
    display flex
    align-items center
    font-size 14px

    @media $smPlus
      font-size 12px
      padding-right 40px

    @media $md
      font-size 14px
      padding-right 67px

    @media $xl
      font-size 16px
      padding-right 130px

    &:first-of-type
      margin-top 22px

      @media $xl
        margin-top 20px

    &:not(:first-of-type)
      margin-top 20px

      @media $xl
        margin-top 30px

  &_oval
    display flex
    align-items center
    justify-content center
    flex-shrink 0
    width 30px
    height 30px
    margin-right 15px
    border-radius 50%
    background-color #b6b6b6

  &_text
    line-height normal

    @media $smPlus
      line-height 1.42

    @media $md
      line-height normal

    span
      font-family "Arial"
