.compass
  position absolute;
  width 45px
  height 45px
  border 1px solid #fff
  background-color #fff
  border-radius 50%
  display flex
  justify-content center
  align-items center

  &::before
    content ''
    position absolute
    top 50%
    left 50%
    width 100%
    height 100%
    border 1px solid #fff
    transform translateX(-50%) translateY(-50%)
    background-color #fff
    border-radius 50%
    animation pulsationCompass 1s linear infinite normal
    z-index -1

  svg
    transform-origin center

@keyframes pulsationCompass
  from
    width 65%
    height 65%
    opacity 1
  to
    width 135%
    height 135%
    opacity 0.1


@keyframes pulsationDelivery
  from
    width 72%
    height 72%
    opacity 1
  to
    width 116%
    height 130%
    opacity 0.1
