.genplan-nav
  position relative
  display flex
  justify-content center
  align-items center
  width 100%
  height 40px
  min-height 40px
  background-color #fafafa

  &__back
    position absolute
    top 50%
    left 40px
    display block
    width 19px
    height 10px
    transform translate(0, -50%)

    @media $xs
      display none
      left 20px

    svg
      stroke $green
      transition 0.3s ease

    &:hover
      svg
        stroke $greenHover

  &__item
    padding: 2px 0
    margin-right 19px
    font-size 14px
    line-height 1.2
    letter-spacing -.4px
    opacity .6
    color #000
    transition opacity .4s ease

    @media $smPlus
      margin-right 50px

    &:last-of-type
      margin-right 0

    &--active
      color $green
      opacity 1

    &:hover
      opacity 1

  &--flat
    .genplan-nav__back
      @media $xs
        display block
