.genplan
  display flex
  align-items flex-start
  flex-grow 1

  &__content-wrap
    position relative
    display inline-flex
    width 100%
    overflow hidden

    @media $xs
      overflow auto

  &__compass
    top 45px
    left 45px
    z-index 4

  &__content
    position relative
    display block
    width auto
    height auto
    margin-top -5.6%
    margin-bottom -11.6%

    @media (min-width 1366px) and (max-width 1679px)
      margin-top -4.6%
      margin-bottom -7.6%

    @media (max-width 1365px)
      margin-top 0

    @media (min-width 1280px) and (max-width 1365px)
      margin-bottom -5.7%

    @media (min-width 1024px) and (max-width 1279px)
      height 766px
      margin-left -10%

    @media (max-width 1279px)
      display inline-flex

    @media $mdMax
      margin-bottom 0

    @media $smMd
      width auto
      height 648px
      margin-left -12.5%

    @media $xs
      height 486px
      margin-left -7%

    @media (max-width 479px)
      margin-left -16%

  &__img-common
    display block
    max-width inherit
    width 100vw
    height auto

    @media (min-width 1024px) and (max-width 1279px)
      width auto
      height 100%

    @media $smMd
      width auto
      height 100%

    @media $xs
      width auto
      height 100%

  &__renders,
  &__render,
  &__objects,
  &__labels
    position absolute
    top 0
    left 0
    display block
    width 100%
    height 100%

  &__render
    fill #2B2634
    opacity 0
    transition all .3s ease
    pointer-events none

    &--active
      position relative
      opacity 0.4
      z-index 2

  &__objects
    z-index 5

  &__object
    /* position relative */
    display block
    width 100%
    height 100%
    /* z-index 2 */
    fill transparent
    cursor pointer

  &__street
    position absolute
    font-size 36px
    font-weight 600
    letter-spacing -0.3px
    transform translate(-50%, -50%)
    white-space nowrap
    color #fff

    @media (min-width 1024px) and (max-width 1279px)
      font-size 30px

    @media $smMd
      font-size 24px

    @media $xs
      font-size 20px

    &--left
      left 19%
      top 60.9%
      transform translate(-50%, -50%) rotate(23deg)

      @media (min-width 1280px) and (max-width 1369px)
        left 28.4%
        top 68.7%

      @media $smMd
        left 28.8%
        top 69%

    &--right
      left 65.7%
      top 59.5%
      transform translate(-50%, -50%) rotate(-41deg)

      @media (min-width 1280px) and (max-width 1369px)
        left 69%
        top 53.8%

      @media $smMd
        left 57.4%
        top 73.2%

  &__label
    position absolute
    display flex
    height 68px
    transform translate(-50%, -50%)
    z-index 5

    @media $xs
      height 54px

    &--active,
    &:hover
      .genplan
        &__label-nav
          background-color $green

          svg
            stroke #fff !important

  &__label-description
    width 146px
    height 100%
    padding 15px 26px 15px 15px
    display flex
    flex-direction column
    align-items flex-start
    background-color #fff
    box-shadow 0 2px 9px 0 rgba(0, 0, 0, 0.11)

    @media $xs
      width 110px
      padding 10px 20px 15px 10px

  &__label-name
    margin-bottom 4px
    font-size 17px
    font-weight 500
    line-height 1.2
    letter-spacing -0.4px
    color #000

    @media $xs
      font-size 16px

  &__label-text
    font-size 12px
    line-height 1.2
    letter-spacing -0.4px
    color #000
    opacity 0.4

    @media $xs
      font-size 10px

  &__label-nav
    width 50px
    height 100%
    margin-left -16px
    display flex
    justify-content center
    align-items center
    background-color #fff
    transform skew(-24deg)
    transition background 0.4s ease
    box-shadow 9px 0px 9px 0 rgba(0, 0, 0, 0.11)

    @media $xs
      width 40px
      margin-left -14px

    svg
      transition stroke 0.4s ease
      transform skew(24deg)
      stroke #000
