extends /layouts/main_layout
block vars
	- var title = "О проекте";
block content
	.about_project
		.about_project_banner
			.about_project_container
				.about_project_wrapper
					.about_project_title О проекте <br> «Брусчатый посёлок»
		.about_project_container
			.about_project_wrapper
				.about_project_text «БРУСЧАТЫЙ ПОСЕЛОК» - современный жилой комплекс, который строится в историческом центре Красногорска, в окружении великолепных лесопарковых зон, обеспечивающих не только комфортное проживание, но и прекрасную экологическую обстановку. 
				.about_project_advantages
					.about_project_item
						svg(width='86', height='82')
							use(xlink:href='#moscow')
						svg.about_project_advantagesBg.about_project_advantagesBg-yellow
							use(xlink:href='#rectangle')
						.about_project_content
							.about_project_advantagesTitle 2,5 км
							.about_project_advantagesText от Москвы
					.about_project_item
						svg(width='78', height='78')
							use(xlink:href='#park')
						svg.about_project_advantagesBg.about_project_advantagesBg-green
							use(xlink:href='#rectangle')
						.about_project_content.about_project_content-col.about_project_content-smallPadding
							.about_project_advantagesTitle 3
							.about_project_advantagesText Крупных <br> парковых <br> зоны
					.about_project_item
						svg(width='77', height='62')
							use(xlink:href='#infrastructure')
						svg.about_project_advantagesBg.about_project_advantagesBg-blue
							use(xlink:href='#rectangle')
						.about_project_content.about_project_content-bigPadding
							.about_project_advantagesTitle
							.about_project_advantagesText Развитая <br> инфрастурктура <br> района
				.about_project_text Комплекс возводится по авторскому проекту, в разработке которого приняли участие ведущие российские архитекторы.
				.about_project_text Изумительные виды из окон, продуманные и удобные планировки квартир, благоустроенные и безопасные дворы, развитая инфраструктура столицы Подмосковья, применяемые Застройщиком новейшие строительные технологии – все это вы найдете в жилом комплексе «БРУСЧАТЫЙ ПОСЕЛОК».
				a.about_project_btn(href='infrastructure.html') Подробнее о инфраструктуре
			.about_project_district
			.about_project_wrapper
				.about_project_text Живя здесь, вы пользуетесь всеми преимуществами размеренной загородной жизни в окружении природы и зелени, сочетая их с плюсами и возможностями одного из самых современных и продвинутых мегаполисов.
			.about_project_sponsors
				.about_project_circleSmall.about_project_circleSmall-yellow
				.about_project_wrp
					.about_project_circle.about_project_circle-yellow
						svg(width='82', height='109')
							use(xlink:href='#gerb_moscow_oblast')
					.about_project_circle.about_project_circle-green
						img(src='./img/krasnogorsk_moscow_oblast.png', alt='Красногорск Московская область')
				.about_project_circleSmall.about_project_circleSmall-green
			.about_project_wrapper
				.about_project_incut Строительство жилого комплекса «БРУСЧАТЫЙ ПОСЕЛОК» проходит в рамках реализации Договора с Администрацией города Красногорска о развитии застроенных территорий. Этот долгосрочный Договор – часть действующей государственной программы. А это значит, что весь район и город будут активно развиваться и дальше.
				svg.about_project_separator(width='139', height='13')
					use(xlink:href='#separator')
			.about_project_wrapperCall
				.about_project_call «БРУСЧАТЫЙ ПОСЕЛОК» - разумный выбор для тех, кто хочет получать от жизни лучшее!
				a.button.button-small.button-green(href='#')
					| Выбрать квартиру
					svg.white(width='10', height='15')
						use(xlink:href='#arrow-button')

block page_bottom