extends /layouts/main_layout
block vars
	- var title = "Коммерческие планировки";
block content
	.commercial-banner
		.commercial-banner__main
			.commercial-banner__title Коммерческие планировки
	.commercial
		.commercial__content
			.commercial__item
				.commercial__title Корпус 7
				.commercial__visual
					img.commercial__img(src='/img/commercial/floor_7.svg', alt='floor')
			.commercial__item
				.commercial__title Корпус 8
				.commercial__visual
					img.commercial__img(src='/img/commercial/floor_8.svg', alt='floor')

block page_bottom
	script(src="/js/commercial.js")
