extends /layouts/main_layout
block vars
	- var title = "Контакты";
block content
	.contacts
		.contacts_info
			.contacts_col
				.contacts_tabs
					button.contacts_tab.contacts_tab-active(data-position="office") Офис продаж
					span /
					button.contacts_tab(data-position="object") Адрес объекта
				.contacts_content.contacts_content-active(data-position="office")
					.contacts_row
						.contacts_name Адрес:
						.contacts_desc ул. Народного ополчения, д. 2Б, корп. 2, оф. 16
					.contacts_row
						.contacts_name Телефон:
						.contacts_desc
							a.contacts_tel(href="tel:79161549270") +7 916 154-92-70
							a.contacts_tel(href="tel:+74955926792") +7 495 592-67-92
					.contacts_row
						.contacts_name E-mail
						.contacts_desc
							a.contacts_mail(href="mailto:info_fakt@mail.ru") info_fakt@mail.ru
					.contacts_row
						.contacts_name Режим работы:
						.contacts_desc Ежедневно с 09:00 до 21:00 <span class='contacts_br'>(без перерыва)</span>
				.contacts_content(data-position="object")
					.contacts_row
						.contacts_name Адрес:
						.contacts_desc МО, Красногорск, ул. Народного Ополчения, д. 2б
					.contacts_row
						.contacts_name Телефон:
						.contacts_desc
							a.contacts_tel(href="tel:79161549270") +7 916 154-92-70
							a.contacts_tel(href="tel:+74955926792") +7 495 592-67-92
					.contacts_row
						.contacts_name E-mail
						.contacts_desc
							a.contacts_mail(href="mailto:info_fakt@mail.ru") info_fakt@mail.ru
					.contacts_row
						.contacts_name Режим работы:
						.contacts_desc Ежедневно с 09:00 до 21:00 <span class='contacts_br'>(без перерыва)</span>
			.contacts_col
				.contacts_title Как проехать:
				figure.contacts_wrp
					.contacts_oval
						svg(width="14" height="10")
							use(xlink:href="#metro_2")
					figcaption.contacts_text От станции метро «Тушинская» до остановки Химчистка в Красногорске - маршрутное такси <span>№</span> 566к
				figure.contacts_wrp
					.contacts_oval
						svg(width="14" height="10")
							use(xlink:href="#metro_2")
					figcaption.contacts_text От станции метро «Митино» до ул. Народного Ополчения в Красногорске - автобусы <span>№</span> 1109, 878, маршрутное такси <span>№</span> 492к
				figure.contacts_wrp
					.contacts_oval
						svg(width="14" height="14")
							use(xlink:href="#train")
					figcaption.contacts_text От ж\д станции "Павшино" до остановки Химчистка в Красногорске - автобусы <span>№</span> 806, 824, 833; <br> маршрутное такси <span>№</span> 806к, 833к
		.contacts_map
			#map.contacts_mapItem(data-latlag='55.834784, 37.317238')
block page_bottom
	script(src="./js/contacts.js")
