extends /layouts/main_layout
block vars
	- var title = "О застройщике";
block content
	.developer
		.developer_container
			.developer_title ООО «ФАКТ»
			.developer_wrapper
				.developer_col Застройщик - ООО «Факт» - российская девелоперская компания, реализующая проекты в Московской области. Осуществляет свою деятельность на рынке с 2011 года и специализируется на строительстве многоквартирных домов в сегменте доступного жилья.
				.developer_col ООО «Факт» является участником государственной программы переселения граждан из аварийного и ветхого жилья, работает в непосредственном контакте с Администрацией города Красногорска в рамках заключенного долгосрочного Договора о развитии застроенных территорий.
		img.developer_img(src="./img/developer/bg.jpg")
block page_bottom

//- 1110