extends /layouts/main_layout
block vars
	- var title = "Ход строительства";
block content
	.diary
		.diary_container
			.diary_wrapper
				.diary_wrp
					.title.title-small Ход строительства
					.swiper-pagination
				.diary_videoWrp
					.diary_video(data-videoid="UD23HbzJ3gw", data-fancybox, data-src='#video')
						svg(width='22', height='22')
							use(xlink:href='#play')
						| Видео проекта
					.diary_online(data-videoid="qyEzsAy4qeU", data-fancybox, data-src='#online_camera')
						svg(width='18', height='22')
							use(xlink:href='#camera')
						| Онлайн-камера
			.diary_sliderContainer
				.diary_history
					a.diary_item(href='/diary.html')
						.diary_img(style='background-image: url(./img/diary/diary_slide.jpg)')
						.diary_content
							.diary_month Сентябрь
							.diary_year 2018
					a.diary_item.diary_item-active(href='/diary-1.html')
						.diary_img(style='background-image: url(./img/diary/diary_slide.jpg)')
						.diary_content
							.diary_month Август
							.diary_year 2018
				.diary_slider.swiper-container
					.swiper-wrapper
						.swiper-slide(style='background-image: url(./img/diary/diary_slide.jpg)')
						.swiper-slide(style='background-image: url(./img/diary/diary_slide.jpg)')
						.swiper-slide(style='background-image: url(./img/diary/diary_slide.jpg)')
						.swiper-slide(style='background-image: url(./img/diary/diary_slide.jpg)')
						.swiper-slide(style='background-image: url(./img/diary/diary_slide.jpg)')
						.swiper-slide(style='background-image: url(./img/diary/diary_slide.jpg)')
					.diary_control
						a.diary_btn.diary_btn-prev
							svg(width='9', height='15', viewBox='0 0 9 15')
								path(fill='none', fill-rule='evenodd', stroke='#000', stroke-linecap='square', stroke-width='2', d='M7.625 13.625l-5.75-5.75 5.75-5.75')
						a.diary_btn.diary_btn-next
							svg(width="9" height="15" viewBox="0 0 9 15")
								path(fill="none" fill-rule="evenodd" stroke="#000" stroke-linecap="square" stroke-width="2" d="M1.375 13.625l5.75-5.75-5.75-5.75")
block page_bottom
	script(src='./js/diary.js')
