extends /layouts/main_layout
block vars
	- var title = "Документы";
block content
	.documents
		.documents_banner
			.documents_container
				.documents_wrapper
					.documents_title Документы
		.documents_container
			.documents_list
				.documents_item
					a.documents_download(href='/tmp/pdf.pdf', download)
					.documents_name Разрешение на строительство
					.documents_wrp
						.documents_info
							.documents_date-wrap
								.documents_time 14:31
								.documents_br |
								.documents_date 30.10.2018
							.documents_fio Куликов Денис Юрьевич
						figure.documents_file
							.documents_icon
								svg(width='20', height='26')
									use(xlink:href='#document')
							figcaption
								.documents_size 125 kb
				.documents_item
					a.documents_download(href='/tmp/pdf.pdf', download)
					.documents_name Проектная декларация
					.documents_wrp
						.documents_info
							.documents_date-wrap
								.documents_time 14:31
								.documents_br |
								.documents_date 30.10.2018
							.documents_fio Куликов Денис Юрьевич
						figure.documents_file
							.documents_icon
								svg(width='20', height='26')
									use(xlink:href='#document')
							figcaption
								.documents_size 125 kb
				.documents_item
					a.documents_download(href='/tmp/pdf.pdf', download)
					.documents_name Заключение о соответствии застройщика
					.documents_wrp
						.documents_info
							.documents_date-wrap
								.documents_time 14:31
								.documents_br |
								.documents_date 30.10.2018
							.documents_fio Куликов Денис Юрьевич
						figure.documents_file
							.documents_icon
								svg(width='20', height='26')
									use(xlink:href='#document')
							figcaption
								.documents_size 125 kb
				.documents_item
					a.documents_download(href='/tmp/pdf.pdf', download)
					.documents_name Форма ДДУ
					.documents_wrp
						.documents_info
							.documents_date-wrap
								.documents_time 14:31
								.documents_br |
								.documents_date 30.10.2018
							.documents_fio Куликов Денис Юрьевич
						figure.documents_file
							.documents_icon
								svg(width='20', height='26')
									use(xlink:href='#document')
							figcaption
								.documents_size 125 kb
block page_bottom
