extends /layouts/main_layout
block vars
	- var title = "404";
block content
	.error
		.error__404
		.error__title Ошибка 404.<br> Страница не найдена
		a.error__back(href='/')
			span На главную
block page_bottom
