extends /layouts/main_layout
block vars
	- var title = "Выбор по параметрам";
block content
	.genplan-nav
		a.genplan-nav__item(href='/genplan.html') Выбор на генплане
		a.genplan-nav__item.genplan-nav__item--active(href='/filters.html') Выбор по параметрам
	.filters
		form.filters__choice#filterFlats(action="/ajax/filter-items.json", method="GET")
			input(type="hidden" name="act" value="get_typicals")
			input(type="hidden", name='offset', value='0')
			input(type="hidden", name='sort', value='area')
			input(type="hidden", name='sortdir', value='desc')
			.filters__main-checkbox-wrap
				label.filters__main-checkbox
					input.filters__main-checkbox-input(type='checkbox', name='corpus[]', value='7')
					.filters__main-checkbox-content
						span Корпус 7
				label.filters__main-checkbox
					input.filters__main-checkbox-input(type='checkbox', name='corpus[]', value='8')
					.filters__main-checkbox-content
						span Корпус 8
			.filters__rooms
				p.filters__choice-text.filters__choice-text--rooms Количество комнат
				.filters__main-checkbox-wrap
					label.filters__main-checkbox
						input.filters__main-checkbox-input(type='checkbox', name='rooms[]', value='1')
						.filters__main-checkbox-content
							span 1
					label.filters__main-checkbox
						input.filters__main-checkbox-input(type='checkbox', name='rooms[]', value='2')
						.filters__main-checkbox-content
							span 2
					label.filters__main-checkbox
						input.filters__main-checkbox-input(type='checkbox', name='rooms[]', value='3')
						.filters__main-checkbox-content
							span 3
			.filters__range-wrap
				p.filters__choice-text.filters__choice-text--range Этаж
				.filters__range
					input.filters__range-input.filters__range-input--from(type="range", value="8", min="6", max="14", name='floors_from')
					input.filters__range-input.filters__range-input--to(type="range", value="10", min="6", max="14", name='floors_to')
			.filters__range-wrap
				p.filters__choice-text.filters__choice-text--range Площадь, м²
				.filters__range
					input.filters__range-input.filters__range-input--from(type="range", value="41", min="41", max="70", name='area_from')
					input.filters__range-input.filters__range-input--to(type="range", value="70", min="41", max="70", name='area_to')
			.filters__range-wrap
				p.filters__choice-text.filters__choice-text--range Цена, ₽
				.filters__range.filters__range--price
					input.filters__range-input.filters__range-input--from(type="range", value="2200000", min="1935000", max="4223000" name='price_from')
					input.filters__range-input.filters__range-input--to(type="range", value="3200000", min="1935000", max="4223000", name='price_to')
			.filters__checkbox-wrap
				p.filters__choice-text.filters__choice-text--checkbox Вид из окон
				.filters__checkbox-items
					label.filters__checkbox
						input.filters__checkbox-input(type='checkbox', name='view[]', value='1', checked)
						.filters__checkbox-content
							.filters__checkbox-icon
								svg(width='12', height='9')
									use(xlink:href='#check')
							p.filters__checkbox-text Во двор
					label.filters__checkbox
						input.filters__checkbox-input(type='checkbox', name='view[]', value='2')
						.filters__checkbox-content
							.filters__checkbox-icon
								svg(width='12', height='9')
									use(xlink:href='#check')
							p.filters__checkbox-text На ул. Народного Ополчения
			button.filters__clear
				span Сброс параметров
		.filters__content
			.filters__head
				.filters__head-content
					p.filters__head-text Найдено 
						span.js-all-count
					.filters__head-items.js-list-sort
						p.filters__head-item.sorter(data-field="rooms") Комн.
						p.filters__head-item.sorter(data-field="area") Площадь
						p.filters__head-item.sorter(data-field="price") Цена, ₽
						p.filters__head-item.sorter(data-field="sale") Акции
			.filters__items.filters-flats#filterLists
			.filters__pag.filters-pag.js-paginations
block page_bottom
	script(src='js/filters.js')

//- 1110
