extends /layouts/main_layout
block vars
	- var title = "Выбор по параметрам";
block content
	.genplan-nav
		a.genplan-nav__item(href='/genplan.html') Выбор на генплане
		a.genplan-nav__item.genplan-nav__item--active(href='/filters.html') Выбор по параметрам
	.filters
		.filters__choice
			.filters__main-checkbox-wrap
				label.filters__main-checkbox
					input.filters__main-checkbox-input(type='checkbox', name='corpus', checked)
					.filters__main-checkbox-content
						span Корпус 7
				label.filters__main-checkbox
					input.filters__main-checkbox-input(type='checkbox', name='corpus')
					.filters__main-checkbox-content
						span Корпус 8
			.filters__rooms
				p.filters__choice-text.filters__choice-text--rooms Количество комнат
				.filters__main-checkbox-wrap
					label.filters__main-checkbox
						input.filters__main-checkbox-input(type='checkbox', name='rooms', checked)
						.filters__main-checkbox-content
							span 1
					label.filters__main-checkbox
						input.filters__main-checkbox-input(type='checkbox', name='rooms')
						.filters__main-checkbox-content
							span 2
					label.filters__main-checkbox
						input.filters__main-checkbox-input(type='checkbox', name='rooms')
						.filters__main-checkbox-content
							span 3
			.filters__range-wrap
				p.filters__choice-text.filters__choice-text--range Этаж
				.filters__range
					input.filters__range-input.filters__range-input--from(type="range", value="8", min="6", max="14", name='floors')
					input.filters__range-input.filters__range-input--to(type="range", value="10", min="6", max="14", name='floors')
			.filters__range-wrap
				p.filters__choice-text.filters__choice-text--range Площадь, м²
				.filters__range
					input.filters__range-input.filters__range-input--from(type="range", value="41", min="41", max="70", name='area')
					input.filters__range-input.filters__range-input--to(type="range", value="70", min="41", max="70", name='area')
			.filters__range-wrap
				p.filters__choice-text.filters__choice-text--range Цена, ₽
				.filters__range.filters__range--price
					input.filters__range-input.filters__range-input--from(type="range", value="2000000", min="2000000", max="4200000", name='price')
					input.filters__range-input.filters__range-input--to(type="range", value="3200000", min="2000000", max="4200000", name='price')
			.filters__checkbox-wrap
				p.filters__choice-text.filters__choice-text--checkbox Вид из окон
				.filters__checkbox-items
					label.filters__checkbox
						input.filters__checkbox-input(type='checkbox', name='view', checked)
						.filters__checkbox-content
							.filters__checkbox-icon
								svg(width='12', height='9')
									use(xlink:href='#check')
							p.filters__checkbox-text Во двор
					label.filters__checkbox
						input.filters__checkbox-input(type='checkbox', name='view')
						.filters__checkbox-content
							.filters__checkbox-icon
								svg(width='12', height='9')
									use(xlink:href='#check')
							p.filters__checkbox-text На ул. Народного Ополчения
		.filters__content
			.filters__head
				.filters__head-content
					p.filters__head-text Найдено
						span  14 типов квартир
					.filters__head-items
						p.filters__head-item Комн.
						p.filters__head-item Площадь
						p.filters__head-item Цена, ₽
						p.filters__head-item Акции
			.filters__items.filters-not-found
				.filters-not-found__icon
					svg(width='27', height='27')
						use(xlink:href='#search')
				p.filters-not-found__text Планировки по заданным параметрам не найдены, пожалуйста, измените параметры поиска.


block page_bottom
	script(src='js/filters.js')

//- 1110
