extends /layouts/main_layout
block vars
	- var title = "Карточка Типа";
block content
	.genplan-nav
		a.genplan-nav__back(href='javascript:history.back();')
			svg(width='21', height='12')
				use(xlink:href='#flat-arrow')
		a.genplan-nav__item(href='/genplan.html') Выбор на генплане
		a.genplan-nav__item.genplan-nav__item--active(href='/filters.html') Выбор по параметрам
	.filters
		form.filters__choice#filterFlats(data-list-type="FlatItemList", action="/ajax/filter-type.json", method="GET")
			input(type="hidden" name="act" value="get_flats")
			.filters__main-checkbox-wrap
				label.filters__main-checkbox
					input.filters__main-checkbox-input(type='checkbox', name='corpus[]', value='7', disabled)
					.filters__main-checkbox-content
						span Корпус 7
				label.filters__main-checkbox
					input.filters__main-checkbox-input(type='checkbox', name='corpus[]', value='8', disabled)
					.filters__main-checkbox-content
						span Корпус 8
			.filters__rooms
				p.filters__choice-text.filters__choice-text--rooms Количество комнат
				.filters__main-checkbox-wrap
					label.filters__main-checkbox
						input.filters__main-checkbox-input(type='checkbox', name='rooms[]', value='1')
						.filters__main-checkbox-content
							span 1
					label.filters__main-checkbox
						input.filters__main-checkbox-input(type='checkbox', name='rooms[]', value='2')
						.filters__main-checkbox-content
							span 2
					label.filters__main-checkbox
						input.filters__main-checkbox-input(type='checkbox', name='rooms[]', value='3')
						.filters__main-checkbox-content
							span 3
			.filters__range-wrap
				p.filters__choice-text.filters__choice-text--range Этаж
				.filters__range
					input.filters__range-input.filters__range-input--from(type="range", value="8", min="6", max="14", name='floors_from', disabled)
					input.filters__range-input.filters__range-input--to(type="range", value="10", min="6", max="14", name='floors_to', disabled)
			.filters__range-wrap
				p.filters__choice-text.filters__choice-text--range Площадь, м²
				.filters__range
					input.filters__range-input.filters__range-input--from(type="range", value="41", min="41", max="70", name='area_from')
					input.filters__range-input.filters__range-input--to(type="range", value="70", min="41", max="70", name='area_to')
			.filters__range-wrap
				p.filters__choice-text.filters__choice-text--range Цена, ₽
				.filters__range.filters__range--price
					input.filters__range-input.filters__range-input--from(type="range", value="2000000", min="2000000", max="4200000", name='price_from', disabled)
					input.filters__range-input.filters__range-input--to(type="range", value="3200000", min="2000000", max="4200000", name='price_to', disabled)
			.filters__checkbox-wrap
				p.filters__choice-text.filters__choice-text--checkbox Вид из окон
				.filters__checkbox-items
					label.filters__checkbox
						input.filters__checkbox-input(type='checkbox', name='view[]', value='1', checked, disabled)
						.filters__checkbox-content
							.filters__checkbox-icon
								svg(width='12', height='9')
									use(xlink:href='#check')
							p.filters__checkbox-text Во двор
					label.filters__checkbox
						input.filters__checkbox-input(type='checkbox', name='view[]', value='2')
						.filters__checkbox-content
							.filters__checkbox-icon
								svg(width='12', height='9')
									use(xlink:href='#check')
							p.filters__checkbox-text На ул. Народного Ополчения
			.filters__checkbox-wrap
				p.filters__choice-text.filters__choice-text--checkbox Другие
				.filters__checkbox-items
					label.filters__checkbox
						input.filters__checkbox-input(type='checkbox', name='view[]', value='1', checked)
						.filters__checkbox-content
							.filters__checkbox-icon
								svg(width='12', height='9')
									use(xlink:href='#check')
							p.filters__checkbox-text Акции
			button.filters__clear
				span Сброс параметров
		.filters__content
			.filters__flat.flat
				.flat__content
					.flat__head
						.flat__title Типовая<br> планировка 3
						.flat__links
							a.flat__link
								span.flat__link-icon
									svg(width='25', height='27')
										use(xlink:href='#print')
								span.flat__link-text Печать
							a.flat__link(href='#' dowload)
								span.flat__link-icon
									svg(width='21', height='26')
										use(xlink:href='#doc-pdf')
								span.flat__link-text Скачать
					.flat__images
						img.flat__img(src='/img/flat/flat-filters2.png', alt='flat')
					.flat__description-wrap
						.flat__title Типовая планировка 3
						.flat__description
							ul.flat__list
								li.flat__list-item
									p.flat__list-text Площадь
									span.flat__list-line
									p.flat__list-text 40,4 — 68,1 м²
								li.flat__list-item
									p.flat__list-text Комнат
									span.flat__list-line
									p.flat__list-text 1
								li.flat__list-item
									p.flat__list-text Цена
									span.flat__list-line
									p.flat__list-text.flat__list-text--price 2 — 4,2 млн. ₽
							.flat__links
								a.flat__link
									span.flat__link-icon
										svg(width='25', height='27')
											use(xlink:href='#print')
									span.flat__link-text Печать
								a.flat__link(href='#' dowload)
									span.flat__link-icon
										svg(width='21', height='26')
											use(xlink:href='#doc-pdf')
									span.flat__link-text Скачать
							.flat__text-wrap
								p.flat__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in lobortis lorem. Aenean nec luctus felis, ut ultricies nisi. Curabitur posuere augue eget nunc vehicula, ut blandit dui lacinia. Cras sit amet egestas lorem. Donec vulputate nulla in ligula dictum porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						a.flat__bid
							p.flat__bid-text Оставить заявку
								span на консультацию
							span.flat__bid-icon
								svg(width='11', height='15')
									use(xlink:href='#arrow-next')
			.filters__table
				.filters__table-title Квартиры планировки «Типовая 3»
				.filters-table#filterLists
block page_bottom
	script(src='js/filters.js')

//- 1110
