extends /layouts/main_layout
block vars
	- var title = "Карточка квартиры";
block content
	.genplan-nav.genplan-nav--flat
		a.genplan-nav__back(href='javascript:history.back();')
			svg(width='21', height='12')
				use(xlink:href='#flat-arrow')
	.flat
		.flat__head
			.flat__title Квартира <span>№</span>109
			.flat__links
				a.flat__link
					span.flat__link-icon
						svg(width='25', height='27')
							use(xlink:href='#print')
					span.flat__link-text Печать
				a.flat__link(href='#' dowload)
					span.flat__link-icon
						svg(width='21', height='26')
							use(xlink:href='#doc-pdf')
					span.flat__link-text Скачать
		.flat__content
			.flat__images
				.flat__static-img
					.flat__compass.compass
						svg(width='28', height='28')
							use(xlink:href='#compass')
					.flat__plan-wrap
						.flat__plan
							<svg class="flat__plan-svg" viewBox="0 0 135 46">
								<path class="flat__plan-sect flat__plan-sect--active" data-name="7k_1s_1" d="M72 45h-9V23H53V6h19v39z" />
								<path class="flat__plan-sect" data-name="7k_1s_2" d="M62 40H51v5h-9V24h20v16z" />
								<path class="flat__plan-sect" data-name="7k_1s_3" d="M41 45h-9v-5H21V24h20v21z" />
								<path class="flat__plan-sect" data-name="7k_1s_4" d="M1 6h19v39H1z" />
								<path class="flat__plan-sect" data-name="7k_2s_1" d="M125 23h-10V6h19v39h-9V23z" />
								<path class="flat__plan-sect" data-name="7k_2s_2" d="M124 24v16h-11v5h-9V24h20z" />
								<path class="flat__plan-sect" data-name="7k_2s_3" d="M103 24v21h-9v-5H83V24h20z" />
								<path class="flat__plan-sect" data-name="7k_2s_4" d="M73 6h9v39h-9z" />
								<path d="M104 5V0H82v5H42V0H20v5H0v41h21v-5h10v5h21v-5h10v5h21v-5h10v5h21v-5h10v5h11V5zM72 45h-9V23H53v-1h-1v1h-1v1h11v16H51v5h-9V24h6v-1H34v1h7v21h-9v-5H21V24h10v-1H21v-1h-1v23H1V6h19v13h1V6h3V5h-3V1h20v4h-1v1h12v9H37V5H27v2h1V6h8v6h-8v-2h-1v3h6v4h-5v-1h-1v2h7v-5h2v3h16v3h1V6h19v39zm62 0h-9V23h-10v-1h-1v1h-1v1h11v16h-11v5h-9V24h6v-1H97v1h6v21h-9v-5H83V24h11v-1H83v-1h-1v23h-9V6h9v13h1V6h3V5h-3V1h20v4h-1v1h12v9H99V5H89v1h1v1h1V6h7v6h-7v-2h-1v3h6v4h-5v-1h-1v2h7v-5h1v3h16v3h1V6h19z" fill="#222" />
							</svg>
						p.flat__plan-text ул. Народного Ополчения
				img.flat__img(src='https://bruschaty.ru/upload/information_system_23/2/1/2/item_212/information_items_property_44.svg', alt='flat')
			.flat__description-wrap
				.flat__title Квартира <span>№</span>109
				.flat__description
					ul.flat__list
						li.flat__list-item
							p.flat__list-text Корпус
							span.flat__list-line
							p.flat__list-text 7
						li.flat__list-item
							p.flat__list-text Секция
							span.flat__list-line
							p.flat__list-text 2
						li.flat__list-item
							p.flat__list-text Этаж
							span.flat__list-line
							p.flat__list-text 13
						li.flat__list-item
							p.flat__list-text Площадь
							span.flat__list-line
							p.flat__list-text 68,1 м²
						li.flat__list-item
							p.flat__list-text Комнат
							span.flat__list-line
							p.flat__list-text 2
						li.flat__list-item
							p.flat__list-text Цена
							span.flat__list-line
							p.flat__list-text.flat__list-text--price 4 519 200 <span>₽</span>
					.flat__links
						a.flat__link
							span.flat__link-icon
								svg(width='25', height='27')
									use(xlink:href='#print')
							span.flat__link-text Печать
						a.flat__link(href='#' dowload)
							span.flat__link-icon
								svg(width='21', height='26')
									use(xlink:href='#doc-pdf')
							span.flat__link-text Скачать
					.flat__text-wrap
						p.flat__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in lobortis lorem. Aenean nec luctus felis, ut ultricies nisi. Curabitur posuere augue eget nunc vehicula, ut blandit dui lacinia. Cras sit amet egestas lorem. Donec vulputate nulla in ligula dictum porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				a.flat__bid
					p.flat__bid-text Оставить заявку
						span на консультацию
					span.flat__bid-icon
						svg(width='11', height='15')
							use(xlink:href='#arrow-next')


block page_bottom
	script(src='js/filters.js')

//- 1110
