extends /layouts/main_layout
block vars
	- var title = "Карточка квартиры";
block content
	.genplan-nav.genplan-nav--flat
		a.genplan-nav__back(href='javascript:history.back();')
			svg(width='21', height='12')
				use(xlink:href='#flat-arrow')
	.flat
		.flat__head
			.flat__title Квартира <span>№</span>109
			.flat__links
				a.flat__link
					span.flat__link-icon
						svg(width='25', height='27')
							use(xlink:href='#print')
					span.flat__link-text Печать
				a.flat__link(href='#' dowload)
					span.flat__link-icon
						svg(width='21', height='26')
							use(xlink:href='#doc-pdf')
					span.flat__link-text Скачать
			
		.flat__content
			.flat__images
				.flat__static-img
					.flat__compass.compass
						svg(width='28', height='28')
							use(xlink:href='#compass')
					.flat__plan-wrap
						.flat__plan
							<svg class="flat__plan-svg" viewBox="0 0 200 46">
								<path class="flat__plan-sect flat__plan-sect--active" data-name="8k_1s_1" d="M55 45h9V1H45v25h10v19z" />
								<path class="flat__plan-sect" data-name="8k_1s_2" d="M54 45V27H33v18h21z" />
								<path class="flat__plan-sect" data-name="8k_1s_3" d="M32 45V27H11v18h21z" />
								<path class="flat__plan-sect" data-name="8k_1s_4" d="M20 1H1v44h9V26h10V1z" />
								<path class="flat__plan-sect" data-name="8k_2s_1" d="M109 26h10v19h9V1h-19v25z" />
								<path class="flat__plan-sect" data-name="8k_2s_2" d="M118 27v18H97V27h21z" />
								<path class="flat__plan-sect" data-name="8k_2s_3" d="M96 27v18H75V27h21z" />
								<path class="flat__plan-sect" data-name="8k_2s_4" d="M74 45h-9V1h19v25H74v19z" />
								<path class="flat__plan-sect" data-name="8k_3s_1" d="M183 26h16V6h-37v14h3v1h18v5z" />
								<path class="flat__plan-sect" data-name="8k_3s_2" d="M177 22h5v5h17v18h-22V22z" />
								<path class="flat__plan-sect" data-name="8k_3s_3" d="M176 27v18h-18V27h18z" />
								<path class="flat__plan-sect" data-name="8k_3s_4" d="M157 27v18h-18V27h18z" />
								<path class="flat__plan-sect" data-name="8k_3s_5" d="M138 45h-9V1h9v21h1v4h-1v19z" />
								<path d="M192 5h-30V0H0v46h200V5zM55 45V26H43v1h11v18H33V27h8v-1H26v1h6v18H11V27h12v-1H10v19H1V1h19v22h1v-4h9v-3h2v5h9v-1h-3v-1h-1v1h-4v-4h4v1h1v-3h-1v1h-7v-5h7v1h1V9h-5V6h6V5h-8v1h1v3h-3v9h-8V6h7V5h-7V1h23v4h-2v1h2v14h-1v1h1v2h1V1h19v44zm64 0V26h-12v1h11v18H97V27h7v-1H90v1h6v18H75V27h12v-1H74v19h-9V1h19v22h1v-4h9v-3h2v5h8v-1h-2v-1h-1v1h-4v-4h4v1h1v-3h-1v1h-7v-5h7v1h1V9h-5V6h6V5h-8v1h1v3h-3v9h-8V6h7V5h-7V1h23v4h-2v1h2v14h-1v1h1v2h1V1h19v44zm80-19h-16v-5h-9v1h2v1h1v-1h5v5h17v18h-22V26h-7v1h6v18h-18V27h9v-1h-18v1h8v18h-18V27h7v-1h-8v19h-9V1h9v21h1v1h1v-2h-1v-2h9v-3h1v5h9v-1h-2v-1h-1v1h-5v-4h5v1h1v-3h-1v1h-7v-5h7v1h1V9h-5V6h6V5h-8v1h1v3h-3v9h-8V6h7V5h-7V1h22v4h-1v1h1v15h3v1h7v-1h-6v-1h-3V6h37z" fill="#222" />
							</svg>
						p.flat__plan-text Центральный проезд
				img.flat__img(src='/img/flat/flat.svg', alt='flat')
			.flat__description-wrap
				.flat__title Квартира <span>№</span>109
				.flat__description
					ul.flat__list
						li.flat__list-item
							p.flat__list-text Корпус
							span.flat__list-line
							p.flat__list-text 8
						li.flat__list-item
							p.flat__list-text Секция
							span.flat__list-line
							p.flat__list-text 2
						li.flat__list-item
							p.flat__list-text Этаж
							span.flat__list-line
							p.flat__list-text 13
						li.flat__list-item
							p.flat__list-text Площадь
							span.flat__list-line
							p.flat__list-text 68,1 м²
						li.flat__list-item
							p.flat__list-text Комнат
							span.flat__list-line
							p.flat__list-text 2
						li.flat__list-item
							p.flat__list-text Цена
							span.flat__list-line
							p.flat__list-text.flat__list-text--price 4 519 200 <span>₽</span>
					.flat__links
						a.flat__link
							span.flat__link-icon
								svg(width='25', height='27')
									use(xlink:href='#print')
							span.flat__link-text Печать
						a.flat__link(href='#' dowload)
							span.flat__link-icon
								svg(width='21', height='26')
									use(xlink:href='#doc-pdf')
							span.flat__link-text Скачать
					.flat__text-wrap
						p.flat__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in lobortis lorem. Aenean nec luctus felis, ut ultricies nisi. Curabitur posuere augue eget nunc vehicula, ut blandit dui lacinia. Cras sit amet egestas lorem. Donec vulputate nulla in ligula dictum porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				a.flat__bid
					p.flat__bid-text Оставить заявку
						span на консультацию
					span.flat__bid-icon
						svg(width='11', height='15')
							use(xlink:href='#arrow-next')


block page_bottom
	script(src='js/filters.js')

//- 1110
