extends /layouts/main_layout
block vars
	- var title = "Альбом";
block content
	.gallery_single
		svg.gallery_single_bgCircleLeft
			use(xlink:href='#circle-left-detail')
		svg.gallery_single_bgCircleRight
			use(xlink:href='#circle-right')
		svg.gallery_single_bgCircleBottom
			use(xlink:href='#circle-bottom')
		.container
			.gallery_single_wrp
				.title.title-small Архитектура
				a.gallery_single_link(href="/gallery.html") Все альбомы
			.swiper-pagination
		.gallery_single_container
			.swiper-container.gallery_single_slider
				.gallery_single_control
					.gallery_single_btn.gallery_single_btn-prev
						svg(width="30%" height="40%")
							use(xlink:href="#arrow-btn-prev")
					.gallery_single_btn.gallery_single_btn-next
						svg(width="30%" height="40%")
							use(xlink:href="#arrow-btn-next")
				.swiper-wrapper
					.swiper-slide(style="background-image: url(./img/architecture_slide.jpg)")
					.swiper-slide(style="background-image: url(./img/architecture_slide.jpg)")
					.swiper-slide(style="background-image: url(./img/architecture_slide.jpg)")
					.swiper-slide(style="background-image: url(./img/architecture_slide.jpg)")
					.swiper-slide(style="background-image: url(./img/architecture_slide.jpg)")
					.swiper-slide(style="background-image: url(./img/architecture_slide.jpg)")
					.swiper-slide(style="background-image: url(./img/architecture_slide.jpg)")
					.swiper-slide(style="background-image: url(./img/architecture_slide.jpg)")
					.swiper-slide(style="background-image: url(./img/architecture_slide.jpg)")
					.swiper-slide(style="background-image: url(./img/architecture_slide.jpg)")
					.swiper-slide(style="background-image: url(./img/architecture_slide.jpg)")
					.swiper-slide(style="background-image: url(./img/architecture_slide.jpg)")
block page_bottom
	script(src="/js/gallery_single.js")