extends /layouts/main_layout
block vars
	- var title = "Галерея";
block content
	.gallery
		svg.gallery_bgCircleLeft(width='582', height='473')
			use(xlink:href='#circle-left')
		svg.gallery_bgCircleLeftMobile
			use(xlink:href='#circle-left-mobile')  
		svg.gallery_bgCircleRight
			use(xlink:href='#circle-right')
		svg.gallery_bgCircleBottom
			use(xlink:href='#circle-bottom')
		.container
			.title.title-center.title-middle Галерея
			.gallery_wrapper
				.gallery_item.gallery_item-architecture
					a.gallery_link(href="/gallery_single.html")
					.gallery_container
						.gallery_wrp
							.gallery_name Архитектура
							.gallery_numberPhotos 12 фото
						.gallery_btn
								svg(width="11" height="15")
									use(xlink:href="#arrow-btn-next")
				.gallery_item.gallery_item-environment
					a.gallery_link(href="/gallery_single.html")
					.gallery_container
						.gallery_wrp
							.gallery_name Окружение
							.gallery_numberPhotos 4 фото
						.gallery_btn
								svg(width="11" height="15")
									use(xlink:href="#arrow-btn-next")
				.gallery_item.gallery_item-architecture
					a.gallery_link(href="/gallery_single.html")
					.gallery_container
						.gallery_wrp
							.gallery_name Архитектура
							.gallery_numberPhotos 12 фото
						.gallery_btn
								svg(width="11" height="15")
									use(xlink:href="#arrow-btn-next")
block page_bottom
