extends /layouts/main_layout
block vars
	- var title = "Выбор на генплане";
	- var svg1 = '<svg  class="genplan__render" data-id="genplan-object_1" opacity="0.4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1005" enable-background="new 0 0 1920 1005" xml:space="preserve"><path d="M0,0v1005h1920V0H0z M1138,612l-2-1v-1v-2h-2v-4l-1-1c0,0-1,0-2-1s-1,0-1,0l-2,1l-2-1h-2l-1,2l-1,1l1,2l-1,2h-3l1,1l1,2l1,3 c0,0-1,2-1,3s-1,0-1-1s-2-2-2-2s0-1-2-1s-1,2-1,2s-1-1-2-1s0,2,0,2s0,1,1,2s2,0,2,0l1,2c0,0,2,1,3,1s1,1,1,1l-2,1c0,0-1-1-2-1 s-1,1-1,1l1,2l-2,1v2l-2,2l-2-1l1,2l-0.3,1.9l-5.7,4.8l0.1,6.3l-7.9,6.7l-0.1-6.4l-2-1.3l-1,1l-2,2l-1-1v-2v-2h-2l-1,2l-1-2h-1l-2,1	l-2,1c0,0-1,0-1-1s-2,1-2,1l-2,1h-2c0,0,0,1,0,2s-1,2-1,2h-2c0,0-2.1-0.4-3,0c-2,1,1,3,1,3l3,1l3,1l-2,1l-1,2v2h-2h-2v2l1,2v2h-1v2 l0.7,1l-2.8,2.3l-0.9-1.3h-2l1-2h-2l-1-1l-2,2l-2,1c0,0,0,3-1,2s-2,0-2,0v2v2l-1,1l-2,1v2c0,0,0,2,0,3s-1,0-1,0l-1,1l-0.8,2.1	l-4.2,3.5l-0.1,7L1024,714l-5.4-2.6l-3.4,2.8l12.8,7.8l-7,6l-11-4v-2c0,0,1.5-5-2.5-5s-2.5,5-2.5,5l0,0.7L983,741h-1l-71-26l-1-338 l15-8l7,2l5-3v-6l24-13l8,2l4-2v-6l24-14l7,2l4-2v-6l22-12l8,2l3-2v-6l22-12l73,17l-12,267l14,4V612z"/></svg><svg class="genplan__render" data-id="genplan-object_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1005" enable-background="new 0 0 1920 1005" xml:space="preserve"><path d="M0,0v1005h1920V0H0z M803,693c0,0,1-6-3-5s-2,5-2,5v3l-13,10c0,0,2-5-2-5s-3,4-3,4v4l-29,20l-30-11.4l-2-0.6l2-2l-1-2l-1-2 v-2h2c0,0,1,0,2-1s-1-1-1-1l-2-1l-2-1v-3h-3l-2,2v-2l2-1v-2l1-1v-2l-1-2l-1-1h-2l2-2v-2v-3l-2,1l-4,3h-2l-1-2h-2l-2,1l-2,2v1h-1 l-1,1l-1,1h-3v1v2h-2l2,2v2l-2,1v2h2l1,1h-4l-2-1v-5l-73-28v-4c0,0,3,0,2-3h-2l-1,1l-2-1v-2l-2-2l-3-1l1-2h2l1-4h-2h-2l-1,1l-1-1 l-2-2l-1-2l-1,1h-3h-3l2,1h-2l-1,1l1,2l-2,1h-2l3,3v2h-1l-3,1l-2,2l3,1l-4,1l-2-1v-6l-26.7-10l-0.3-1h-2l-2,1l1-2l1-2h-2l1-2 c0,0-0.6,0-1,0c1,0,0-1,0-1v-2h-2v-2h-1v-2l-1-1h-2l-1,2h-1l-1,3v1l1,1h-2l-0.3,1.5L521,634l-5,3l-6-2l2-2l-4-3l1-2l-2-3h-2l1-3	l-1-3l-1-1l-2-3l-2-2l-2,1l-1,4l-2,2l1,3l-1,1l-20.7-8.2L474,614h-1l-1-2h-1l-2-1v-2l2-1v-3v-2l-1-1h-3l1,1l-1,1h-1l-1-2 c0,0,0,0,1-1s0-1,0-2s-1-1-2-2s-3,0-3,0l-3-1h-2l-4-1l-1,2l-1,1l1,2l-1,1h-1l-1,1l4,1l-2,1h-2l0.7,1.8L434,600l-3-29l8-4l-33-281 l68-25l331,87l9,337L803,693z"/></svg>';
	- var svg2 = '<path  class="genplan__object" data-id="genplan-object_1" data-url="/house.html" d="M1138,612l-2-1v-1v-2h-2v-4l-1-1c0,0-1,0-2-1s-1,0-1,0l-2,1l-2-1h-2l-1,2l-1,1l1,2l-1,2h-3l1,1l1,2 l1,3c0,0-1,2-1,3s-1,0-1-1s-2-2-2-2s0-1-2-1s-1,2-1,2s-1-1-2-1s0,2,0,2s0,1,1,2s2,0,2,0l1,2c0,0,2,1,3,1s1,1,1,1l-2,1c0,0-1-1-2-1 s-1,1-1,1l1,2l-2,1v2l-2,2l-2-1l1,2l-0.3,1.9l-5.7,4.8l0.1,6.3l-7.9,6.7l-0.1-6.4l-2-1.3l-1,1l-2,2l-1-1v-2v-2h-2l-1,2l-1-2h-1l-2,1	l-2,1c0,0-1,0-1-1s-2,1-2,1l-2,1h-2c0,0,0,1,0,2s-1,2-1,2h-2c0,0-2.1-0.4-3,0c-2,1,1,3,1,3l3,1l3,1l-2,1l-1,2v2h-2h-2v2l1,2v2h-1v2 l0.7,1l-2.8,2.3l-0.9-1.3h-2l1-2h-2l-1-1l-2,2l-2,1c0,0,0,3-1,2s-2,0-2,0v2v2l-1,1l-2,1v2c0,0,0,2,0,3s-1,0-1,0l-1,1l-0.8,2.1	l-4.2,3.5l-0.1,7l-22,18.4l-5.4-2.6l-3.4,2.8l12.8,7.8l-7,6l-11-4v-2c0,0,1.5-5-2.5-5s-2.5,5-2.5,5v0.7L983,741h-1l-71-26l-1-338 l15-8l7,2l5-3v-6l24-13l8,2l4-2v-6l24-14l7,2l4-2v-6l22-12l8,2l3-2v-6l22-12l73,17l-12,267l14,4V612z"/><path  class="genplan__object" data-id="genplan-object_2" data-url="/house.html" d="M803,693c0,0,1-6-3-5s-2,5-2,5v3l-13,10c0,0,2-5-2-5s-3,4-3,4v4l-29,20l-30-11.4l-2-0.6l2-2l-1-2 l-1-2v-2h2c0,0,1,0,2-1s-1-1-1-1l-2-1l-2-1v-3h-3l-2,2v-2l2-1v-2l1-1v-2l-1-2l-1-1h-2l2-2v-2v-3l-2,1l-4,3h-2l-1-2h-2l-2,1l-2,2v1	h-1l-1,1l-1,1h-3v1v2h-2l2,2v2l-2,1v2h2l1,1h-4l-2-1v-5l-73-28v-4c0,0,3,0,2-3h-2l-1,1l-2-1v-2l-2-2l-3-1l1-2h2l1-4h-2h-2l-1,1l-1-1 l-2-2l-1-2l-1,1h-3h-3l2,1h-2l-1,1l1,2l-2,1h-2l3,3v2h-1l-3,1l-2,2l3,1l-4,1l-2-1v-6l-26.7-10l-0.3-1h-2l-2,1l1-2l1-2h-2l1-2 c0,0-0.6,0-1,0c1,0,0-1,0-1v-2h-2v-2h-1v-2l-1-1h-2l-1,2h-1l-1,3v1l1,1h-2l-0.3,1.5L521,634l-5,3l-6-2l2-2l-4-3l1-2l-2-3h-2l1-3 l-1-3l-1-1l-2-3l-2-2l-2,1l-1,4l-2,2l1,3l-1,1l-20.7-8.2L474,614h-1l-1-2h-1l-2-1v-2l2-1v-3v-2l-1-1h-3l1,1l-1,1h-1l-1-2 c0,0,0,0,1-1s0-1,0-2s-1-1-2-2s-3,0-3,0l-3-1h-2l-4-1l-1,2l-1,1l1,2l-1,1h-1l-1,1l4,1l-2,1h-2l0.7,1.8L434,600l-3-29l8-4l-33-281 l68-25l331,87l9,337L803,693z"/>';
block content
	.genplan-nav
		a.genplan-nav__item.genplan-nav__item--active(href='/genplan.html') Выбор на генплане
		a.genplan-nav__item(href='/filters.html') Выбор по параметрам
	.genplan
		.genplan__content-wrap
			.genplan__compass.compass
				svg(width='28', height='28')
					use(xlink:href='#compass')
			.genplan__content
				img.genplan__img-common(src='/img/genplan/genplan.jpg', alt='genplan')
				.genplan__renders !{svg1}
				svg(class="genplan__objects" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1005" enable-background="new 0 0 1920 1005" xml:space="preserve") !{svg2}
				.genplan__labels
					.genplan__street.genplan__street--left Центральный проезд
					.genplan__street.genplan__street--right ул. Народного Ополчения
					a.genplan__label(href='/house.html', data-id="genplan-object_1", style='top: 37.4%;left: 56.9%;')
						.genplan__label-description
							p.genplan__label-name Корпус 7
							p.genplan__label-text Сдача 2 кв 2021
						.genplan__label-nav
							svg(width='11', height='15')
								use(xlink:href='#arrow-next')
					a.genplan__label(href='/house.html', data-id="genplan-object_2", style='top: 34%;left: 32.8%;')
						.genplan__label-description
							p.genplan__label-name Корпус 8
							p.genplan__label-text Сдача 2 кв 2021
						.genplan__label-nav
							svg(width='11', height='15')
								use(xlink:href='#arrow-next')


block page_bottom
	script(src='js/genplan.js')

//- 1110
