extends /layouts/main_layout
block vars
	- var title = "Ипотека";
block content
	.hypothec
		.hypothec_banner
			.hypothec_container
				.hypothec_wrapper
					.hypothec_title Ипотека
		.hypothec_container.hypothec_container--main
			.hypothec_wrapper
				.hypothec_text Комфортные квартиры в зелёном, экологически чистом районе поблизости от Москвы ещё никогда не были такими доступными.
				.hypothec_text Сделать реальностью мечту об уютном жилище в благоустроенном и современном жилом комплексе — проще простого!
				.hypothec_text Воспользуйтесь выгодными ипотечными предложениями от одного из ведущих российских банков. Выбирайте то, что подходит именно вам:
			.hypothec_banks
				.hypothec_sorting
					button.hypothec_btn
					.hypothec_btnWrapper.hypothec_btnWrapper-contribution
						button.hypothec_btn.hypothec_btnContribution
							| Первоначальный взнос
							.hypothec_sortingStatus
								.hypothec_line.hypothec_line-one
								.hypothec_line.hypothec_line-two
								.hypothec_line.hypothec_line-three
					.hypothec_btnWrapper.hypothec_btnWrapper-rate
						button.hypothec_btn.hypothec_btnRate
							| Ставка
							.hypothec_sortingStatus
								.hypothec_line.hypothec_line-one
								.hypothec_line.hypothec_line-two
								.hypothec_line.hypothec_line-three
					.hypothec_btnWrapper.hypothec_btnWrapper-term
						button.hypothec_btn.hypothec_btnTerm
							| Срок кредита до
							.hypothec_sortingStatus
								.hypothec_line.hypothec_line-one
								.hypothec_line.hypothec_line-two
								.hypothec_line.hypothec_line-three
				.hypothec_banksWrapper
					.hypothec_bank(data-contribution="20" data-rate="6" data-term="25")
						.hypothec_header
							.hypothec_logo
								svg(width="80" height="34")
									use(xlink:href="#bank-russian-capital")
							.hypothec_contribution от 20%
							.hypothec_rate <span>Ставка</span> 6%
							.hypothec_term 25 лет
					.hypothec_bank(data-contribution="20" data-rate="9" data-term="30")
						.hypothec_header
							.hypothec_logo
								svg(width="75" height="24")
									use(xlink:href="#bank-our-city")
							.hypothec_contribution от 20%
							.hypothec_rate <span>Ставка</span> 9%
							.hypothec_term 30 лет
					.hypothec_bank(data-src="bank-sberbank" data-contribution="15" data-rate="9.1" data-term="30")
						.hypothec_header
							.hypothec_logo
								svg(width="94" height="24")
									use(xlink:href="#bank-sber")
							.hypothec_contribution от 15%
							.hypothec_rate <span>Ставка</span> 9,1%
							.hypothec_term 30 лет
						.hypothec_content
							.hypothec_bankText «Сбербанк России» предлагает ипотечную программу на приобретение квартир в жилом комплексе «Брусчатый поселок».
							.hypothec_bankText <b>Первоначальный взнос</b> – от 15% от стоимости приобретаемой недвижимости.
							.hypothec_bankText <b>Срок кредитования</b> – до 30 лет.
							.hypothec_bankText <b>Процентная ставка</b> до/после оформления права собственности – от 8,7% годовых в рублях.
							.hypothec_bankText Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос – 50%
							.hypothec_bankText Комиссии за рассмотрение заявки на кредит и за выдачу кредита – отсутствуют.
							.hypothec_bankText Мораторий на досрочное погашение кредита (частичное или полное) – отсутствует.
					.hypothec_bank(data-src="bank-ak-bars" data-contribution="20" data-rate="9.1" data-term="25")
						.hypothec_header
							.hypothec_logo
								svg(width="89" height="18")
									use(xlink:href="#bank-ak-bars")
							.hypothec_contribution от 20%
							.hypothec_rate <span>Ставка</span> 9,1%
							.hypothec_term 25 лет
						.hypothec_content
							.hypothec_bankText «Ак Барс Банк» предлагает ипотечную программу на приобретение квартир в жилом комплексе «Брусчатый поселок».
							.hypothec_bankText <b>Первоначальный взнос</b> – от 15% от стоимости приобретаемой недвижимости.
							.hypothec_bankText <b>Срок кредитования</b> – до 30 лет.
							.hypothec_bankText <b>Процентная ставка</b> до/после оформления права собственности – от 8,7% годовых в рублях.
							.hypothec_bankText Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос – 50%
							.hypothec_bankText Комиссии за рассмотрение заявки на кредит и за выдачу кредита – отсутствуют.
							.hypothec_bankText Мораторий на досрочное погашение кредита (частичное или полное) – отсутствует.
					.hypothec_bank(data-contribution="20" data-rate="9.2" data-term="30")
						.hypothec_header
							.hypothec_logo
								svg(width="112" height="24")
									use(xlink:href="#bank-gazprom")
							.hypothec_contribution от 20%
							.hypothec_rate <span>Ставка</span> 9,2%
							.hypothec_term 30 лет
					.hypothec_bank(data-contribution="20" data-rate="9.4" data-term="25")
						.hypothec_header
							.hypothec_logo
								svg(width="113" height="19")
									use(xlink:href="#bank-promsvyaz")
							.hypothec_contribution от 20%
							.hypothec_rate <span>Ставка</span> 9,4%
							.hypothec_term 25 лет
					.hypothec_bank(data-contribution="15" data-rate="9.45" data-term="20")
						.hypothec_header
							.hypothec_logo
								svg(width="115" height="20")
									use(xlink:href="#bank-roseuro")
							.hypothec_contribution от 15%
							.hypothec_rate <span>Ставка</span> 9,45%
							.hypothec_term 20 лет
					.hypothec_bank(data-contribution="15" data-rate="9.6" data-term="30")
						.hypothec_header
							.hypothec_logo
								svg(width="50" height="18")
									use(xlink:href="#bank-vtb")
							.hypothec_contribution от 15%
							.hypothec_rate <span>Ставка</span> 9,6%
							.hypothec_term 30 лет
					.hypothec_bank(data-contribution="15" data-rate="9.75" data-term="25")
						.hypothec_header
							.hypothec_logo
								svg(width="80" height="34")
									use(xlink:href="#bank-russian-capital")
							.hypothec_contribution 15 - 49.99%
							.hypothec_rate <span>Ставка</span> 9,75%
							.hypothec_term 25 лет
					.hypothec_bank(data-contribution="15" data-rate="9.75" data-term="25")
						.hypothec_header
							.hypothec_logo
								svg(width="104" height="25")
									use(xlink:href="#bank-vozr")
							.hypothec_contribution 15 - 49.99%
							.hypothec_rate <span>Ставка</span> 9,75%
							.hypothec_term 25 лет
					.hypothec_bank(data-contribution="15" data-rate="9.75" data-term="25")
						.hypothec_header
							.hypothec_logo
								svg(width="135" height="26")
									use(xlink:href="#bank-mkb")
							.hypothec_contribution 15 - 49.99%
							.hypothec_rate <span>Ставка</span> 9,75%
							.hypothec_term 25 лет
			.callMe.callMe-black
				.hypothec_callTitle Возникли вопросы?
				.hypothec_text Наши менеджеры по ипотеке помогут выбрать оптимальную программу, собрать необходимый пакет документов и заключить сделку.
				form.form(action="/ajax/form-response.json", data-action="/ajax/form-response.json", autocomplete="off", novalidate="novalidate")
					.form_wrapper
						.form_wrapperField
							input.form_text(type="tel" placeholder="+7 (123) 456-78-90" required name="phone")
						button.button.form_button.form_button-send.button-green Отправить
							svg.white(width="10" height="15")
								use(xlink:href="#arrow-button")
					//- .form_wrapper.form_wrapper-center
					//- 	input.form_agreeCheckbox(type="checkbox" id="i-agree")
					//- 	label.form_agree(for="i-agree") <span>Я согласен(-на) на обработку моих персональных данных
		.hypothec__gray

block page_bottom
	script(src='js/hypothec.js')
