extends /layouts/main_layout
block vars
	- var title = "Брусчатый посёлок";
block content
	a(href="javascript:;", data-fancybox="", data-src="#mainVideo").mainVideoBtn.hidden-xs
		span С высоты птичьего&nbsp;полета
	.swiper-container.indexFullPage
		.swiper-wrapper.indexFullPage_wrapper
			.swiper-slide
				section.indexName
					.indexName_content
						.MainVideoBtnsList.hidden-xs
							a(href="#", title="Ключи в следующем году").mainVideoBtn.mainVideoBtn-image.MainVideoBtnsList_btn
								img(src="img/mainvideobtn_1.jpg", alt="Ключи в следующем году")
								span Ключи в #[br]следующем году
							a(href="#", title="ОПЦИИ: отделка White Box").mainVideoBtn.mainVideoBtn-image.MainVideoBtnsList_btn
								img(src="img/mainvideobtn_2.jpg", alt="ОПЦИИ: отделка White Box")
								span ОПЦИИ: #[br]отделка White Box
							a(href="#", title="Метро и МЦД рядом").mainVideoBtn.mainVideoBtn-image.MainVideoBtnsList_btn
								img(src="img/mainvideobtn_3.jpg", alt="Метро и МЦД рядом")
								span Метро и МЦД #[br]рядом
						.swiper-container.SwiperMainVideoBtns
							.swiper-wrapper
								.swiper-slide
									a(href="javascript:;", data-fancybox="", data-src="#mainVideo").mainVideoBtn.SwiperMainVideoBtns_btn.SwiperMainVideoBtns_btn-video
										span С высоты птичьего&nbsp;полета
								.swiper-slide
									a(href="#").mainVideoBtn.mainVideoBtn-image.SwiperMainVideoBtns_btn
										img(src="img/mainvideobtn_1.jpg", alt="Ключи в следующем году")
										span Ключи в #[br]следующем году
								.swiper-slide
									a(href="/trim.html").mainVideoBtn.mainVideoBtn-image.SwiperMainVideoBtns_btn
										img(src="img/mainvideobtn_2.jpg", alt="ОПЦИИ: отделка White Box")
										span ОПЦИИ: #[br]отделка White Box
								.swiper-slide
									a(href="#").mainVideoBtn.mainVideoBtn-image.SwiperMainVideoBtns_btn
										img(src="img/mainvideobtn_3.jpg", alt="Метро и МЦД рядом")
										span Метро и МЦД #[br]рядом
							.swiper-pagination.SwiperMainVideoBtns_pagination
						.indexName_title ЖК «БРУСЧАТЫЙ ПОСЕЛОК»
						.indexName_text «Брусчатый посёлок» — это новый жилой комплекс на северо-западе от Москвы, в городе Красногорске.
						.indexName_text.indexName_text-mobile «Брусчатый посёлок» — <br> это новый жилой комплекс <br> на северо-западе от Москвы, <br> в городе Красногорске.
						.indexName_btnDown
							svg(width="15" height="9")
								use(xlink:href="#arrow-down")
					.indexName_stock
						.indexName_stockWrapper
							.indexName_stockName
								svg(width="13" height="12")
									use(xlink:href='#star')
								| Акция
							.indexName_stocText
								| 30 квартир по специальной цене в честь начала продаж!
								a.indexName_stocLink(href="#")
									| Подробнее
									svg
										use(xlink:href="#arrow-link")
						//-a.indexName_stocLink(href="#")
							| Подробнее
							svg
								use(xlink:href="#arrow-link")
			.swiper-slide
				section.indexContainer(data-name="park")
					.indexContainer_slider
						.swiper-container.indexContainer_sliderPark
							.swiper-wrapper
								.swiper-slide(style="background-image: url(./img/park.jpg)")
								.swiper-slide(style="background-image: url(./img/district.jpg)")
								.swiper-slide(style="background-image: url(./img/park.jpg)")
								.swiper-slide(style="background-image: url(./img/district.jpg)")
								.swiper-slide(style="background-image: url(./img/park.jpg)")
								.swiper-slide(style="background-image: url(./img/district.jpg)")
								.swiper-slide(style="background-image: url(./img/park.jpg)")
								.swiper-slide(style="background-image: url(./img/district.jpg)")
								.swiper-slide(style="background-image: url(./img/park.jpg)")
								.swiper-slide(style="background-image: url(./img/district.jpg)")
						.indexContainer_count 01		
						.indexContainer_contorl
							.indexContainer_btnWrapper
								.indexContainer_btn.indexContainer_btnPrev
									svg.indexContainer_btnArrow
										use(xlink:href="#arrow-btn-prev")
							.indexContainer_btnWrapper
								svg.indexContainer_btnProgres(width="100%" height="100%" viewBox="0 0 78 78")
									circle.indexContainer_btnProgresValue(r="38.5" cx="50%" cy="50%" fill="transparent" stroke-dasharray="241.78")
								.indexContainer_btn.indexContainer_btnNext
									svg.indexContainer_btnArrow
										use(xlink:href="#arrow-btn-next")
					.indexContainer_park
						.indexContainer_wrp
							.indexContainer_time
								.indexContainer_num 5
								.indexContainer_timeText мин. <br> пешком
							.indexContainer_way
							svg(width="17" height="32")
								use(xlink:href="#man")
						.title Губайловский лесопарк
						.indexContainer_text Прогулки на свежем воздухе, утренние пробежки, оборудованные зоны для активного отдыха в парке.
						.indexContainer_text Город Красногорск, где возводится жилой комплекс, входит в знаменитый «зеленый» пояс столицы. Великолепная экологическая обстановка, отсутствие вредных производств, обширные лесопарковые зоны — всё это создаёт комфортную для проживания среду.
						a.button(href="#")
							| Выбрать квартиру
							span рядом с парком
							svg(width="10" height="15")
								use(xlink:href="#arrow-button")
			.swiper-slide
				section.indexContainer
					.indexContainer_location
						#map(data-latlag='55.834977,37.317508', data-json='../markers.json')
					.indexContainer_infrastructura
						.title.title-white Все, что нужно для комфортной жизни современного человека
						.indexContainer_text.indexContainer_text-white Прекрасное расположение и доступность объектов инфраструктуры — ключевые характеристики “Брусчатого посёлка”. Вокруг жилого комплекса есть всё необходимое современному городскому жителю: продуктовые магазины, торговые центры, кафе, рестораны, фитнес-клубы, аптеки, школы и детские сады.
						a.button(href="/infrastructure.html")
							span Подробнее о
							| Инфраструктуре
							svg(width="10" height="15")
								use(xlink:href="#arrow-button")
			.swiper-slide
				section.indexContainer
					.indexContainer_transportBg
					.indexContainer_transportAccessibility
						.title Транспортная доступность
						.indexContainer_spaces
							.indexContainer_item
								.indexContainer_distance 2,5 км
								.indexContainer_highway Волоколамское <br> шоссе
							.indexContainer_item
								.indexContainer_distance 4 км
								.indexContainer_highway Пятницкое <br> шоссе
							.indexContainer_item
								.indexContainer_distance 7,3 км
								.indexContainer_highway Новорижское <br> шоссе
							.indexContainer_item.indexContainer_item-notMarginR
								.indexContainer_distance 7,5 км
								.indexContainer_highway Ильинское <br> шоссе
							.indexContainer_item.indexContainer_item-width В конце 2018 года будет запущена развязка Волоколамского и Ильинского шоссе
						.indexContainer_wrpTransport
							.indexContainer_transport
								.indexContainer_icon
									svg(width="22" height="29")
										use(xlink:href="#metro")
									| Скоро!
								.indexContainer_text.indexContainer_text-notMargin Красногорск соединит со столицей линия комфортабельного легкого метро с современными составами класса “Ласточка”.
							.indexContainer_transport
								.indexContainer_icon
									img(src='./img/bus.png')
									img(src='./img/rzd.png')
								.indexContainer_text.indexContainer_text-notMargin Красногорск связан со столицей многочисленными автобусными маршрутами, железнодорожной веткой и веткой метро (станция “Мякинино”).
			.swiper-slide
				section.indexContact
					.callMe
						.title.title-white.title-center Узнайте о выгодных <br> условиях покупки жилья
						.indexContact_text Наши менеджеры ответят на любые вопросы
						form.form(action="/ajax/form-response.json", data-action="/ajax/form-response.json", autocomplete="off", novalidate="novalidate")
							.form_wrapper.form_wrapper-center
								.form_wrapperField
									input.form_text(type="tel" placeholder="+7 (123) 456-78-90" required name="phone")
								button.button.form_button.button-green
									span Получить
									| Выгодные условия
									svg.white(width="10" height="15")
										use(xlink:href="#arrow-button")
							.form_wrapper.form_wrapper-center.form_wrapper-checkbox
								.form_wrapperField.form_wrapperField-checkbox
									input.form_agreeCheckbox(type="checkbox" id="i-agree" required name="agree")
									label.form_agree(for="i-agree") <span>Я согласен(-на) на обработку моих персональных данных</span>
			.swiper-slide
				include /includes/blocks/footer.pug

		.swiper-pagination.indexFullPage_pagination

block page_bottom
	#mainVideo.mainVideo
		video(controls="controls")
			source(src="../img/mainVideo/video.mp4")

	script(src="/js/index.js")
