extends /layouts/main_layout
block vars
	- var title = "Инфраструктура";
block content
	.infrastructure
		.infrastructure_banner
			.infrastructure_container
				.infrastructure_wrapper
					.infrastructure_title Инфраструктура
		.infrastructure_container
			.infrastructure_wrapper
				.infrastructure_text Проект застройки ЖК «БРУСЧАТЫЙ ПОСЕЛОК» предполагает тщательно продуманное развитие собственной инфраструктуры и прилегающей территории. 
				.infrastructure_text На территории жилого комплекса предусмотрено строительство детского сада, поликлиники, открытие отделений банков, магазина эко-продуктов, прачечной, химчистки, семейного кафе и других объектов социально-бытового и культурного назначения.
				.infrastructure_text Украшением территории комплекса будет авторский ландшафтный дизайн, удобные и безопасные детские площадки, и современная система освещения. 
				.infrastructure_text За обеспечение безопасности и комфортного проживания отвечает многофункциональная система внутридворового и внутридомового видеонаблюдения. <strong> Жилой комплекс «БРУСЧАТЫЙ ПОСЕЛОК» является участником программы Правительства Московской области «Безопасный регион».</strong>
			.infrastructure_parking
				.infrastructure_info На территории комплекса функционирует удобный подземный паркинг с современной автомойкой. Парковочные места можно приобрести уже сейчас.
			.infrastructure_wrapper
				.infrastructure_text В шаговой доступности от жилого комплекса находится великолепный, обновленный Губайловский эко-парк. 32 гектара леса, 6 километров освещаемых пешеходных дорожек, детские и спортивные площадки, в том числе, для маломобильных групп населения, площадки для воркаута и маунтинбайка, комнаты матери и ребенка, площадки для выгула и дрессировки собак. Здесь же расположен детский городок «Лесная Сказка», Красногорский городской парк.
			.infrastructure_wrapperPhoto
				.infrastructure_photo(style="background-image: url(./img/infrastructure/park_1.jpg)")
				.infrastructure_photo(style="background-image: url(./img/infrastructure/park_2.jpg)")
			.infrastructure_wrapper
				.infrastructure_text ЖК «БРУСЧАТЫЙ ПОСЕЛОК» окружен объектами, составляющими спортивный кластер Красногорска: спортивный комплекс «Зоркий», плавательный бассейн, Академия хоккея им. Владимира Петрова, лыжный стадион, всесезонный горнолыжный комплекс «Снеж.ком», филиал Академии тенниса Шамиля Тарпищева.
			.infrastructure_sport
			.infrastructure_wrapperCall
				.infrastructure_call Все это дает возможность жителям ЖК выбрать спортивные занятия на любой вкус!
				a.button.button-small.button-green(href="#")
					| Выбрать квартиру
					svg.white(width="10" height="15")
						use(xlink:href="#arrow-button")
		.infrastructure_wrapperMap
			#map(data-latlag='55.832692,37.314328', data-markers="../markers.json")
			.infrastructure_fillter
				ul.infrastructure_list
					li
						button.infrastructure_item(data-group='products')
							.infrastructure_icon.infrastructure_icon-shop
								svg(width="12" height="15")
									use(xlink:href="#icon-map-shop")
							.infrastructure_subtitle Магазины
					li
						button.infrastructure_item(data-group='medicine')
							.infrastructure_icon.infrastructure_icon-med
								svg(width="16" height="16")
									use(xlink:href="#icon-map-med")
							.infrastructure_subtitle Поликлиники / Больницы
					li
						button.infrastructure_item(data-group='detsad')
							.infrastructure_icon.infrastructure_icon-kids
								svg(width="12" height="11")
									use(xlink:href="#icon-map-kids")
							.infrastructure_subtitle Детские сады
					li
						button.infrastructure_item(data-group='shcools')
							.infrastructure_icon.infrastructure_icon-shcool
								svg(width="14" height="10")
									use(xlink:href="#icon-map-shcool")
							.infrastructure_subtitle Школы / ВУЗы
					li
						button.infrastructure_item(data-group='park')
							.infrastructure_icon.infrastructure_icon-park
								svg(width="13" height="16")
									use(xlink:href="#icon-map-park")
							.infrastructure_subtitle Парки
					li
						button.infrastructure_item(data-group='food')
							.infrastructure_icon.infrastructure_icon-food
								svg(width="9" height="13")
									use(xlink:href="#icon-map-food")
							.infrastructure_subtitle Кафе / Бары
					li
						button.infrastructure_item(data-group='bank')
							.infrastructure_icon.infrastructure_icon-bank
								svg(width="18" height="16")
									use(xlink:href="#icon-map-bank")
							.infrastructure_subtitle Банки
					li
						button.infrastructure_item(data-group='sport')
							.infrastructure_icon.infrastructure_icon-sport
								svg(width="14" height="8")
									use(xlink:href="#icon-map-sport")
							.infrastructure_subtitle Фитнес залы
				.infrastructure_control
					button.infrastructure_btn.infrastructure_btnShow.active Показать все
					button.infrastructure_btn.infrastructure_btnHide Скрыть все
block page_bottom
	script(src="/js/infrastructure.js")
