extends /layouts/main_layout
block vars
	- var title = "Новости";
block content
	.news
		.news_list
			.news_container
				.news_tabs
					a.news_tab.news_tab-active(href="/news.html") Новости
					| /
					a.news_tab(href="/stock.html") Акции
				.news_wrapper
					.news_item.news_item-active(data-open="0" data-src="news_1")
						.news_img(style="background-image: url('./img/news/news_1_mobile.jpg')")
							.news_date 10 окт 2018
						.news_content
							.news_headline Начато строительство корпуса 8
							.news_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur.
					.news_line
					.news_item(data-open="1" data-src="news_2")
						.news_img.news_img-left(style="background-image: url('./img/news/news_2_mobile.jpg')")
							.news_date 9 окт 2018
						.news_content
							.news_headline 48% - текущий этап строительства седьмого корпуса 48% - текущий этап строительства седьмого корпуса 48% - текущий этап строительства седьмого корпуса
							.news_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex.
					.news_line
					.news_item(data-open="2" data-src="news_3")
						.news_img(style="background-image: url('./img/news/news_3_mobile.jpg')")
							.news_date 7 окт 2018
						.news_content
							.news_headline Новая развязка Волоколамского и Ильинского шоссе
							.news_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex.
					.news_line
					.news_item(data-open="3" data-src="news_4")
						.news_img(style="background-image: url('./img/news/news_4_mobile.jpg')")
							.news_date 1 окт 2018
						.news_content
							.news_headline Ваш новый двор
							.news_text Прогулки на свежем воздухе, утренние  пробежки, оборудованные зоны для активного отдыха в парке.
		.news_detail
			.news_container
				.news_detailItem(data-open="0")
					.news_detailTitle Начато строительство корпуса 8
					.news_detailImg(style="background-image: url(./img/news/news_detail_1.jpg)")
					.news_detailText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur. Aliquam vitae erat ut nulla posuere vehicula. Nullam viverra mi turpis. Nulla facilisi. Maecenas suscipit orci non mauris elementum, non aliquet tortor cursus. Proin in condimentum magna, sed semper dolor. Praesent tellus purus, accumsan nec congue a, bibendum vitae ligula. Sed iaculis faucibus diam id sollicitudin. Vestibulum tincidunt auctor libero, non feugiat felis. In massa mi, viverra mollis tincidunt vitae, lacinia in mi. Duis elementum sem nulla, eu malesuada est interdum at. Integer nisl est, viverra nec dapibus non, vestibulum sed elit. Quisque placerat ligula eget ipsum varius, quis interdum quam interdum. Ut molestie ante massa, quis tristique neque semper quis.
					.news_detailText In est nibh, eleifend sed rutrum ac, feugiat non massa. Sed lacinia mauris et leo rutrum, sit amet feugiat diam pulvinar. Praesent consectetur condimentum mauris egestas egestas. Vivamus ornare faucibus risus, vel maximus felis tristique vel. Nam nunc tortor, convallis vitae ante eget, laoreet tincidunt leo. Proin accumsan luctus magna, id malesuada urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sagittis ligula ut placerat laoreet.
					.news_detailText Mauris condimentum massa eget ex accumsan, id lacinia purus tincidunt. Pellentesque lacus est, faucibus sit amet arcu vitae, fringilla semper sapien. Pellentesque ultricies risus vitae leo lacinia euismod. Quisque ultrices, nibh sit amet eleifend posuere, tortor leo dignissim tellus, ac lobortis ante felis ac velit. Fusce turpis nunc, auctor a rhoncus quis, efficitur tincidunt urna. Aenean scelerisque neque ut vestibulum fringilla. Cras fringilla eu massa id imperdiet. Vivamus ullamcorper gravida justo, ut efficitur tellus tempor vitae. Nulla interdum tellus eget tortor dictum, sed sollicitudin ligula euismod. Nulla porta ut felis at dictum. Integer id tempus sapien. Nullam cursus ut magna dapibus egestas. Vivamus non leo nibh. Ut non tempus nulla, sed laoreet felis. Mauris interdum tristique tincidunt. Quisque bibendum dapibus orci, sit amet pulvinar velit blandit eget.
				.news_detailItem(data-open="1")
					.news_detailTitle 48% - текущий этап строительства седьмого корпуса
					.news_detailImg(style="background-image: url(./img/news/news_2.jpg)")
					.news_detailText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur. Aliquam vitae erat ut nulla posuere vehicula. Nullam viverra mi turpis. Nulla facilisi. Maecenas suscipit orci non mauris elementum, non aliquet tortor cursus. Proin in condimentum magna, sed semper dolor. Praesent tellus purus, accumsan nec congue a, bibendum vitae ligula. Sed iaculis faucibus diam id sollicitudin. Vestibulum tincidunt auctor libero, non feugiat felis. In massa mi, viverra mollis tincidunt vitae, lacinia in mi. Duis elementum sem nulla, eu malesuada est interdum at. Integer nisl est, viverra nec dapibus non, vestibulum sed elit. Quisque placerat ligula eget ipsum varius, quis interdum quam interdum. Ut molestie ante massa, quis tristique neque semper quis.
					.news_detailText In est nibh, eleifend sed rutrum ac, feugiat non massa. Sed lacinia mauris et leo rutrum, sit amet feugiat diam pulvinar. Praesent consectetur condimentum mauris egestas egestas. Vivamus ornare faucibus risus, vel maximus felis tristique vel. Nam nunc tortor, convallis vitae ante eget, laoreet tincidunt leo. Proin accumsan luctus magna, id malesuada urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sagittis ligula ut placerat laoreet.
					.news_detailText Mauris condimentum massa eget ex accumsan, id lacinia purus tincidunt. Pellentesque lacus est, faucibus sit amet arcu vitae, fringilla semper sapien. Pellentesque ultricies risus vitae leo lacinia euismod. Quisque ultrices, nibh sit amet eleifend posuere, tortor leo dignissim tellus, ac lobortis ante felis ac velit. Fusce turpis nunc, auctor a rhoncus quis, efficitur tincidunt urna. Aenean scelerisque neque ut vestibulum fringilla. Cras fringilla eu massa id imperdiet. Vivamus ullamcorper gravida justo, ut efficitur tellus tempor vitae. Nulla interdum tellus eget tortor dictum, sed sollicitudin ligula euismod. Nulla porta ut felis at dictum. Integer id tempus sapien. Nullam cursus ut magna dapibus egestas. Vivamus non leo nibh. Ut non tempus nulla, sed laoreet felis. Mauris interdum tristique tincidunt. Quisque bibendum dapibus orci, sit amet pulvinar velit blandit eget.
				.news_detailItem(data-open="2")
					.news_detailTitle Новая развязка Волоколамского и Ильинского шоссе
					.news_detailImg(style="background-image: url(./img/news/news_3.jpg)")
					.news_detailText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur. Aliquam vitae erat ut nulla posuere vehicula. Nullam viverra mi turpis. Nulla facilisi. Maecenas suscipit orci non mauris elementum, non aliquet tortor cursus. Proin in condimentum magna, sed semper dolor. Praesent tellus purus, accumsan nec congue a, bibendum vitae ligula. Sed iaculis faucibus diam id sollicitudin. Vestibulum tincidunt auctor libero, non feugiat felis. In massa mi, viverra mollis tincidunt vitae, lacinia in mi. Duis elementum sem nulla, eu malesuada est interdum at. Integer nisl est, viverra nec dapibus non, vestibulum sed elit. Quisque placerat ligula eget ipsum varius, quis interdum quam interdum. Ut molestie ante massa, quis tristique neque semper quis.
					.news_detailText In est nibh, eleifend sed rutrum ac, feugiat non massa. Sed lacinia mauris et leo rutrum, sit amet feugiat diam pulvinar. Praesent consectetur condimentum mauris egestas egestas. Vivamus ornare faucibus risus, vel maximus felis tristique vel. Nam nunc tortor, convallis vitae ante eget, laoreet tincidunt leo. Proin accumsan luctus magna, id malesuada urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sagittis ligula ut placerat laoreet.
					.news_detailText Mauris condimentum massa eget ex accumsan, id lacinia purus tincidunt. Pellentesque lacus est, faucibus sit amet arcu vitae, fringilla semper sapien. Pellentesque ultricies risus vitae leo lacinia euismod. Quisque ultrices, nibh sit amet eleifend posuere, tortor leo dignissim tellus, ac lobortis ante felis ac velit. Fusce turpis nunc, auctor a rhoncus quis, efficitur tincidunt urna. Aenean scelerisque neque ut vestibulum fringilla. Cras fringilla eu massa id imperdiet. Vivamus ullamcorper gravida justo, ut efficitur tellus tempor vitae. Nulla interdum tellus eget tortor dictum, sed sollicitudin ligula euismod. Nulla porta ut felis at dictum. Integer id tempus sapien. Nullam cursus ut magna dapibus egestas. Vivamus non leo nibh. Ut non tempus nulla, sed laoreet felis. Mauris interdum tristique tincidunt. Quisque bibendum dapibus orci, sit amet pulvinar velit blandit eget.
				.news_detailItem(data-open="3")
					.news_detailTitle Ваш новый двор
					.news_detailImg(style="background-image: url(./img/news/news_4.jpg)")
					.news_detailText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur. Aliquam vitae erat ut nulla posuere vehicula. Nullam viverra mi turpis. Nulla facilisi. Maecenas suscipit orci non mauris elementum, non aliquet tortor cursus. Proin in condimentum magna, sed semper dolor. Praesent tellus purus, accumsan nec congue a, bibendum vitae ligula. Sed iaculis faucibus diam id sollicitudin. Vestibulum tincidunt auctor libero, non feugiat felis. In massa mi, viverra mollis tincidunt vitae, lacinia in mi. Duis elementum sem nulla, eu malesuada est interdum at. Integer nisl est, viverra nec dapibus non, vestibulum sed elit. Quisque placerat ligula eget ipsum varius, quis interdum quam interdum. Ut molestie ante massa, quis tristique neque semper quis.
					.news_detailText In est nibh, eleifend sed rutrum ac, feugiat non massa. Sed lacinia mauris et leo rutrum, sit amet feugiat diam pulvinar. Praesent consectetur condimentum mauris egestas egestas. Vivamus ornare faucibus risus, vel maximus felis tristique vel. Nam nunc tortor, convallis vitae ante eget, laoreet tincidunt leo. Proin accumsan luctus magna, id malesuada urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sagittis ligula ut placerat laoreet.
					.news_detailText Mauris condimentum massa eget ex accumsan, id lacinia purus tincidunt. Pellentesque lacus est, faucibus sit amet arcu vitae, fringilla semper sapien. Pellentesque ultricies risus vitae leo lacinia euismod. Quisque ultrices, nibh sit amet eleifend posuere, tortor leo dignissim tellus, ac lobortis ante felis ac velit. Fusce turpis nunc, auctor a rhoncus quis, efficitur tincidunt urna. Aenean scelerisque neque ut vestibulum fringilla. Cras fringilla eu massa id imperdiet. Vivamus ullamcorper gravida justo, ut efficitur tellus tempor vitae. Nulla interdum tellus eget tortor dictum, sed sollicitudin ligula euismod. Nulla porta ut felis at dictum. Integer id tempus sapien. Nullam cursus ut magna dapibus egestas. Vivamus non leo nibh. Ut non tempus nulla, sed laoreet felis. Mauris interdum tristique tincidunt. Quisque bibendum dapibus orci, sit amet pulvinar velit blandit eget.
block page_bottom
	script(src="./js/news.js")
