extends /layouts/main_layout
block vars
	- var title = 'Выбор квартиры';
block content
	.genplan-nav
		a.genplan-nav__back(href='javascript:history.back();')
			svg(width='21', height='12')
				use(xlink:href='#flat-arrow')
		a.genplan-nav__item(href='/genplan.html') Выбор на генплане
		a.genplan-nav__item.genplan-nav__item--active(href='/filters.html') Выбор по параметрам
	.section
		.section__compass-wrap
			.section__compass.compass
				svg(width='28', height='28')
					use(xlink:href='#compass')
			.section__delivery.house-delivery
				.house-delivery__text-wrap
					.house-delivery__courpus Корпус 8
					.house-delivery__text Сдача 2 кв 2021
		.section__section-nav
			a.section__section-arrow
				svg(width='11', height='15')
					use(xlink:href='#arrow-prev')
			p.section__section-text Секция 2
			a.section__section-arrow
				svg(width='11', height='15')
					use(xlink:href='#arrow-next') 

		.section__street ул. Народного Ополчения

		.section__content
			.section__left
				.section__plan-wrap
					svg.section__plan-svg(viewbox='0 0 170 180', xmlns='http://www.w3.org/2000/svg')
						
						// START: corpus #7
						g
							path.section__plan-building.section__plan-building--active(d='M0 48V24h48v24z')
							path.section__plan-building(d='M48 48V24h48v24z')
						// END: corpus #7
						
						// START: corpus #8
						g
							path.section__plan-building(d='M116 92V48h24v44z')
							path.section__plan-building(d='M116 136V92h24v44z')
							path.section__plan-building(d='M116 136h24v44h-24z')
						// END: corpus #8

						g#text
							g
								path(d='M4.871,10.446a4.455,4.455,0,0,1-1.246,1.933,3.007,3.007,0,0,1-2.283.434l.084-.6a2.6,2.6,0,0,0,1.652-.364,3.68,3.68,0,0,0,.967-1.5l.168-.378H3.989a.351.351,0,0,1-.351-.239L1.061,3.19h.952l2,5.3c.1.252.2.518.281.785h.2l.294-.8L6.776,3.19h.953Z')
								path(d='M14.14,9.97h-.9V3.891H11.521c-.6,0-.854.266-.925.9A15.47,15.47,0,0,1,9.868,8.6,2.1,2.1,0,0,1,7.977,10.04l-.1-.7A1.689,1.689,0,0,0,9.084,8.317a14.6,14.6,0,0,0,.672-3.656A1.452,1.452,0,0,1,11.4,3.19H14.14Z')
								path(d='M17.022,8.471c.252,0,.35.1.35.35v.8c0,.252-.1.35-.35.35h-.308c-.239,0-.336-.1-.336-.35v-.8c0-.252.1-.35.336-.35Z')
								path(d='M29.583,9.97h-.924V5.193H23.8V9.97h-.911V.305H23.8v4.1h4.861V.305h.924Z')
								path(d='M31.973,3.316a22.312,22.312,0,0,1,3.264-.308c1.387,0,2.171.532,2.171,2.087V9.97h-.7L36.6,8.779a4.521,4.521,0,0,1-2.969,1.3,1.729,1.729,0,0,1-1.933-1.835V7.462A1.563,1.563,0,0,1,33.472,5.81h3.039V5.1c0-.854-.322-1.317-1.442-1.317-.812,0-1.975.084-3.012.2Zm.617,4.847c0,.77.378,1.134,1.19,1.134a4.379,4.379,0,0,0,2.731-1.148V6.524h-2.9a.93.93,0,0,0-1.022,1.05Z')
								path(d='M40.542,4.311a4.1,4.1,0,0,1,2.8-1.3c1.708,0,2.38,1.162,2.38,3.6,0,2.591-.77,3.53-2.535,3.53a5.376,5.376,0,0,1-2.619-.715,8.59,8.59,0,0,1,.042,1.345v2.059h-.883V3.19h.729Zm.07,4.538a7.492,7.492,0,0,0,2.4.5c1.3,0,1.806-.63,1.806-2.759,0-2.073-.49-2.8-1.722-2.8a4.093,4.093,0,0,0-2.48,1.163Z')
								path(d='M53.677,6.58c0,2.606-.826,3.558-3.109,3.558s-3.125-.952-3.125-3.558.841-3.572,3.125-3.572S53.677,3.975,53.677,6.58Zm-5.309,0c0,2.143.559,2.8,2.2,2.8,1.625,0,2.183-.658,2.183-2.8s-.558-2.8-2.183-2.8C48.927,3.778,48.368,4.436,48.368,6.58Z')
								path(d='M61.769,12h-.588l-.1-2.031H55.437L55.353,12h-.6V9.241h.742a10.867,10.867,0,0,0,1.122-4.594A1.4,1.4,0,0,1,58.2,3.19h2.7V9.241h.869Zm-3.432-8.11a.83.83,0,0,0-.91.882,9.885,9.885,0,0,1-1.121,4.468h3.74V3.891Z')
								path(d='M69.259,9.97h-.883V6.706H64.427V9.97h-.869V3.19h.869V6.005h3.949V3.19h.883Z')
								path(d='M77.519,6.58c0,2.606-.826,3.558-3.11,3.558s-3.125-.952-3.125-3.558.842-3.572,3.125-3.572S77.519,3.975,77.519,6.58Zm-5.309,0c0,2.143.559,2.8,2.2,2.8,1.625,0,2.184-.658,2.184-2.8s-.559-2.8-2.184-2.8C72.769,3.778,72.21,4.436,72.21,6.58Z')
								path(d='M79.517,4.591a1.286,1.286,0,0,1,1.428-1.429c1.164,0,2.326,0,3.431.084l-.027.645H81.3c-.617,0-.9.279-.9.91V9.97h-.883Z')
								path(d='M91.644,6.58c0,2.606-.826,3.558-3.11,3.558s-3.125-.952-3.125-3.558.842-3.572,3.125-3.572S91.644,3.975,91.644,6.58Zm-5.309,0c0,2.143.559,2.8,2.2,2.8,1.625,0,2.184-.658,2.184-2.8s-.559-2.8-2.184-2.8C86.894,3.778,86.335,4.436,86.335,6.58Z')
								path(d='M104.048,5.137c0,3.74-.967,5-3.726,5s-3.727-1.261-3.727-5,.967-5,3.727-5S104.048,1.4,104.048,5.137Zm-6.5,0c0,3.138.7,4.188,2.774,4.188s2.759-1.05,2.759-4.188S102.394.949,100.322.949,97.548,2,97.548,5.137Z')
								path(d='M111.788,9.97h-.867V3.9H107.04V9.97h-.869V3.19h5.617Z')
								path(d='M120.064,6.58c0,2.606-.826,3.558-3.11,3.558s-3.125-.952-3.125-3.558.842-3.572,3.125-3.572S120.064,3.975,120.064,6.58Zm-5.309,0c0,2.143.559,2.8,2.2,2.8,1.625,0,2.184-.658,2.184-2.8s-.559-2.8-2.184-2.8C115.314,3.778,114.755,4.436,114.755,6.58Z')
								path(d='M127.37,9.97h-.9V3.891h-1.723c-.6,0-.853.266-.924.9A15.517,15.517,0,0,1,123.1,8.6a2.1,2.1,0,0,1-1.891,1.443l-.1-.7a1.689,1.689,0,0,0,1.2-1.022,14.6,14.6,0,0,0,.672-3.656,1.453,1.453,0,0,1,1.64-1.471h2.744Z')
								path(d='M134.679,9.97H133.8V6.944a7.409,7.409,0,0,1-2.816.588c-1.065,0-1.61-.476-1.61-1.471V3.19h.883V5.8c0,.715.307,1,1.008,1a5.82,5.82,0,0,0,2.535-.561V3.19h.883Z')
								path(d='M137.644,7.014c.111,1.849.8,2.353,2.34,2.353a19.551,19.551,0,0,0,2.353-.168l.1.6a9.027,9.027,0,0,1-2.565.336c-2.267,0-3.15-.981-3.15-3.586,0-2.648.883-3.544,3.039-3.544,1.947,0,2.816.714,2.83,2.115.014,1.219-.449,1.891-1.555,1.891Zm3.179-.7c.7,0,.883-.5.87-1.177-.014-.952-.575-1.359-1.891-1.359-1.584,0-2.131.617-2.158,2.536Z')
								path(d='M150.247,9.97h-.882V6.706h-3.95V9.97h-.869V3.19h.869V6.005h3.95V3.19h.882Z')
								path(d='M157.611,9.97V5.1c0-.28.013-.546.027-.84h-.027a4.8,4.8,0,0,1-.45.714l-3.824,5h-.728V3.19h.8V8.037c0,.294,0,.56-.013.868h.027a6.049,6.049,0,0,1,.463-.728L157.7,3.19h.728V9.97Z')
								path(d='M162.214,7.028c-1.148-.1-1.611-.826-1.611-1.947,0-1.163.574-1.961,2.41-1.961a27.121,27.121,0,0,1,2.926.1V9.97h-.867V7.364H163.1c-.772,0-1.248.295-1.387.8l-.533,1.807h-.924l.629-2a1.431,1.431,0,0,1,1.332-.9Zm2.858-3.152c-.491-.014-1.206-.014-2.045-.014-1.219,0-1.541.491-1.541,1.359,0,.981.377,1.471,1.652,1.471h1.934Z')
							g
								path(d='M168.089,171.907v.631l-2.115.1V179.7h-9.665v-.911h8.909V174h-8.909v-.925h8.909v-1.163Z')
								path(d='M163.019,169.923c1.848-.112,2.352-.8,2.352-2.339a19.551,19.551,0,0,0-.168-2.353l.6-.1a9.027,9.027,0,0,1,.336,2.563c0,2.269-.981,3.152-3.586,3.152-2.648,0-3.544-.883-3.544-3.04,0-1.947.715-2.815,2.115-2.829,1.219-.015,1.892.447,1.892,1.555Zm-.7-3.179c0-.7-.505-.883-1.176-.869-.954.014-1.36.575-1.36,1.891,0,1.583.616,2.129,2.536,2.157Z')
								path(d='M165.974,157.6v.882H162.71v3.951h3.264v.868h-6.78v-.868h2.816v-3.951h-2.816V157.6Z')
								path(d='M159.923,152.884h6.051v.883h-6.051v2.55h-.729v-6h.729Z')
								path(d='M160.314,148.224a4.105,4.105,0,0,1-1.3-2.8c0-1.709,1.163-2.38,3.6-2.38,2.591,0,3.53.77,3.53,2.535a5.388,5.388,0,0,1-.714,2.619,8.574,8.574,0,0,1,1.344-.042h2.059v.883h-9.637v-.729Zm4.54-.07a7.521,7.521,0,0,0,.5-2.4c0-1.3-.629-1.806-2.759-1.806-2.073,0-2.8.49-2.8,1.722a4.1,4.1,0,0,0,1.162,2.48Z')
								path(d='M159.32,141.365a22.451,22.451,0,0,1-.308-3.264c0-1.387.532-2.171,2.088-2.171h4.874v.7l-1.191.113a4.519,4.519,0,0,1,1.3,2.969,1.729,1.729,0,0,1-1.835,1.933h-.784a1.564,1.564,0,0,1-1.654-1.779v-3.039H161.1c-.855,0-1.318.322-1.318,1.442,0,.813.084,1.976.2,3.012Zm4.847-.616c.771,0,1.135-.378,1.135-1.191a4.389,4.389,0,0,0-1.149-2.731h-1.625v2.9a.931.931,0,0,0,1.05,1.023Z')
								path(d='M165.974,128.523v.9H159.9v1.723c0,.6.266.855.9.925a15.488,15.488,0,0,1,3.811.728,2.1,2.1,0,0,1,1.442,1.891l-.7.1a1.69,1.69,0,0,0-1.023-1.2,14.5,14.5,0,0,0-3.656-.672,1.453,1.453,0,0,1-1.471-1.64v-2.745Z')
								path(d='M161.954,123.737c0-2.018.532-2.634,2.059-2.634,1.611,0,2.045.729,2.045,2.508,0,1.316-.014,1.932-.084,2.8v.014h-6.78v-.854h2.76Zm3.375,1.835c0-.463.015-1.093.015-1.835,0-1.261-.252-1.723-1.373-1.723-1.009,0-1.345.378-1.345,1.723v1.835Z')
								path(d='M165.974,113.837v.883H162.71v3.949h3.264v.87h-6.78v-.87h2.816V114.72h-2.816v-.883Z')
								path(d='M165.974,104.274v.883h-6.78v-.883Zm-4.02,4.791c0-1.892.532-2.48,2.059-2.48,1.611,0,2.045.672,2.045,2.354,0,1.316-.014,1.933-.084,2.8v.014h-6.78V110.9h2.76Zm3.375,1.835c0-.463.015-1.093.015-1.835,0-1.148-.252-1.569-1.373-1.569-1.009,0-1.345.35-1.345,1.569V110.9Z')
								path(d='M156.169,97.332a1.793,1.793,0,0,1,1.849,2.017,1.824,1.824,0,0,1-1.849,2.045v-.715a1.324,1.324,0,1,0,0-2.647Zm9.8-.168H161.1c-.281,0-.547-.014-.841-.029v.029a4.763,4.763,0,0,1,.715.448l5,3.824v.729h-6.78v-.8h4.847c.294,0,.561,0,.868.014v-.028a6.049,6.049,0,0,1-.728-.463l-4.987-3.809v-.729h6.78Z')
								path(d='M165.974,85.754v.869h-6.066V90.5h6.066v.87h-6.78V85.754Z')
								path(d='M160.314,82.844a4.1,4.1,0,0,1-1.3-2.8c0-1.709,1.163-2.38,3.6-2.38,2.591,0,3.53.77,3.53,2.535a5.385,5.385,0,0,1-.714,2.619,8.574,8.574,0,0,1,1.344-.042h2.059v.883h-9.637v-.729Zm4.54-.07a7.516,7.516,0,0,0,.5-2.4c0-1.3-.629-1.806-2.759-1.806-2.073,0-2.8.49-2.8,1.722a4.1,4.1,0,0,0,1.162,2.48Z')
								path(d='M162.584,69.99c2.6,0,3.558.826,3.558,3.109s-.953,3.124-3.558,3.124-3.572-.841-3.572-3.124S159.979,69.99,162.584,69.99Zm0,5.308c2.144,0,2.8-.559,2.8-2.2,0-1.624-.658-2.184-2.8-2.184s-2.8.56-2.8,2.184C159.782,74.739,160.44,75.3,162.584,75.3Z')
								path(d='M163.019,67.641c1.848-.111,2.352-.8,2.352-2.339a19.536,19.536,0,0,0-.168-2.353l.6-.1a9.025,9.025,0,0,1,.336,2.564c0,2.268-.981,3.151-3.586,3.151-2.648,0-3.544-.883-3.544-3.04,0-1.946.715-2.816,2.115-2.829,1.219-.014,1.892.448,1.892,1.554Zm-.7-3.18c0-.7-.505-.881-1.176-.868-.954.014-1.36.574-1.36,1.891,0,1.583.616,2.13,2.536,2.157Z')
								path(d='M159.278,61.454a9.049,9.049,0,0,1-.2-2.017c0-2.2.351-2.983,1.793-2.983.98,0,1.5.336,1.6,1.428h.028a1.557,1.557,0,0,1,1.807-1.653c1.344,0,1.779.784,1.779,2.844a17.822,17.822,0,0,1-.182,2.563l-.686-.084c.042-.518.111-1.512.111-2.424,0-1.526-.308-1.974-1.2-1.974-1,0-1.274.5-1.289,1.947v1.513h-.672v-1.5c0-1.373-.252-1.78-1.177-1.78-.953,0-1.148.505-1.148,2.116a14.628,14.628,0,0,0,.111,1.919Z')
								path(d='M168.005,48.3v.588l-2.031.1v5.644l2.031.084v.6h-2.76V54.58a10.838,10.838,0,0,0-4.594-1.122,1.4,1.4,0,0,1-1.457-1.583v-2.7h6.051V48.3Zm-8.11,3.432a.831.831,0,0,0,.882.91,9.859,9.859,0,0,1,4.468,1.121v-3.74H159.9Z')



			.section__visual-wrap
				<svg xmlns="http://www.w3.org/2000/svg" class="section__svg" viewBox="0 0 827 523" width="827" height="523" style="z-index:3;">
					<g class="section__svg-hover-backs" opacity="0.3">
						<polygon class="section__svg-hover-back section__svg-hover-back--disabled" data-id="164" fill="#ffdf5d" points="817 457 779 457 779 475 820 475 820 512 708 512 708 475 711 475 711 263 598 263 598 66 817 66 817 457"></polygon>
						<polygon class="section__svg-hover-back" data-id="165" fill="#ffdf5d" points="701 457 582 457 582 512 476 512 476 475 554 475 554 457 479 457 479 273 701 273 701 457"></polygon>
						<polygon class="section__svg-hover-back" data-id="166" fill="#ffdf5d" points="469 457 394 457 394 475 472 475 472 512 362 512 362 457 247 457 247 273 469 273 469 457"></polygon>
						<polygon class="section__svg-hover-back" data-id="167" fill="#ffdf5d" points="237 457 166 457 166 475 240 475 240 512 4 512 4 475 83 475 83 457 18 457 18 66 237 66 237 457"></polygon>
					</g>
					<g class="section__svg-hovers" opacity="0">
						<polygon data-status="sold" data-id="164" data-url="/flat_single.html" data-number="1" data-area="50.8" data-rooms="2" data-price="4 326 500" class="section__svg-hover" points="817 457 779 457 779 475 820 475 820 512 708 512 708 475 711 475 711 263 598 263 598 66 817 66 817 457"></polygon>
						<polygon data-id="165" data-url="/flat_single2.html" data-number="2" data-area="33" data-rooms="1" data-price="2 813 500" class="section__svg-hover" points="701 457 582 457 582 512 476 512 476 475 554 475 554 457 479 457 479 273 701 273 701 457"></polygon>
						<polygon data-id="166" data-url="/flat_single.html" data-number="3" data-area="33" data-rooms="1" data-price="2 813 500" class="section__svg-hover" points="469 457 394 457 394 475 472 475 472 512 362 512 362 457 247 457 247 273 469 273 469 457"></polygon>
						<polygon data-id="167" data-url="/flat_single2.html" data-number="4" data-area="70" data-rooms="3" data-price="5 967 000" class="section__svg-hover" points="237 457 166 457 166 475 240 475 240 512 4 512 4 475 83 475 83 457 18 457 18 66 237 66 237 457"></polygon>
					</g>
				</svg>
				img.section__svg(src='/tmp/section_placeholder.svg', alt='section')

			.section__label(style='top: 37.4%;left: 56.9%;')
				.section__label-description
					p.section__label-text.section__label-text--number Квартира <p>№</p><span>109</span>
					p.section__label-text.section__label-text--area <span>68,1</span> м²	
					p.section__label-text.section__label-text--rooms <span>2</span> комн.
					p.section__label-text.section__label-text--price <span>4 519 200</span> ₽
			.section__right
				.section__floor-wrap 
					.section__floor-title-wrap
						p.section__floor-title Этаж
					.section__floors
						a.section__floor-item(href='/section.html') <span>17</span>
						a.section__floor-item(href='/section.html') <span>16</span>
						a.section__floor-item(href='/section.html') <span>15</span>
						a.section__floor-item(href='/section.html') <span>14</span>
						a.section__floor-item.section__floor-item--active(href='/section.html') <span>13</span>
						a.section__floor-item(href='/section.html') <span>12</span>
						a.section__floor-item(href='/section.html') <span>11</span>
						a.section__floor-item(href='/section.html') <span>10</span>
						a.section__floor-item(href='/section.html') <span>9</span>
						a.section__floor-item(href='/section.html') <span>8</span>
						a.section__floor-item(href='/section.html') <span>7</span>
						a.section__floor-item(href='/section.html') <span>6</span>
						a.section__floor-item(href='/section.html') <span>5</span>
						a.section__floor-item(href='/section.html') <span>4</span>
						a.section__floor-item(href='/section.html') <span>3</span>
						a.section__floor-item(href='/section.html') <span>2</span>

		.section__street(style="visibility:hidden;") ул. Парковая

block page_bottom
	script(src='js/section.js')
