extends /layouts/main_layout
block vars
	- var title = "Акции";
block content
	.stock
		.stock_list
			.stock_container
				.stock_tabs
					a.stock_tab.stock_tab-active(href="/stock.html") Акции
					| /
					a.stock_tab(href="/news.html") Новости
				.stock_wrapper
					.stock_item.stock_item-active(data-open="0" data-src="stock_1")
						.stock_img(style="background-image: url('./img/news/news_2_mobile.jpg')")
							.stock_date 10 окт 2018
						.stock_content
							.stock_headline Начато строительство корпуса 8 Начато строительство корпуса 8 Начато строительство корпуса 8
							.stock_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur.
					.stock_line

		.stock_detail
			.stock_container
				.stock_detailItem(data-open="0")
					.stock_detailTitle Начато строительство корпуса 8
					.stock_detailText Mauris condimentum massa eget ex accumsan, id lacinia purus tincidunt. Pellentesque lacus est, faucibus sit amet arcu vitae, fringilla semper sapien. Pellentesque ultricies risus vitae leo lacinia euismod. Quisque ultrices, nibh sit amet eleifend posuere, tortor leo dignissim tellus, ac lobortis ante felis ac velit. Fusce turpis nunc, auctor a rhoncus quis, efficitur tincidunt urna. Aenean scelerisque neque ut vestibulum fringilla. Cras fringilla eu massa id imperdiet. Vivamus ullamcorper gravida justo, ut efficitur tellus tempor vitae. Nulla interdum tellus eget tortor dictum, sed sollicitudin ligula euismod. Nulla porta ut felis at dictum. Integer id tempus sapien. Nullam cursus ut magna dapibus egestas. Vivamus non leo nibh. Ut non tempus nulla, sed laoreet felis. Mauris interdum tristique tincidunt. Quisque bibendum dapibus orci, sit amet pulvinar velit blandit eget.
block page_bottom
	script(src="./js/stock.js")
