extends /layouts/main_layout
block vars
	- var title = "Транспортная доступность";
block content
	.transport_accessibility
		.transport_accessibility_banner
			.transport_accessibility_container
				.transport_accessibility_wrapper
					.transport_accessibility_title Транспортная доступность
		.transport_accessibility_container
			.transport_accessibility_wrapper
				.transport_accessibility_text В шаговой доступности от жилого комплекса расположены остановки общественного транспорта. Поблизости проходит улица Ленина с выездом на Волоколамское шоссе. В столицу можно домчаться также по Новорижскому, Ильинскому и Пятницкому шоссе. А в конце 2018 года откроется новая развязка на пересечении Волоколамки и Ильинки — добираться станет еще удобнее!
		.transport_accessibility_container
			.transport_accessibility_map
					.transport_accessibility_route
						.transport_accessibility_tabs
							.transport_accessibility_tab.transport_accessibility_tab-active(id='car') Автомобиль
							.transport_accessibility_tab(id='buses') Автобусы
						.transport_accessibility_list
							.transport_accessibility_item.transport_accessibility_item-active(data-lan='55.844875', data-lon='37.364346')
								.transport_accessibility_icon.transport_accessibility_icon-metro
									svg(width='14', height='10')
										use(xlink:href='#metro_2')
								.transport_accessibility_desc
									.transport_accessibility_name Митино
									.transport_accessibility_time 15 мин&nbsp&nbsp 4,5 км
									.transport_accessibility_traffic Без пробок: 11 мин
							.transport_accessibility_item(data-lan='55.857176', data-lon='37.353910')
								.transport_accessibility_icon.transport_accessibility_icon-metro
									svg(width='14', height='10')
										use(xlink:href='#metro_2')
								.transport_accessibility_desc
									.transport_accessibility_name Пятницкое шоссе
									.transport_accessibility_time 18 мин&nbsp&nbsp 5,6 км
									.transport_accessibility_traffic Без пробок: 15 мин
							.transport_accessibility_item(data-lan='55.835508', data-lon='37.382034')
								.transport_accessibility_icon.transport_accessibility_icon-metro
									svg(width='14', height='10')
										use(xlink:href='#metro_2')
								.transport_accessibility_desc
									.transport_accessibility_name Волоколамская
									.transport_accessibility_time 19 мин&nbsp&nbsp 7 км
									.transport_accessibility_traffic Без пробок: 16 мин
							.transport_accessibility_item(data-lan='55.832298', data-lon='37.395185')
								.transport_accessibility_icon.transport_accessibility_icon-mkad
									svg(width='13', height='18')
										use(xlink:href='#mkad')
								.transport_accessibility_desc
									.transport_accessibility_name МКАД (68-й километр)
									.transport_accessibility_time 22 мин&nbsp&nbsp 7,3 км
									.transport_accessibility_traffic Без пробок: 16 мин
							.transport_accessibility_item(data-lan='55.814983', data-lon='37.339750')
								.transport_accessibility_icon.transport_accessibility_icon-train
									svg(width='14', height='14')
										use(xlink:href='#train')
								.transport_accessibility_desc
									.transport_accessibility_name Станция «Павшино»
									.transport_accessibility_time 15 мин&nbsp&nbsp 4,1 км
									.transport_accessibility_traffic Без пробок: 7 мин
					#map(data-json='../get_to.json')
		.transport_accessibility_container
			.transport_accessibility_wrapper
				.transport_accessibility_text До станции метро "Митино" можно добраться на транспорте за полчаса. Буквально в 15 минутах от “Брусчатого посёлка” находится станция "Павшино". В июле 2018 года открылась долгожданная “северная хорда”, которая соединила улицу Речную в Красногорске с улицей Зенитчиков в Митино. Она позволяет жителям Красногорска моментально добираться в этот район Москвы, будь то дела, работа или необходимость отвезти детей на учебу. Да и станция метро “Митино” стала намного доступнее! 
				.transport_accessibility_text Также на 2019-2020 годы запланировано открытие МЦД-2 — одной из важнейших линий проекта Московских центральных диаметров. Линия МЦД-2 свяжет станции “Опалиха” и “Красногорск” в единую систему с метрополитеном Москвы. Ближайшие пересадочные станции с МЦД-2 на метро: Волоколамская, Тушинская, Щукинская, Войковская и Стрешнево на МКЦ, а также Дмитровская и МЦД-1. Красногорск будет надежно связан со столицей!
block page_bottom
	script(src='./js/transport_accessibility.js')
