extends /layouts/main_layout
block vars
    - var title = "Отделка";
block content
    .Page.Page-trim
        .Page_banner
            .Page_container
                .Page_wrapper
                    .Page_title #{title}
        .Page_container
            .Page_wrapper
                .Page_text
                    p #[span.semibold В качестве дополнительной опции Мы предлагаем:]
                    ul
                        li Качественный ремонт от Застройщика.
                        li Экономия времени на ремонте – быстрое заселение.
                        li Экономия до 30 % бюджета на ремонт.
                        li Отсутствие «черновых» работ в квартире.
                        li Шумные работы сведены к минимуму.
                        li Возможность индивидуализации – свобода выбора дизайна, цветовой гаммы, отделочных материалов.
        .AskQuestion
            .AskQuestion_wrapper
                .AskQuestion_left
                .AskQuestion_right
                    .AskQuestion_rightInner
                        h2.AskQuestion_title У Вас остались вопросы?
                        h3.AskQuestion_subtitle.hidden-xs Заполните форму и наши консультанты помогут Вам с любым вопросом.
                        .AskQuestion_forms
                            .AskQuestion_form.AskQuestion_form-callback
                                div
                                    form.form(action="/ajax/form-response.json", data-action="/ajax/form-response.json", autocomplete="off", novalidate="novalidate")
                                        .AskQuestion_formGroup
                                            .AskQuestion_formItem
                                                label(for="name").AskQuestion_formLabel Ваше имя:
                                                input(type="text", name="name", id="name", placeholder="Представьтесь").AskQuestion_formText
                                            .AskQuestion_formItem
                                                label(for="phone").AskQuestion_formLabel Ваш телефон: #[span.required *]
                                                input(type="tel", name="phone", id="phone", placeholder="+ 7 (___) ___-__-__").AskQuestion_formText
                                        .AskQuestion_formHint Нажимая на кнопку, Вы даете согласие на обработку #[a(href="#") персональных данных]
                                        .AskQuestion_formActions
                                            input(type="submit", value="Перезвоните мне!").BtnGreen.AskQuestion_btn
                            .AskQuestion_form.AskQuestion_form-question
                                div
                                    form.form(action="/ajax/form-response.json", data-action="/ajax/form-response.json", autocomplete="off", novalidate="novalidate")
                                        h3.AskQuestion_subtitle.hidden-smPlus Заполните форму и наши консультанты помогут Вам с любым вопросом.
                                        .AskQuestion_formGroup
                                            .AskQuestion_formItem
                                                label(for="email").AskQuestion_formLabel Ваш e-mail:
                                                input(type="email", name="email", id="email").AskQuestion_formText
                                            .AskQuestion_formItem
                                                label(for="question").AskQuestion_formLabel Ваш вопрос:
                                                textarea(name="question", id="question", placeholder="Текст").AskQuestion_formTextarea
                                        .AskQuestion_formHint.hidden-smPlus Нажимая на кнопку, Вы даете согласие на обработку персональных данных
                                        .AskQuestion_formActions
                                            input(type="submit", value="Задать вопрос").BtnGreen.AskQuestion_btn

block page_bottom
