.diary
  display flex
  padding-top 30px
  flex-grow 1

  @media $md
    padding-bottom 40px
    background-image url('../img/diary/oval_bg.jpg')
    background-repeat no-repeat
    background-position 116% 0%
    background-size 61%

  @media (min-width: 1024px) and (max-width: 1279px)
    background-position 250% 0%
    background-size 77.6%

  @media (min-width: 1600px)
    background-position 109% 49%
    background-size 51%

  &_container
    width 100%
    margin 0 auto

    @media $lg
      max-width 1140px

    @media $xl
      max-width 1368px

  &_wrapper
    @media $smPlus
      display flex
      align-items baseline
      justify-content space-between
      padding-left 20px
      padding-right 20px

    @media $md
      padding-left 40px
      padding-right 40px

    @media $lg
      padding-left 35px
      padding-right 35px

    @media $xl
      padding-left 144px
      padding-right 154px

  &_wrp
    position relative

    .title
      text-align center

      @media $smPlus
        margin-right 100px
        text-align left

    .swiper-pagination
      display none

      @media $smPlus
        display block
        width auto
        left auto
        bottom 2px
        right 0
        font-size 14px
        color $green
        white-space nowrap

      span
        font-size 20px

  &_videoWrp
    display flex
    font-size 13px
    height 76.5px
    margin-top 30.5px
    border-top solid 1px rgba(#979797, 0.1)

    @media $smPlus
      height auto
      margin-top 0
      border-top none

    svg
      margin-right 10px
      fill $green
      fill-rule nonzero

  &_video
  &_online
    display flex
    align-items center
    justify-content center
    flex-basis 50%
    cursor pointer

    @media $smPlus
      justify-content flex-start
      flex-basis auto

    // &-active
    //   color $light-gold
    //   // z-index 99999
    //
    //   svg
    //     fill $light-gold

  &_video
    border-right solid 1px rgba(#979797, 0.1)

    @media $smPlus
      margin-right 30px
      border-right none

  &_sliderContainer
    position relative
    height auto

    @media $smPlus
      margin-top 30px

    @media $md
      height 595px
      margin-top 42px

    @media $xl
      height 714px

  &_history
    position relative
    display flex
    align-items center
    height 82px
    padding-left 20px
    background-color #f1f1f1
    overflow hidden

    @media $md
      position absolute
      top 50%
      left 40px
      transform translateY(-50%)
      display block
      width 213px
      height calc(100% - 60px)
      padding-left 0
      border-radius 8px
      box-shadow 0 8px 12px 0 rgba(0, 0, 0, 0.28)
      background-color $white
      z-index 3

    @media $lg
      left 30px

    @media (min-width: 768px) and (max-width: 1024px) and (min-height: 966px)
      height 120px

  &_item
    display flex
    align-items center
    padding-right 20px
    cursor pointer
    transition background-color 0.2s

    &-active
      pointer-events none

      .diary_img
        opacity 1

      .diary_month
        color $black

        @media $md
          color $black
          opacity 1

        @media $mdMax
          color $green

      .diary_year
        color rgba($black, 0.4)
        @media $mdMax
          color $black

    @media $smPlus
      padding-right 30px

    @media $md
      padding-right 0
      padding-top 7px
      padding-left 20px
      padding-bottom 7px

      &:first-of-type
        padding-top 13px

      &:last-of-type
        padding-bottom 13px

    &:hover
      @media $md
        background-color #e9e9e9

      .diary_img
        opacity 1

      .diary_month
        @media $md
          color $black
          opacity 1

      .diary_year
        color rgba($black, 0.4)
        @media $mdMax
          color $black

  &_img
    width 50px
    height 50px
    border-radius 8px
    background-color orange
    background-position center
    background-repeat no-repeat
    background-size cover
    opacity: 0.7
    transition opacity 0.2s

  &_content
    padding-left 10px

  &_month
    margin-bottom 1px
    font-size 18px

    @media $md
      opacity 0.7

  &_year
    margin-top 4px
    font-size: 13px
    color rgba($black, 0.23)

  &_slider
    position relative
    height 226px

    @media $smPlus
      height 474px

    @media $md
      height 100%

    @media (min-width: 768px) and (max-width: 1024px) and (min-height: 1096px)
      height 705px

    .swiper-slide
      background-repeat no-repeat
      background-position center
      background-size cover

  &_control
    position absolute
    top 50%
    transform translateY(-50%)
    display flex
    justify-content space-between
    width 100%
    padding 0 20px
    z-index 1

    @media $md
      width calc(100% - 318px)
      right 40px
      padding 0

    @media $lg
      width 817px

    @media $xl
      width 1046px

  &_btn
    display flex
    justify-content center
    align-items center
    width 35px
    height 35px
    border-radius 50%
    box-shadow 0 6px 10px 0 rgba(0, 0, 0, 0.15)
    background-color $white
    cursor pointer
    outline transparent
    transition: opacity 0.4s ease

    &-disabled
      opacity: 0.3
      pointer-events none
