.section
  position relative
  padding-top 40px
  padding-bottom 50px
  width 100%
  overflow hidden

  @media (min-width: 1024px) and (max-width: 1279px)
    padding-top 35px

  @media $smMd
    padding-top 34px
    padding-bottom 92px

  @media $xs
    padding-top 24px
    padding-bottom 34px

  &__compass-wrap
    position absolute
    top 41px
    left 44px
    display flex
    align-items center
    z-index 2

    @media (min-width: 1024px) and (max-width: 1279px)
      top 33px

    @media $smMd
      top 34px
      left 24px

    @media $xs
      position static
      top 0
      left 0
      width 100%
      padding-left 24px
      margin-bottom 22px

  &__compass
    position relative
    border-color $green
    margin-right 22px

    &::before
      border-color $green
      background-color rgba(14, 152, 36, 0.2)

  &__delivery
    position relative
    border-color $green

    &::before
      border-color $green
      background-color rgba(14, 152, 36, 0.2)

  &__section-nav
    height 45px
    display flex
    align-items center
    justify-content center
    margin-bottom 12px

    @media (min-width: 768px) and (max-width: 1023px) and (min-height: 966px)
      margin-bottom 40px

    @media (min-width: 1024px) and (max-width: 1279px)
      margin-bottom 34px

    @media $smMd
      padding-left 60px
      margin-bottom 32px

    @media $xs
      margin-bottom 18px

  &__section-text
    padding 0 30px 3px
    font-size 17px
    line-height 1.2
    letter-spacing -0.4px
    text-align center
    color #000000

  &__section-arrow
    padding 2px
    cursor pointer
    svg
      stroke $green
      transition stroke 0.4s ease

    &:hover
      svg
        stroke $greenHover

  &__content
    position relative
    width 100%
    display flex

    @media $xs
      height auto
      margin-bottom 0
      flex-direction column
      align-items center

  &__visual-wrap
    position relative
    width 68%
    height 462px
    margin-bottom 26px

    @media (min-width: 2500px)
      height 682px

    @media (min-width: 1280px) and (max-width: 1365px)
      margin-bottom 56px

    @media (min-width: 1024px) and (max-width: 1279px)
      height 370px
      margin-bottom 38px

    @media $smMd
      height 366px
      margin-bottom 80px

    @media $xs
      height 311px
      margin-bottom 30px
      width 100%
      order 0
      overflow auto
      -webkit-overflow-scrolling auto

  &__svg
    position absolute
    top 0
    left 50%
    max-width none
    width auto
    min-width 100%
    height 100%
    display block
    z-index 2
    transform translate(-50%, 0)
    @media $xs
      left 0
      transform none
      height calc(100% - 15px)

  svg.section__svg
    z-index 3
    transition .4s ease

  &__svg-hovers,
  &__svg-hover,
  &__svg-hover-back
    opacity 0
    transition .4s ease

  &__svg-hover-backs
    opacity .3

  &__svg-hover-back
    &--active
      opacity 1
    &--disabled
      fill mix(black, white, 33%)
      opacity 1

  &__svg-hover
    cursor pointer
    &[data-status='sold']
      cursor not-allowed
    &[data-status='booked']
      cursor not-allowed

  // &__labels
  &__label
    position absolute
    display none
    width 240px
    padding 15px 20px 17px
    border-radius 8px
    background-color #ffffff
    box-shadow 0 16px 29px 0 rgba(0, 0, 0, .14)
    transform translate(-50%, 0)
    will-change top, left
    z-index 6
    pointer-events none

    &--active
      display block

    &--sold
      display block
      width 190px
      transform translate(-50%, 25px)

      .section__label-description
        display none

      .section__label-sold
        display block

    &::after
      content ''
      position absolute
      left 50%
      bottom -14px
      width 18px
      height 18px
      background-color #ffffff
      transform rotate(45deg) translate(-50%, 0)

    &--left,
    &--right
      &::after
        display none

  &__label-description
    display flex
    flex-wrap wrap

  &__label-sold,
  &__label-text
    min-width 34%
    margin-bottom 16px
    font-size 14px
    line-height 1.2
    letter-spacing -.1px
    color #000

    p
      display inline
      font-family "Arial"

    &:nth-of-type(2n)
      margin-left auto
      text-align right

    &:nth-last-of-type(1),
    &:nth-last-of-type(2)
      margin-bottom 0

    &--price
      color $green

  &__label--single-title-text
    font-size 14px
    letter-spacing -.1px
    font-weight normal
    width 100%
    text-align center
    font-family "Exo2"

  &__label-sold
    display none
    max-width 100%
    width: 100%
    text-align center

  &__right,
  &__left
    position relative
    // height 100%

    &::before
      content ''
      position absolute
      top -2%
      width 20vw
      height 104%
      z-index 5
      pointer-events none

      @media $xs
        display none

  &__left
    width 20%
    height 462px

    @media (min-width: 2500px)
      height 682px

    @media (min-width: 1024px) and (max-width: 1279px)
      height 370px

    @media $smMd
      width 16%
      height 366px

    @media $xs
      width 100%
      height auto
      order 1
      display flex
      justify-content center
      align-items center

    &::before
      left 0
      background-image linear-gradient(to left, rgba(255, 255, 255, 0.2) 10%, #ffffff)

  &__right
    width 12%

    @media $smMd
      width 16%
      padding-left 4%

    @media $xs
      width 100%
      order 2

    &::before
      right 0
      background-image linear-gradient(to right, rgba(255, 255, 255, 0.2) 10%, #ffffff)

  &__plan-wrap
    position relative
    margin-left 65px
    margin-top 20px
    display inline-flex
    align-items flex-start
    justify-content flex-start
    z-index 5
    background rgba(255, 255, 255, 1)
    box-shadow 2px -2px 12px rgba(255,255,255, 1)

    @media (min-width: 1024px) and (max-width: 1279px)
      margin-left 56px
      margin-top 10px

    @media $smMd
      position absolute
      bottom -150px
      left 41px
      margin-left 0
      margin-top 0

    @media (min-width: 768px) and (max-width: 1023px) and (min-height: 966px)
      transform translate(-50%, 0)
      left 50vw
      bottom -166px

    @media $xs
      margin-top 0
      margin-left 0

  &__plan-svg
    width 132px
    height auto
    display block

    @media $mdMax
      width 116px

  &__plan-building
    fill #D8D8D8
    &--active
      fill #129A28

  &__floor-wrap
    width 120px
    padding 0 10px
    margin-left auto
    margin-top -101px

    @media (min-width: 1280px) and (max-width: 1365px)
      margin-right 41px

    @media (min-width: 1024px) and (max-width: 1279px)
      margin-top -128px

    @media $smMd
      width 106px
      padding 0
      margin-top -118px

    @media $xs
      width 100%
      padding 0
      margin-left 0
      margin-top 0
      margin-top 48px

  &__floor-title-wrap
    height 50px

    @media (min-width: 1280px) and (max-width: 1365px)
      height 66px

    @media (min-width: 1024px) and (max-width: 1279px)
      height 70px

    @media $smMd
      height 64px

    @media $xs
      margin-bottom 12px
      height auto

  &__floor-title
    font-size 17px
    line-height 1.2
    letter-spacing -0.4px
    text-align center
    color #000000

    @media $xs
      display none

  &__floors
    position relative
    display flex
    flex-direction column
    align-items center
    // min-height 480px
    // max-height 522px
    // overflow auto
    z-index 5

    // @media (min-width: 2500px)
    //   min-height 700px
    //   max-height 700px

    @media $xs
      width 100%
      max-width: 362px
      padding 0 14px 0 19px
      margin 0 auto
      height auto
      min-height inherit
      flex-direction row
      flex-wrap wrap

  &__floor-item
    width 28px
    min-width 28px
    min-height 28px
    height 28px
    margin-bottom 5px
    display flex
    justify-content center
    align-items center
    font-size 14px
    line-height 1.2
    letter-spacing -0.1px
    text-align center
    background-color #d8d8d8
    transition 0.4s ease
    color #000

    @media $xs
      width 36px
      min-width 36px
      min-height 36px
      height 36px
      margin-right 5px

    &--active
      background-color $green
      color #fff
      opacity 1

    &:hover
      background-color $green
      color #fff

  &__street
    position relative
    width 68%
    margin 0 auto 24px
    // padding 0 50px
    font-size 20px
    line-height 1.75
    letter-spacing -0.2px
    text-align center
    color rgba(0, 0, 0, .5);
    background-image linear-gradient(to left, rgba(251, 251, 251, 0), #f9f9f9 23%, #f8f8f8 49%, #f7f7f7 76%, rgba(245, 245, 245, 0))

    @media (min-width: 768px) and (max-width: 1023px) and (min-height: 966px)
      margin 0 auto 40px

    @media $mdMax
      width 80%

    &::after,
    &::before
      position: absolute;
      left: 0;
      content ''
      width: 100%
      height: 1px
      background-image linear-gradient(to left, rgba(251, 251, 251, 0), #fbfbfb 23%, #b9b9b9 49%, #fbfbfb 76%, rgba(245, 245, 245, 0))

    &::after
      top 0

    &::before
      bottom 0

    @media $xs
      width 100%
      display none
