.hypothec
  position relative
  display flex
  flex-direction column
  flex-grow 1
  overflow hidden

  &__gray
    position absolute
    bottom 0
    left 0
    width 100%
    height 504px
    background-color #f7f7f7
    z-index -1

    @media $smPlus
      height 424px

    @media $md
      height 465px

  &_banner
    display flex
    align-items flex-end
    height 182px
    padding-bottom 25px
    background-image url(../img/hypothec/bg-mini.jpg)
    background-repeat no-repeat
    background-position top center
    background-size cover

    @media $smPlus
      padding-bottom 30px
      background-image url(../img/hypothec/bg_1024.jpg)
      background-position center

    @media $lg
      background-image url(../img/hypothec/bg.jpg)

    @media $xl
      height 300px
      padding-bottom 50px

  &_container
    width 100%
    padding 0 20px
    flex-grow 1

    @media $smPlus
      padding 0 40px

    @media $md
      max-width 790px
      margin-left auto
      margin-right auto
      padding 0

    @media $xl
      max-width 1110px

    &--main
      padding-top 20px
      padding-bottom 60px

      @media $md
        padding-bottom 80px

      @media $smPlus
        padding-top 40px

      @media $xl
        padding-top 50px
        padding-bottom 98px

  &_wrapper
    @media $md
      padding 0 30px

    @media $xl
      padding 0

  &_title
    font-weight 700
    font-size 25px
    color $white

    @media $smPlus
      font-size 33px

    @media $xl
      font-size 50px

  &_text
    font-size 16px
    line-height 1.62

    @media $lg
      width 730px

    @media $xl
      width 825px
      font-size 18px
      line-height 1.44

    &:not(:last-of-type)
      margin-bottom 35px

  &_banks
    padding-top 30px
    padding-bottom 60px

    @media $smPlus
      padding-top 50px

    @media $md
      padding-bottom 80px

    @media $xs
      padding-bottom 66px

  &_sorting
    display none
    height 14px
    padding-left 20px
    padding-right 15px

    @media $smPlus
      display flex
      justify-content flex-end
      margin-bottom 15px
      padding-left 30px
      padding-right 10px

    @media $xl
      padding-left 70px
      padding-right 30px

  &_sortingStatus
    display flex
    flex-direction column
    justify-content space-between
    width 11px
    height 7px
    margin-left 5px

  &_line
    width 100%
    height 1px
    border-radius 2px
    background-color rgba($black, 0.2)
    transition width 0.2s

  &_btnWrapper
    position relative
    flex-basis 25%
    text-align center
    font-weight 200
    font-size 12px

    @media $md
      flex-basis 25%
      text-align: left

    &-logo
      @media $smPlus
        flex-basis 26%
      @media $md
        flex-basis 34%
      @media $xl
        flex-basis 31%

    &-contribution
      @media $smPlus
        flex-basis 24%
      @media $md
        flex-basis 22%
      @media $xl
        flex-basis 31%

    &-rate
      @media $smPlus
        flex-basis 33%
      @media $md
        flex-basis 27%
      @media $xl
        flex-basis 18%

    &-term
      @media $smPlus
        flex-basis 17%
      @media $md
        flex-basis 17%
      @media $xl
        flex-basis 20%

  &_btn
    position absolute
    top 0
    left 50%
    // margin-left 9px
    transform translateX(-50%)
    display flex
    align-items center
    justify-content flex-end
    white-space nowrap
    color rgba($black, 0.6)
    transition color 0.2s

    @media $mdMax
      margin-left 0

    &:hover
      color $black

    &-active
      color $black

      .hypothec_line
        background-color $black

    &-ascending
      .hypothec_line-one
        width 50%

      .hypothec_line-two
        width 75%

      .hypothec_line-three
        width 100%

    &-descending
      .hypothec_line-one
        width 100%

      .hypothec_line-two
        width 75%

      .hypothec_line-three
        width 50%

  &_bank
    width 100%
    max-height 57px
    box-shadow 0 15px 15px -6px rgba(228, 228, 228, 0.5)
    background-color $white
    border 1px solid transparent
    font-size 14px
    transition border-color 0.2s
    cursor pointer
    overflow hidden
    transition max-height 0.2s, border-color 0.2s

    @media $smPlus
      font-size 17px

    &:hover
      border-color $green

    &:not(:last-of-type)
      margin-bottom: 10px

    &-active
      border-color $green

  &_header
    display flex
    align-items center
    justify-content space-between
    width 100%
    height 57px
    padding-left 20px
    padding-right 15px

    @media $smPlus
      padding-left 30px
      padding-right 10px

    // @media $md
    //   padding-right 10px

    @media $xl
      padding-left 70px
      padding-right 30px

  &_content
    padding 20px
    border-top solid 1px rgba(#979797, 0.1)
    font-size 14px

    b
      font-weight 700

  &_bankText
    line-height normal

    &:not(:last-of-type)
      margin-bottom 24px

  &_contribution
  &_term
    display none

    @media $smPlus
      display block

  &_logo
  &_contribution
  &_rate
  &_term
    flex-basis 50%

    // @media $smPlus
    //   flex-basis 25%

  &_contribution
  &_rate
  &_term
    text-align center

    @media $md
      text-align center

  &_logo
    @media $smPlus
      flex-basis 26%
    @media $md
      flex-basis 34%
    @media $xl
      flex-basis 31%

  &_contribution
    @media $smPlus
      flex-basis 24%
    @media $md
      flex-basis 22%
    @media $xl
      flex-basis 31%

  &_rate
    @media $xs
      flex-basis 92px
      text-align left
    @media $smPlus
      flex-basis 33%
    @media $md
      flex-basis 27%

    @media $xl
      flex-basis 18%

    span
      margin-right 7px
      font-size: 12px;
      color rgba($black, 0.6)

      @media $smPlus
        display none

  &_term
    @media $smPlus
      flex-basis 17%
    @media $md
      flex-basis 17%
    @media $xl
      flex-basis 20%

  .callMe
    display flex
    flex-direction column
    align-items center
    text-align center

    .hypothec_text
      margin 0 auto
      line-height normal

      @media $smPlus
        width 628px

    .form
      margin-top 30px

      @media $smPlus
        margin-top 34px

      &_text
        @media $xs
          text-align center
          font-size 18px

        &::placeholder
          @media $xs
            font-size 18px

  &_callTitle
    margin-bottom 15px
    font-weight 700
    font-size 24px

    @media $xs
      margin-bottom 23px
