.developer
  display flex
  flex-direction column
  justify-content space-between
  padding-top 43px
  flex-grow 1

  @media $smPlus
    padding-top 40px

  &_container
    width 100%
    padding-left 20px
    padding-right 20px

    @media $smPlus
      padding-left 40px
      padding-right 40px

    @media $md
      max-width 880px
      margin-left auto
      margin-right auto
      padding-left 0
      padding-right 0

    @media $lg
      max-width 920px

    @media $xl
        max-width 1110px

  &_title
    font-weight 700
    font-size 30px

    @media $smPlus
      font-size 36px

  &_wrapper
    margin-top 20px
    margin-bottom 30px

    @media $smPlus
      margin-top 30px
      margin-bottom 43px

    @media $md
      display flex
      justify-content space-between

  &_col
    font-size 16px
    line-height 1.5

    @media $md
      flex-basis calc(50% - 20px)

    @media $lg
      flex-basis calc(50% - 15px)

    @media $xl
      flex-basis calc(50% - 25px)
      font-size 18px
      line-height 1.33

    &:not(:last-of-type)
      margin-bottom 35px

      @media $md
        margin-bottom 0

  &_img
    display block

    @media $smPlus
      margin-bottom -4px

    @media $lg
      margin-bottom -35px

    @media $xl
      margin-bottom -103px
