.documents
  padding-bottom 50px

  @media $smPlus
    padding-bottom 80px

  @media $xl
    padding-bottom 105px

  &_banner
    display flex
    align-items flex-end
    height 182px
    margin-bottom 20px
    padding-bottom 20px
    background-image url('../img/documents/bg_mobile.jpg');
    background-repeat no-repeat
    background-position center
    background-size cover

    @media $xl
      background-image url('../img/documents/bg.jpg');

    @media (min-width: 1280px) and (max-width: 1679px)
      background-image url('../img/documents/bg_desktop.jpg');

    @media (min-width: 1024px) and (max-width: 1279px)
      background-image url('../img/documents/bg_1024.jpg');

    @media $smPlus
      margin-bottom 30px
      padding-bottom 30px

    @media $smMd
      background-image url('../img/documents/bg_tablet.jpg');

    @media $xl
      height 300px
      margin-bottom 50px
      padding-bottom 50px

  &_container
    width 100%
    margin-left auto
    margin-right auto
    padding-left 20px
    padding-right 20px

    @media $smPlus
      padding-left 40px
      padding-right 40px

    @media $md
      max-width 790px
      padding-left 0
      padding-right 0

    @media $xl
      max-width 1110px

  &_wrapper
    @media $md
      padding-left 30px

    @media $xl
      padding-left 0

  &_title
    font-weight 700
    font-size 25px
    color $white
    line-height 1.2

    @media $smPlus
      font-size 33px

    @media $xl
      font-size 50px

  &_item
    position relative
    padding-top 20px
    padding-bottom 20px
    padding-left 20px
    padding-right 15px
    box-shadow 0 15px 15px -6px rgba(228, 228, 228, 0.5)
    background-color $white
    cursor pointer

    &:hover
      .documents_download
        @media $lg
          border-color $green
      .documents_size
        @media $lg
          color $green

    &:not(:last-of-type)
      margin-bottom 10px

    @media $smPlus
      display flex
      align-items center
      justify-content space-between
      height 57px
      padding-top 0
      padding-bottom 0
      padding-right 5px

    @media $md
      padding-left 30px
      padding-right 6px

    @media $xl
      padding-right 35px

  &_download
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border 1px solid transparent
    transition border-color 0.2s
    z-index 1

  &_name
    padding-right 8px
    margin-bottom 11px
    font-weight 700
    font-size 14px
    color $black

    @media $smPlus
      margin-bottom 0

  &_wrp
    display flex
    align-items flex-end
    justify-content space-between
    font-size 12px
    line-height 1.67
    white-space nowrap

    @media $smPlus
      align-items center
      justify-content flex-start
      font-size 14px
      line-height normal

  &_info
    display flex
    align-items center
    flex-wrap wrap

    @media $smPlus
      flex-wrap nowrap

    @media $smMd
      width 322px

    @media $md and (max-width: 1679px)
      width: 324px

    @media $xl
      width 342px

  &_date-wrap
    display flex
    align-items center
    flex-wrap nowrap

    @media $smPlus
      width 126px
      flex-shrink 0

  &_br
    margin-left 7px
    margin-right 6px

    // @media $smMd

    @media $md
      margin-left 9px
      margin-right 8px

  &_fio
    flex-basis 100%
    white-space normal

    @media $smPlus
      flex-basis auto
      margin-left 14px

  &_file
    text-align center

    @media $smPlus
      width 74px
      display flex
      align-items center
      margin-left 10px
      text-align left

  &_size
    font-size: 10px;
    line-height: normal;
    color rgba($black, 0.4)
    transition color 0.2s

    @media $smPlus
      margin-left 10px
