.gallery_single
	position relative
	display: flex
	flex-direction: column
	justify-content: center
	flex-wrap wrap
	flex-grow: 1
	padding-top 37px
	background-repeat no-repeat
	background-position center
	background-size cover
	overflow hidden

	@media $smPlus
		padding-top 30px
		padding-bottom 60px

	@media $md
		padding-bottom 30px

	@media $lg
		padding-bottom 40px

	&_bgCircleLeft
	&_bgCircleRight
	&_bgCircleBottom
		position absolute

	&_bgCircleLeft
		top -38px
		left -209px
		width 679px
		height 348px

		@media $smPlus
			height 432px
			top -68px
			left -280px

		@media $md
			left -205px

		@media $lg
			left -160px

		@media $xl
			left 93px
			height 614px

		@media $xs
			top: -239px
			left: auto
			right: -25px
			width: 546px
			height: 546px
			transform: rotate(-49deg)

		@media (max-width: 413px)
			right: -21px

		@media (max-width: 359px)
			right: -33px

	&_bgCircleRight
		display none
		width 635px

		@media $md
			top -68px
			right -468px
			display block
			height 618px

		@media $lg
			right -226px
			height 711px

		@media $xl
			right 0

	&_bgCircleBottom
		display none
		width 511px
		height 511px

		@media $smPlus
			left auto
			right -190px
			bottom -93px
			display block

		@media $md
			left 343px
			right auto
			bottom -294px
			height 497px

		@media $lg
			left 385px
			bottom -185px
			height 511px

		@media $xl
			left get-vw(705)vw

	&_wrp
		margin-bottom 45px
		text-align center

		@media $smPlus
			margin-bottom 0
			text-align left

		@media $md
			padding-left 14px

		@media $lg
			padding-left 35px

		@media $xl
			padding-left 63px

	&_link
		display block
		margin-top 10px
		font-size 18px
		color rgba($black, 0.5)
		transition color 0.2s

		&:hover
			color $green

	&_container
		position relative
		align-self flex-end
		width 100%
		margin-top 40px

		@media $smPlus
			align-self baseline
			margin-top 30px

		@media $md
			overflow hidden
			&::before
			&::after
				width calc((100% - 912px) / 2)

		@media $lg
			margin-top 27px

			&::before
			&::after
				width calc((100% - 1140px) / 2)

		&::before
		&::after
			content ''
			position absolute
			top 0
			height 100%
			background-color rgba($green, 0.5)
			z-index 2

		&::before
			left 0

		&:after
			right 0

	&_slider
		position relative
		width 100%
		height 300px

		@media $smPlus
			height 476px

		@media $md
			max-width 912px
			overflow visible

		@media $lg
			max-width 1140px
			height 595px

		.swiper-slide
			background-repeat no-repeat
			background-position center
			background-size cover

	&_control
		position absolute
		top 50%
		left 0
		display flex
		justify-content space-between
		width 100%
		padding 0 20px
		z-index 2
		transform translate(0, -50%)

		@media $smPlus
			padding 0 40px

	&_btn
		display flex
		align-items center
		justify-content center
		width 35px
		height 35px
		padding-bottom 0.5px
		border-radius 50%
		background-color $white
		outline none
		cursor pointer

		&-prev
			padding-right 2.5px

		&-next
			padding-left 2.5px

	.container
		align-self baseline
		width 100%

		@media (min-width 1024px) and (max-width 1279px)
			max-width 912px
			margin 0 auto
			padding 0

	.swiper-pagination
		position relative
		font-size 14px
		color $green

		@media $smPlus
			position absolute
			top 50%
			transform translateY(-50%)

		span
			font-size 20px
