.house-delivery
  position absolute
  display flex
  align-items center
  padding 0 20px
  height 45px
  border-radius 24px
  border 1px solid #fff
  background-color #fff
  // z-index 6

  &::before
    content ''
    position absolute
    top 50%
    left 50%
    width 100%
    height 100%
    border 1px solid #fff
    transform translateX(-50%) translateY(-50%)
    background-color #fff
    border-radius 24px
    animation pulsationDelivery 1.6s linear infinite normal
    z-index -1

  &__text-wrap
    display flex
    align-items baseline

  &__courpus
    margin-right 12px
    font-size 17px
    font-weight 500
    line-height 1.2
    letter-spacing -0.4px
    color #000

  &__text
    opacity 0.4
    font-size 12px
    line-height 1.2
    letter-spacing -0.4px
    color #000
