.house
  display flex
  align-items flex-start
  flex-grow 1

  &__content-wrap
    position relative
    display inline-flex
    width 100%
    overflow hidden

    @media $xs
      overflow auto

  // @media $xs
  //   overflow auto

  &__compass
    z-index 5
    top 41px
    left 41px

    @media $xs
      top 23px
      left 24px

  &__delivery
    top 41px
    left 108px
    z-index 5

    @media $xs
      top 23px
      left 97px

  &__content
    position relative
    display block
    width auto
    height auto
    margin-top -3.2%
    // margin-bottom -11.6%

    // @media (min-width 1366px) and (max-width 1679px)
    //   margin-top -4.6%
    //   margin-bottom -7.6%

    @media (min-width 1280px) and (max-width 1366px)
      margin-top -4.8%
      margin-bottom -1.6%

    @media (min-width 1024px) and (max-width 1279px)
      margin-top -5%
      height 720px

    @media (max-width 1279px)
      display inline-flex

    @media $smMd
      width auto
      height 720px
      margin-top -6.5%
      margin-left -10.5%
      // margin-left -12.5%

    @media $xs
      height 436px
      margin-top 0
      margin-bottom 0
      // margin-left -16%

    @media (max-width 700px)
      margin-left -24.6%

    @media (max-width 411px)
      margin-left -39.6%

    @media (max-width 373px)
      margin-left -38.6%

    @media (max-width 353px)
      margin-left -45.6%

  &__img
    display block
    max-width inherit
    width 100vw
    height auto

    @media (min-width 1024px) and (max-width 1279px)
      width auto
      height 100%

    @media $smMd
      width auto
      height 100%

    @media $xs
      width auto
      height 100%

  &__visual
    opacity 0.5
    z-index 2

  &__visual-floor
    fill $green
    opacity 0
    transition 0.4s ease
    cursor pointer

    &:hover
      fill $light-gold
      opacity 1

  &__visual-house
    &--active
      .house__visual-floor
        opacity 1


  &__visual,
  &__labels
    position absolute
    top 0
    left 0
    display block
    width 100%
    height 100%

  &__label
    position absolute
    display none
    padding 5px 15px
    min-width 72px
    height 49px
    background-color #fff
    box-shadow 0 9px 9px 0 rgba(0, 0, 0, 0.11)
    z-index 6

    &--active
      display block

    &::after
      content ''
      position absolute
      top 0
      right -10px
      width 20px
      height 100%
      margin-left -10px
      display flex
      justify-content center
      align-items center
      background-color #fff
      transform skew(-20deg)
      box-shadow 9px 0px 9px 0 rgba(0, 0, 0, 0.11)
      z-index -1

  &__label-description

  &__label-text
    margin-bottom 1px
    font-size 10px
    color #000
    letter-spacing -0.1px
    line-height 1.2

    &:last-of-type
      margin-bottom 0

    span
      font-size 14px
      font-weight 600
      color $green
