html
body
  height 100%

body
  font-family Exo2
  font-size 14px

main
  height auto
  flex: 1 0 auto
  padding-top 68px

  & > div
    width 100%

  &:not(.not-flex)
    display flex
    flex-direction: column;

input
button
  margin 0
  padding 0
  border none
  background-color transparent
  font-family Exo2
  outline transparent

input
  &::-webkit-input-placeholder
    font-weight 700
    font-size 22px
    letter-spacing 1.5px
    color rgba(#000, 0.5)
    opacity 1

  &::-moz-placeholder
    opacity 1

.disabled
  overflow hidden
