.ymaps-2-1-69-float-button
  max-width none !important
  width 42px !important
  height 42px !important
  padding-left 0 !important
  border-radius 8px !important
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.21) !important

  .ymaps-2-1-69-float-button-icon_icon_expand
  .ymaps-2-1-69-float-button-icon_icon_collapse
    width 100% !important
    height 100% !important
    border none !important
    background-image url('../img/fullScreenControl.svg') !important
    background-repeat no-repeat !important

.ymaps-2-1-69-zoom
  width 42px !important
  height auto !important
  padding 42px 0 !important
  border-radius 8px !important
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.21) !important
  overflow hidden !important

  .ymaps-2-1-69-float-button
    border-radius 0 !important
    box-shadow none !important

    &:first-of-type
      border-bottom solid 1px rgba(#979797, 0.1) !important

  .ymaps-2-1-69-zoom__plus
    .ymaps-2-1-69-zoom__icon
      background-image url('../img/ZoomControlPlus.svg') !important

  .ymaps-2-1-69-zoom__minus
    .ymaps-2-1-69-zoom__icon
      background-image url('../img/ZoomControlMinus.svg') !important

  .ymaps-2-1-69-float-button-icon  
    width 100% !important
    height 100% !important
    border none !important

.ymaps-2-1-69-controls__control
  @media (max-width: 1023px) and (min-width: 768px)
    top 245px !important

  & + .ymaps-2-1-69-controls__control
    @media (max-width: 1023px) and (min-width: 768px)
      top 345px !important