@font-face
  font-family: Exo2
  font-weight: 100
  src url('../fonts/Exo2-Light.ttf')

@font-face
  font-family Exo2
  font-weight 400
  src url('../fonts/Exo2-Regular.ttf')

@font-face
  font-family Exo2
  font-weight 600
  src url('../fonts/exo2semibold.ttf')

@font-face
  font-family Exo2
  font-weight 700
  src url('../fonts/Exo2-Bold.ttf')

@font-face
  font-family Exo2
  fony-style italic
  font-weight 300
  src url('../fonts/Exo2.0-Italic.otf')

@font-face
  font-family Exo2
  font-style italic
  font-weight 300
  src url('../fonts/Exo2.0-LightItalic.otf')

@font-face
  font-family "Arial"
  font-weight 300
  src url('../fonts/ArialMT.ttf')
