.button
  position relative
  display block
  padding 23px 30px
  padding-right 0
  border-radius 4px;
  box-shadow 0 15px 18px -13px rgba(0, 0, 0, 0.13);
  background-color $light-gold
  font-size: 22px
  box-sizing border-box
  transition background-color 0.2s

  @media $smMd
    padding 22px 30px 25px

  // @media $vh
  //   padding 2.3vh 3.0vh
    // font-size 2.2vh

  &:hover
    background-color $light-goldHover

  svg
    position absolute
    top calc(50% + 1px)
    right 18px
    transform translateY(-50%)
    stroke: #000

    &.white
      stroke: $white

    @media $smPlus
      right 30px

  &-small
    padding 20px
    font-size 18px

    svg
      right 18px

  &-green
    color $white
    background-color $green

    &:hover
      background-color $greenHover

  span
    display block
    font-size 14px
    margin 2px 0

    @media $smMd
      margin 3px 0

    // @media $vh
    //   font-size 1.4vh
