.container
	position relative
	padding-right 20px
	padding-left 20px
	
	@media $smPlus
		padding-left 40px
		padding-right 40px

	@media $lg
		width 100%
		max-width 1140px
		margin 0 auto
		padding 0