.form
  &_wrapper
    position relative

    @media $smPlus
      display flex

    &-center
      @media $smPlus
        justify-content center

    &-checkbox
      width calc(100% - 53px)
      margin 0 auto

      @media $md
        width 100%
        margin 0

    &:not(:last-of-type)
      margin-bottom 30px

  &_wrapperField
    position relative

    &-checkbox
      .form_hint
        left calc((-200px / 2) + 12.5px)
        transform translateX(0)

        @media $xs
          left calc((-100px / 2) + 12.5px)

        &::before
          @media $xs
            left calc(50% - 50px)

  &_text
    width 100%
    height 89px
    padding-left 30px
    padding-right 30px
    background-color $white
    font-weight 700
    font-size 22px
    letter-spacing 1.5px
    color rgba(#000, 0.5)
    box-shadow 0 14px 35px 0 rgba(0, 0, 0, 0.03)

    @media $smPlus
      width 319px
      padding-left 50px
      padding-right 50px

    &.error
      padding-left 30px
      padding-right 30px

      @media $smPlus
        padding-left 50px
        padding-right 50px

      &::placeholder
        color #ff5252

  &_button
    width 100%
    border-radius 0
    text-align left

    @media $smPlus
      width 317px

    &-send
      height 89px
      padding-left 0
      font-weight 700
      font-size 18px
      text-align center
      text-transform uppercase

      @media $smPlus
        font-size 22px

      svg
        @media $xs
          right 50px

  &_agree
    position relative
    display flex
    align-items center
    height 23px
    font-weight 100
    font-size 14px
    color $white

    @media $lgPlus
      font-size 20px

    &:before
      content ''
      position absolute
      top 50%
      left 0
      width 23px
      height 23px
      transform translateY(-50%)
      background-color transparent
      border 2px solid $white
      z-index 1

    &:after
      content '\2713\0020'
      position absolute
      top 0
      left 0
      display flex
      align-items center
      justify-content center
      width 23px
      height 23px
      opacity 0
      font-size 20px
      transition opacity 0.1s

    span
      display block
      padding-left 33px
      line-height normal

      @media $md
        line-height 23px

      @media $xl
        padding-left 43px

  &_agreeCheckbox
    position absolute
    top 0
    left 0
    pointer-events none
    opacity 0

    &:checked
      + label:after
        opacity 1

    &.error
      + label:before
        border-color #ff5252
        background-color $white

  &_hint
    position absolute
    top -76px
    left 50%
    transform translateX(-50%)
    display flex
    justify-content center
    align-items center
    width 200px
    height 47px
    border-radius 13px
    box-shadow 0 10px 17px 0 rgba($black, 0.19)
    background-color $white
    color #ff5252
    font-style normal
    font-size 12px
    line-height normal

    &::before
      content ''
      position absolute
      top calc(100% - 4px)
      left 50%
      transform translateX(-50%)
      border 18px solid $white
      border-left 9px solid transparent
      border-right 9px solid transparent
      border-bottom-color transparent

  &_successPicwrap
    display flex
    align-items center
    justify-content center
    width 61px
    height 61px
    margin-left auto
    margin-right auto
    margin-bottom 25px
    border-radius 50%
    background-color $light-gold

    svg
      width 25px
      height 19px

  &_successTxt
    max-width 570px
    margin 0 auto
    font-weight 700
    font-size 36px
    line-height 1
    text-align center
    color $white

    @media (max-width: 1679px)
      font-size 24px
