.title
  font-weight 700
  font-size 29px

  @media $smPlus
    font-size 36px

   @media $lgPlus
    font-size get-vw(70)vw

  @media $vh
    font-size 4.75vh

  &-middle
    font-size 24px

    @media $smPlus
      font-size 36px

  &-small
    font-size 24px

    @media $smPlus
      font-size 30px

  &-white
    color $white

  &-center
    text-align center
