.about_project
  padding-bottom 40px

  @media $xl
    padding-bottom 60px

  &_banner
    display flex
    align-items flex-end
    height 182px
    margin-bottom 20px
    padding-bottom 20px
    background-image url('../img/about_project/bg_mobile.jpg')
    background-repeat no-repeat
    background-position center
    background-size cover

    @media $smPlus
      margin-bottom 40px
      padding-bottom 30px
      background-image url('../img/about_project/bg_tablet.jpg')


    @media $xl
      height 300px
      margin-bottom 50px
      padding-bottom 50px
      background-image url('../img/about_project/bg.jpg')

  &_container
    width 100%
    margin 0 auto

    @media $md
      max-width 920px

    @media $xl
      max-width 1300px

  &_wrapper
    padding-left 20px
    padding-right 20px

    @media $smPlus
      padding-left 40px
      padding-right 40px
    @media $md
      padding-left 95px
      padding-right 95px

  &_title
    font-weight 700
    font-size 25px
    line-height normal
    color $white

    @media $smPlus
      font-size 33px
      line-height 1.21

    @media $xl
      font-size 50px

  &_advantages
    display flex
    flex-direction column
    align-items center
    margin-bottom 30px

    @media $smPlus
      flex-direction row
      align-items flex-start
      justify-content center
      margin-bottom 40px

  &_item
    position relative
    display flex
    align-items flex-end
    flex-shrink 0
    height 108px
    ma

    &:not(:last-of-type)
      margin-bottom 30px

      @media $smPlus
        margin-bottom 0
        margin-right 33.5px

      @media $md
        margin-right 50px

      @media $xl
        margin-right 100px

  &_advantagesBg
    position absolute
    bottom 0
    left 0
    width 159px
    height 108px
    opacity 0.9

    &-yellow
      left 11px
      fill $light-gold

    &-green
      left 19px
      fill #8aee9a

    &-blue
      left 35px
      fill #57deff

  &_content
    align-self center
    font-weight 700
    font-size 18px
    z-index 1

    &-bigPadding
      padding-left 18px

    &-smallPadding
      padding-left 3px

    &-col
      display flex

      .about_project_advantagesTitle
        padding-right 10px
        line-height 30px

  &_advantagesTitle
    font-size 36px

  &_text
    margin-bottom 30px
    font-size 16px
    line-height 1.62

    @media $smPlus
      margin-bottom 40px

    @media $xl
      font-size 18px
      line-height 1.44

  &_btn
    position relative
    left 50%
    transform translateX(-50%)
    display inline-block
    height 34px
    padding-left 15px
    padding-right 45px
    border-radius 2px
    border solid 1px $green
    background-color $white
    line-height 32px
    color #000
    white-space: nowrap
    transition background-color 0.2s, color 0.2s

    &:after
      content ''
      position absolute
      top 50%
      right 15px
      transform translateY(-50%) rotate(45deg)
      width 10px
      height 10px
      border 1px solid $black
      border-left-color transparent
      border-bottom-color transparent
      transition border-rigth-color 0.2s, border-top-color 0.2s

    &:hover
      background-color #52ca66
      border-color #52ca66
      color $white

      &:after
        border-top-color $white
        border-right-color $white

  &_district
    height 272px
    margin-top 30px
    margin-bottom 30px
    background-image url('../img/about_project/district_mobile.jpg')
    background-repeat no-repeat
    background-position center
    background-size cover

    @media $smPlus
      height 413px
      margin-top 40px
      margin-bottom 40px

    @media $md
      background-image url('../img/about_project/district.jpg')

    @media $xl
      height 550px

  &_sponsors
    position relative
    display flex
    align-items center
    justify-content center
    margin-left auto
    margin-right auto
    margin-bottom 40px
    overflow hidden

    @media $smPlus
      justify-content space-between
      width 530px

  &_wrp
    position relative

    @media $smPlus
      display flex
      width calc((202px * 2) - 15px)

    @media $xs
      height calc((202px * 2) - 15px)

  &_circle
    display flex
    align-items center
    justify-content center
    width 202px
    height 202px
    border-radius 50%

    &-yellow
      background-color rgba($light-gold, 0.33)

    &-green
      background-color rgba($green, 0.33)

    &:not(:first-of-type)
      @media $smPlus
        position absolute
        top 0
        right 0

      @media $xs
        position absolute
        bottom 0
        left 0

    svg,
    img
      display block
      max-width 82px
      max-height 109px

  &_circleSmall
    width 53px
    height 53px
    border-radius 50%

    &-yellow
      background-color $light-gold

      @media $xs
        position absolute
        left calc(-53px / 2)

    &-green
      background-color $green

      @media $xs
        position absolute
        right calc(-53px / 2)

  &_incut
    position relative
    display flex
    align-items center
    margin-bottom 40px
    padding-top 14px
    padding-left 27px
    padding-bottom 14px
    font-size 16px
    line-height 1.62

    @media $xl
      margin-bottom 60px
      padding-top 21px
      padding-bottom 21px
      font-size 18px
      line-height 1.44

    &::before
      content ''
      position absolute
      top 0
      left 0
      width 7px
      height 100%
      background-color $green

  &_separator
    position relative
    left 50%
    transform translateX(-50%)

  &_wrapperCall
    width 100%
    margin-top 30px
    padding-left 20px
    padding-right 20px
    text-align center

    @media $smPlus
      max-width 641px
      margin 30px auto 0

    .button
      width 223px
      margin 0 auto
      text-align left

  &_call
    margin-bottom 40px
    font-weight 300
    font-size 24px
    line-height 1.2
    font-style italic
