.transport_accessibility
  padding-bottom 40px

  @media $md
    padding-bottom 50px

  &_banner
    display flex
    align-items flex-end
    height 182px
    margin-bottom 20px
    padding-bottom 20px
    background-color $green
    background-image url('../img/transport_accessibility/banner.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover

    @media $smPlus
      margin-bottom 40px
      padding-bottom 31px
      background-image url('../img/transport_accessibility/banner_tablet.jpg')

    @media $xl
      height 300px
      margin-bottom 49px
      padding-bottom 54px

    @media $lgPlus
      background-image url('../img/transport_accessibility/banner_1280.jpg')

    @media $xl
      background-image url('../img/transport_accessibility/banner_desktop.jpg')

  &_container
    width 100%

    @media $xl
      width 1280px
      margin 0 auto

  &_wrapper
    width 100%
    padding-left 20px
    padding-right 20px

    @media $smPlus
      padding-left 40px
      padding-right 40px

    @media $md
      max-width 730px
      margin 0 auto
      padding 0

    @media $xl
      max-width none
      padding-left 85px
      padding-right 79px

  &_title
    font-weight 700
    font-size 25px
    color $white
    line-height 1.2

    @media $smPlus
      font-size 33px

    @media $xl
      font-size 50px

  &_text
    font-size 16px
    line-height 1.62

    &:not(:last-of-type)
      margin-bottom 20px

      @media $smPlus
        margin-bottom 30px

    @media $xl
      font-size 18px
      line-height 1.44

  &_map
    position relative
    margin-top 20px
    margin-bottom 20px

    @media $smPlus
      height 497px
      margin-top 40px
      margin-bottom 40px

    @media $md
       height 584px

    @media $xl
      margin-top 50px
      margin-bottom 50px

  &_route
    width 100%
    padding 20px
    background-color #f8f8f8
    z-index 1

    @media $smPlus
      position absolute
      max-width 288px
      padding 30px 30px 48px
      background-color $white

    @media $md
      top 50%
      left 70px
      transform translateY(-50%)
      box-shadow 0 20px 29px 0 rgba($black, 0.11)

  &_tabs
    display flex
    height 35px
    margin-bottom 29px
    background-color rgba(#d8d8d8, 0.2)
    border-radius 17.5px

  &_tab
    display flex
    align-items center
    justify-content center
    flex-basis 50%
    height 100%
    border-radius 17.5px
    font-size 14px
    color rgba($black, 0.5)
    cursor default

    &-active
      background-color $green
      color $white

    &:not(.transport_accessibility_tab-active)
      cursor pointer

  &_list
    padding-left 14px
    padding-right 14px

    @media $smPlus
     padding-left 4px
     padding-right 4px

  &_item
    display flex
    cursor pointer

    &:not(:last-of-type)
      margin-bottom 20px

    &-active
      .transport_accessibility_icon-metro
        box-shadow 0 2px 9px 0 rgba(229, 38, 40, 0.45)
        background-color #e52628

      .transport_accessibility_icon-mkad
        box-shadow 0 2px 9px 0 rgba(#4a90e2, 0.45)
        background-color #4a90e2

      .transport_accessibility_icon-train
        box-shadow 0 2px 9px 0 rgba(#b44ae2, 0.45)
        background-color #b44ae2

      .transport_accessibility_desc
        color $black

    &:hover
      .transport_accessibility_icon-metro
        box-shadow 0 2px 9px 0 rgba(229, 38, 40, 0.45)
        background-color #e52628

      .transport_accessibility_icon-mkad
        box-shadow 0 2px 9px 0 rgba(#4a90e2, 0.45)
        background-color #4a90e2

      .transport_accessibility_icon-train
        box-shadow 0 2px 9px 0 rgba(#b44ae2, 0.45)
        background-color #b44ae2

      .transport_accessibility_desc
        color $black

  &_icon
    display flex
    align-items center
    justify-content center
    width 30px
    height 30px
    border-radius 50%
    background-color #b6b6b6
    transition background-color 0.2s

    &-metroMap
      box-shadow 0 2px 9px 0 rgba(229, 38, 40, 0.45)
      background-color #e52628

    &-mkadMap
      box-shadow 0 2px 9px 0 rgba(#4a90e2, 0.45)
      background-color #4a90e2

    &-trainMap
      box-shadow 0 2px 9px 0 rgba(#b44ae2, 0.45)
      background-color #b44ae2

  &_desc
    margin-left 15px
    padding-top 6px
    font-size 11px
    line-height 1.36
    color #848484

  &_name
    margin-bottom 4px
    font-size 12px
    color $black

  .theme-border
    width: 0.6em
    height: 0.6em
    border-style: solid
    border-width: 0.4em
    border-radius: 100%
    margin: -0.7em

  #map
    width 100%
    height 325px

    @media $smPlus
      height 100%
