.Page
  @media $xl
    padding-bottom 50px

  &_banner
    display flex
    align-items flex-end
    height 182px
    margin-bottom 41px
    padding-bottom 28px
    background-color #999
    background-image url('../img/trim/bg_mobile.jpg')
    background-repeat no-repeat
    background-position center
    background-size cover

    @media $smPlus
      background-image url('../img/trim/bg_tablet.jpg')

    @media $md
      background-image url('../img/trim/bg_1024.jpg')

    @media $lg
      background-image url('../img/trim/bg_desktop.jpg')

    @media $xl
      background-image url('../img/trim/bg_large_desktop.jpg')

    @media $smPlus
      margin-bottom 41px
      padding-bottom 41px

    @media $md
      margin-bottom 39px
      padding-bottom 36px

    @media $xl
      height 300px
      padding-bottom 65px
      margin-bottom 50px
      
  &_container
    width 100%

    @media $md
      max-width 921px
      margin 0 auto

    @media $xl
      max-width 1300px
  
  &_wrapper
    padding 0 20px

    @media $smPlus
      padding 0 40px

    @media $md
      padding 0 96px

    @media $xl
      padding 0 95px

  &_title
    font-weight 600
    font-size 24px
    color $white

    @media $smPlus
      font-size 33px

    @media $xl
      font-weight bold
      font-size 50px
  
  &_text
    margin-bottom 53px
    font-size 16px
    line-height 1.62
    
    @media $smPlus
      margin-bottom 59px
    
    @media $md
      margin-bottom 61px
    
    @media $xl
      margin-bottom 59px
      font-size 18px
      line-height 1.44
    
    p
      margin-bottom 28px
      
      &:last-child
        margin-bottom 0
    
    ul
      padding-right 14px
      
      @media $md
        padding-right 0
      
      li
        position relative
        margin-bottom 2px
        text-indent 28px
        
        @media $smPlus
          margin-bottom 1px
        
        &:before
          content ""
          position absolute
          top 13px
          left 1px
          width 3px
          height 3px
          background #000
          vertical-align middle
      
      &:last-child
        margin-bottom 0
  
  &-trim
    @media $xl
      padding-bottom 0