.popup
  display none
  width 582px
  padding 40px
  padding-right 50px

  &_icon
    margin-bottom 40px

  &_text
    font-size 17px
    line-height normal

    &:not(:last-of-type)
      margin-bottom 28px

  b
    font-weight 700

  .fancybox-close-small
    svg
      stroke $black
    &:hover
      svg
        stroke $green
