.popupVideo
	width 100%
	height 191px
	display none

	@media $smPlus
		width calc(100% - 36px)
		height 381px

	@media $md
		width 913px
		height 476px

	@media $lg
		width 1141px
		height 595px

	&_wrapper
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		cursor pointer
		z-index 1
		transition opacity 0.2s

		&-play
			z-index 0
			opacity 0

		&:hover
			.popupVideo_play
				width 50px
				height 50px

				@media $md
					width 70px
					height 70px

				@media $lg
					width 90px
					height 90px

	&_poster
		height 100%
		background url(../img/diary/diary_slide.jpg) no-repeat center / cover	

	&_play
		position absolute
		top 50%
		left 50%
		transform translateX(-50%) translateY(-50%)
		width 63px
		height 63px
		fill $white
		transition width 0.2s, height 0.2s
		z-index 1

		@media $md
			width 78px
			height 78px

		@media $lg
			width 97px
			height 97px
	
	#player
		position absolute
		top 0
		left 0
		width 100%
		height 100%

	.fancybox-button
		svg 
			stroke $white