.popupNews
  position relative
  display none
  width calc(100% - 20px)
  margin-top 70px !important
  margin-bottom 60px !important
  padding 25px 20px
  overflow hidden

  @media $smPlus
    width 512px
    padding 43px 40px
    margin-top 66px
    margin-bottom 56px
    box-shadow -10px 0 48px 0 rgba(0, 0, 0, 0.06)
    overflow visible

  &_title
    padding-right 36px
    font-weight 700
    font-size 20px

    @media $smPlus
      padding-right 0
      font-size 30px

  &_line
    width 200%
    height: 1px;
    margin-top 20px
    transform translateX(-30%)
    background-color: rgba(#979797, 0.1)

    @media $smPlus
      display none

  &_img
    width 100%
    height 174px
    margin-top 25px
    margin-bottom 20px
    background-repeat no-repeat
    background-position center
    background-size cover

    @media $smPlus
      height 288px
      margin-top 20px

  &_text
    font-size 16px
    line-height 26px
    margin-bottom 10px

  .fancybox-button
    top 30px
    right 20px
    width 18px
    height 18px
    padding 0
    opacity 1

    @media $smPlus
      top 5px
      right -53px
      width 24px
      height 24px

    svg
      fill: none
      fill-rule: evenodd
      stroke $black
      stroke-linecap round
      stroke-linejoin round
      stroke-width 3

      @media $smPlus
        stroke $white
