.popupConsult
  display none
  background transparent
  padding 0 35px

  @media $xs
    padding 0

  &__inner
    max-width 340px
    width 100%
    padding 25px 20px 40px
    background $white

  & .fancybox-close-small
    width 25px
    height 25px
    padding 0
    &:hover
      background transparent
    & svg
      stroke-width 1

  & .form_successTxt
    color #575759
    font-size 16px
    font-weight 400
    line-height 26px
    padding 0 10px

  &__title
    color #139a27
    font-size 26px
    font-weight 600
    margin-bottom 12px

  &__subtitle
    color #139a27
    font-size 16px
    margin-bottom 15px
    font-weight 600

    & span
      font-family "Arial"

  &__step
    position relative

  &__form
    width 100%
    position relative

    & .form_hint
      background transparent
      box-shadow none
      top initial
      bottom 6px
      right 0
      width auto
      left initial
      color #e10000
      height auto
      transform translateX(0)
      &:before
        display none

  &__inp
    width 100%
    margin 20px 0 0 0
    height 29px
    position relative
    border-bottom 2px solid #e9eae9
    font-size 16px
    color #575759
    font-weight 400
    letter-spacing -0.5px

    &::-webkit-input-placeholder
      font-size 16px
      color #d8d8d8
      font-weight 400
      letter-spacing -0.5px

    &::-moz-placeholder
      font-size 16px
      color #d8d8d8
      font-weight 400
      letter-spacing -0.5px

    &:-ms-input-placeholder
      font-size 16px
      color #d8d8d8
      font-weight 400
      letter-spacing -0.5px

    &:-moz-placeholder
      font-size 16px
      color #d8d8d8
      font-weight 400
      letter-spacing -0.5px



  &__btn
    width 160px
    margin 0 auto
    background #e9eae9
    font-family Exo2
    font-size 16px
    color #979797
    display flex
    justify-content center
    align-items center
    height 40px
    border-radius 3px
    transition background 0.3s ease
    pointer-events none

    & p
      color #979797

    &.valid
      background $light-gold
      box-shadow 0 2px 7px 0 rgba(0, 0, 0, 0.1)
      pointer-events all

      & svg
        stroke $black

      & p
        color $black

    &:hover
      background-color $light-goldHover

    &-text
      color $black
      font-size 16px
    &-icon
      margin-left 16px
      & svg
        stroke #979797

  &__note
    color #575759
    font-size 12px
    font-weight 400
    margin-top 29px

  &__checkbox-items
    margin-bottom 30px
    margin-top 15px

  &__checkbox
    display block
    margin-bottom 10px
    position relative

    & .form_hint
      display none !important

    &:last-of-type
      margin-bottom 0

  &__checkbox-text
    font-size 12px
    font-weight 400
    line-height 1.2
    color #575759
    padding-right 20px

  &__checkbox-icon
    width 12px
    height 12px
    border 1px solid #e9eae9
    border-radius 2px
    margin-top 2px
    margin-right 10px
    display flex
    justify-content center
    align-items center
    transition border 0.4s ease, background 0.4s ease

    svg
      opacity 0

  &__checkbox-content
    display flex
    &:hover
      @media $md
        .popupConsult__checkbox-icon
          border-color $light-gold

  &__checkbox-input
    visibility hidden
    position absolute

    &.error + .popupConsult__checkbox-content
      & .popupConsult__checkbox-icon
        border-color #e10000

    &:checked
      & + .popupConsult__checkbox-content
        .popupConsult__checkbox-icon
          border-color $light-gold
          background-color $light-gold

          svg
            opacity 1

.select-hidden
  visibility hidden
  position absolute
  padding-right 10px

.select
  cursor pointer
  display inline-block
  position relative
  font-size 16px
  height 29px
  margin-top 22px
  width calc(100% + 20px)
  margin-left - 10px

  & .form_hint
    display none !important

.select-styled
  position absolute
  top 0
  right 0
  bottom 0
  left 0;
  background-color transparent
  color #575759
  width 100%
  @include transition(all 0.2s ease-in)
  padding 5px 10px 0
  border-top 1px solid $white
  border-left 1px solid $white
  border-right 1px solid $white
  border-radius 3px 3px 0 0
  border-bottom none
  &:before
    content ''
    width calc(100% - 20px)
    height 2px
    background #e9eae9
    position absolute
    bottom 0
    left 10px
    display block
    transition width 0.3s ease

  &:after
    content ""
    position absolute
    top: 11px
    right: 10px
    width: 0
    height: 0
    border-style: solid
    border-width: 6px 4.5px 0 4.5px
    border-color: #575759 transparent transparent transparent
    transition transform 0.3s ease


  &:active, &.active
    border-top 1px solid #d8d8d8
    border-left 1px solid #d8d8d8
    border-right 1px solid #d8d8d8
    border-radius 3px 3px 0 0
    border-bottom none
    &:before
      width 0

    &:after
      transform rotate(180deg)

.select-options
  display none
  position absolute
  top 100%
  right 0
  left 0
  z-index 999
  margin 0
  padding 0
  list-style none
  border-left 1px solid #d8d8d8
  border-right 1px solid #d8d8d8
  border-bottom 1px solid #d8d8d8
  border-radius 0 0 3px 3px
  background $white
  li
    margin 0;
    padding 0 10px
    line-height 26px
    color #575759
    font-size 16px
    @include transition(all 0.15s ease-in)
    &:hover
      background #f6f8f8

    &[rel="hide"]
      display none


