.popupOnline
	width 100%
	height 242px
	display none

	@media $smPlus
		width calc(100% - 54px)
		height 535px

	@media $md
		width 793px
		height 595px

	&_wrapper
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		cursor pointer
		z-index 1
		transition opacity 0.2s

		&-play
			z-index 0
			opacity 0

		&:hover
			.popupVideo_play
				width 50px
				height 50px

				@media $md
					width 70px
					height 70px

				@media $lg
					width 90px
					height 90px

	&_poster
		height 100%
		background url(../img/diary/diary_slide.jpg) no-repeat center / cover

	&_text
		position absolute
		top 20px
		left 20px
		font-size 8.2px
		font-weight 600
		line-height normal
		letter-spacing -0.2px
		color $white
		text-transform uppercase

		@media $smPlus
			top 27px
			left 27px
			font-size 11.7px

		@media $md
			top 30px
			left 30px
			font-size 13px

	&_play
		position absolute
		top 50%
		left 50%
		transform translateX(-50%) translateY(-50%)
		width 63px
		height 63px
		fill $white
		transition width 0.2s, height 0.2s
		z-index 1

		@media $md
			width 78px
			height 78px

		@media $lg
			width 97px
			height 97px

	#playerCamera
		position absolute
		top 0
		left 0
		width 100%
		height 100%

	// .fancybox-button
	// 	top 0
	//
	// 	svg
	// 		stroke $white
