.gallery
  position relative
  padding-top 30px
  padding-bottom 40px
  overflow hidden

  @media $smPlus
    padding-top 40px

  @media $lg
    display flex
    flex-direction column
    justify-content center
    flex-grow 1

  &_bgCircleLeft
  &_bgCircleLeftMobile
  &_bgCircleRight
  &_bgCircleBottom
    position absolute

  &_bgCircleLeft
    display none

    @media $xl
      top -68px
      left 0
      display block

  &_bgCircleLeftMobile
    top 0
    left -85px
    width 412px
    height 324px

    @media $smPlus
      left -116px
      height 419px

    @media $md
      left 0
      height 432px

    @media $xl
      display none

  &_bgCircleRight
    display none
    width 581px

    @media $md
      top 0
      right -456px
      display block
      height 708px

    @media $lg
      top -35px
      right -200px

    @media $xl
      top -45px
      right 0
      height 677px

  &_bgCircleBottom
    left auto
    right -377px
    bottom -40px
    width 511px
    height 439px

    @media $smPlus
      right -216px
      bottom -84px
      height 511px

    @media $md
      left 385px
      bottom -182px

    @media $xl
      left get-vw(710)vw
      bottom -297px

  &_wrapper
    margin-top 30px

    @media $smPlus
      display flex
      justify-content space-between
      height 595px
      margin-top 40px

    @media $md
      height auto

    @media $smMd
      flex-wrap wrap
      height auto

  &_item
    position relative
    min-height 287px
    display flex
    flex-direction column
    justify-content flex-end
    padding-left 20px
    padding-bottom 30px
    background-repeat no-repeat
    background-size cover
    color $white

    &-architecture
      background-position top left
      background-image url('../img/gallery/architecture.jpg')

      @media $lg
        background-position top center

    &-environment
      background-position top right
      background-image url('../img/gallery/environment_mobile.jpg')

      @media $md
        background-image url('../img/gallery/environment.jpg')

      @media $lg
        background-position top center

    &:hover
      .gallery_wrp
        @media $lg
          margin-bottom 30px

    &:first-of-type
      min-height 300px

    &:not(:last-of-type)
      margin-bottom 20px

    @media $smPlus
      width 100%
      max-width 50%
      flex-basis 50%
      min-height 595px
      padding-left 30px
      padding-right 30px

      &:first-of-type
        min-height 287px

    @media (min-width: 1024px)
      &:not(:last-of-type)
        margin-right 30px
        margin-bottom 0

    @media $md
      &:first-of-type
        min-height 595px

      &:not(:first-of-type)
        min-height 595px
        height auto

    @media $lg
      flex-direction row
      justify-content flex-start
      align-items flex-end
      padding-left 40px
      padding-right 20px
      padding-bottom 40px

      &:hover
        .gallery_wrp
          margin-bottom 0

    @media $smMd
      width 100%
      max-width 100%
      flex-basis inherit
      height 329px
      min-height inherit
      margin-right 0

      &:not(:last-of-type)
        margin-bottom 30px

      // &:nth-of-type(2n)
      //
      &:not(:first-of-type)
        margin-bottom 30px

        // @media $smMd
        //   margin-right 0

    &:before
    &::after
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      z-index 1
      transition opacity 0.2s

    &:before
      background-image linear-gradient(to bottom, rgba($black, 0), rgba($black, 0.5))
      opacity 1

    &::after
      background-image linear-gradient(to bottom, rgba($green, 0), rgba($green, 1))
      opacity 0

    &:hover
      &:before
        @media $lg
          opacity 0

      &::after
        @media $lg
          opacity 1

      .gallery_btn
        @media $lg
          height 35px
          opacity 1

  &_link
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index 3

  &_container
    width 100%

    @media $lg
      display flex
      align-items center
      justify-content space-between

  &_wrp
    position relative
    z-index 2
    transition margin-bottom 0.1s

    @media $lg
      margin-bottom 0

  &_name
    margin-bottom 5px
    font-weight 700
    font-size 24px

    @media $smPlus
      font-size 30px

  &_numberPhotos
    font-size 18px

  &_btn
    position relative
    display flex
    align-items center
    justify-content center
    width 35px
    height 0
    border-radius 50%
    box-shadow 0 6px 10px 0 rgba(0, 0, 0, 0.15)
    background-color $white
    z-index 2
    opacity 0
    transition opacity 0.1s, height 0.1s

    @media $lg
      height 35px
