doctype html
block vars
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name="format-detection" content="telephone=no")
		title #{title} | static website builder
		link(rel="apple-touch-icon" href="img/apple-touch-icon.png")
		link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
		link(href='/css/vendor.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
		script(src="https://api-maps.yandex.ru/2.1/?apikey=ab535de8-8918-4bb9-95c9-79c4b7f17529&lang=ru_RU")
	body
		#pagePreloader.Preloader

		include /includes/blocks/svg-sprites.pug
		include /includes/blocks/MenuMobile.pug

		.grow
			include /includes/blocks/Header.pug
			main
				block content
			include /includes/blocks/footer.pug
		.popup#bank-sberbank
			svg.popup_icon(width="188" height="47")
				use(xlink:href="#bank-sber-big")
			.popup_text «Сбербанк России» предлагает ипотечную программу на приобретение квартир в жилом комплексе «Брусчатый поселок».
			.popup_text <b>Первоначальный взнос</b> – от 15% от стоимости приобретаемой недвижимости.
			.popup_text <b>Срок кредитования</b> – до 30 лет.
			.popup_text <b>Процентная ставка</b> до/после оформления права собственности – от 8,7% годовых в рублях.
			.popup_text Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос – 50%
			.popup_text Комиссии за рассмотрение заявки на кредит и за выдачу кредита – отсутствуют.
			.popup_text Мораторий на досрочное погашение кредита (частичное или полное) – отсутствует.
		.popup#bank-ak-bars
			svg.popup_icon(width="89" height="18")
				use(xlink:href="#bank-ak-bars")
			.popup_text «Ак Барс Банк» предлагает ипотечную программу на приобретение квартир в жилом комплексе «Брусчатый поселок».
			.popup_text <b>Первоначальный взнос</b> – от 15% от стоимости приобретаемой недвижимости.
			.popup_text <b>Срок кредитования</b> – до 30 лет.
			.popup_text <b>Процентная ставка</b> до/после оформления права собственности – от 8,7% годовых в рублях.
			.popup_text Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос – 50%
			.popup_text Комиссии за рассмотрение заявки на кредит и за выдачу кредита – отсутствуют.
			.popup_text Мораторий на досрочное погашение кредита (частичное или полное) – отсутствует.
		.popupNews(id="news_1")
			.popupNews_title Начато строительство корпуса 8
			.popupNews_line
			.popupNews_img(style="background-image: url(./img/news/news_detail_1.jpg)")
			.popupNews_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur. Aliquam vitae erat ut nulla posuere vehicula. Nullam viverra mi turpis. Nulla facilisi. Maecenas suscipit orci non mauris elementum, non aliquet tortor cursus. Proin in condimentum magna, sed semper dolor. Praesent tellus purus, accumsan nec congue a, bibendum vitae ligula. Sed iaculis faucibus diam id sollicitudin. Vestibulum tincidunt auctor libero, non feugiat felis. In massa mi, viverra mollis tincidunt vitae, lacinia in mi. Duis elementum sem nulla, eu malesuada est interdum at. Integer nisl est, viverra nec dapibus non, vestibulum sed elit. Quisque placerat ligula eget ipsum varius, quis interdum quam interdum. Ut molestie ante massa, quis tristique neque semper quis.
			.popupNews_text In est nibh, eleifend sed rutrum ac, feugiat non massa. Sed lacinia mauris et leo rutrum, sit amet feugiat diam pulvinar. Praesent consectetur condimentum mauris egestas egestas. Vivamus ornare faucibus risus, vel maximus felis tristique vel. Nam nunc tortor, convallis vitae ante eget, laoreet tincidunt leo. Proin accumsan luctus magna, id malesuada urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sagittis ligula ut placerat laoreet.
			.popupNews_text Mauris condimentum massa eget ex accumsan, id lacinia purus tincidunt. Pellentesque lacus est, faucibus sit amet arcu vitae, fringilla semper sapien. Pellentesque ultricies risus vitae leo lacinia euismod. Quisque ultrices, nibh sit amet eleifend posuere, tortor leo dignissim tellus, ac lobortis ante felis ac velit. Fusce turpis nunc, auctor a rhoncus quis, efficitur tincidunt urna. Aenean scelerisque neque ut vestibulum fringilla. Cras fringilla eu massa id imperdiet. Vivamus ullamcorper gravida justo, ut efficitur tellus tempor vitae. Nulla interdum tellus eget tortor dictum, sed sollicitudin ligula euismod. Nulla porta ut felis at dictum. Integer id tempus sapien. Nullam cursus ut magna dapibus egestas. Vivamus non leo nibh. Ut non tempus nulla, sed laoreet felis. Mauris interdum tristique tincidunt. Quisque bibendum dapibus orci, sit amet pulvinar velit blandit eget.
		.popupNews(id="news_2")
			.popupNews_title 48% - текущий этап строительства седьмого корпуса
			.popupNews_line
			.popupNews_img(style="background-image: url(./img/news/news_2.jpg)")
			.popupNews_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur. Aliquam vitae erat ut nulla posuere vehicula. Nullam viverra mi turpis. Nulla facilisi. Maecenas suscipit orci non mauris elementum, non aliquet tortor cursus. Proin in condimentum magna, sed semper dolor. Praesent tellus purus, accumsan nec congue a, bibendum vitae ligula. Sed iaculis faucibus diam id sollicitudin. Vestibulum tincidunt auctor libero, non feugiat felis. In massa mi, viverra mollis tincidunt vitae, lacinia in mi. Duis elementum sem nulla, eu malesuada est interdum at. Integer nisl est, viverra nec dapibus non, vestibulum sed elit. Quisque placerat ligula eget ipsum varius, quis interdum quam interdum. Ut molestie ante massa, quis tristique neque semper quis.
			.popupNews_text In est nibh, eleifend sed rutrum ac, feugiat non massa. Sed lacinia mauris et leo rutrum, sit amet feugiat diam pulvinar. Praesent consectetur condimentum mauris egestas egestas. Vivamus ornare faucibus risus, vel maximus felis tristique vel. Nam nunc tortor, convallis vitae ante eget, laoreet tincidunt leo. Proin accumsan luctus magna, id malesuada urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sagittis ligula ut placerat laoreet.
			.popupNews_text Mauris condimentum massa eget ex accumsan, id lacinia purus tincidunt. Pellentesque lacus est, faucibus sit amet arcu vitae, fringilla semper sapien. Pellentesque ultricies risus vitae leo lacinia euismod. Quisque ultrices, nibh sit amet eleifend posuere, tortor leo dignissim tellus, ac lobortis ante felis ac velit. Fusce turpis nunc, auctor a rhoncus quis, efficitur tincidunt urna. Aenean scelerisque neque ut vestibulum fringilla. Cras fringilla eu massa id imperdiet. Vivamus ullamcorper gravida justo, ut efficitur tellus tempor vitae. Nulla interdum tellus eget tortor dictum, sed sollicitudin ligula euismod. Nulla porta ut felis at dictum. Integer id tempus sapien. Nullam cursus ut magna dapibus egestas. Vivamus non leo nibh. Ut non tempus nulla, sed laoreet felis. Mauris interdum tristique tincidunt. Quisque bibendum dapibus orci, sit amet pulvinar velit blandit eget.
		.popupNews(id="news_3")
			.popupNews_title Новая развязка Волоколамского и Ильинского шоссе
			.popupNews_line
			.popupNews_img(style="background-image: url(./img/news/news_3.jpg)")
			.popupNews_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur. Aliquam vitae erat ut nulla posuere vehicula. Nullam viverra mi turpis. Nulla facilisi. Maecenas suscipit orci non mauris elementum, non aliquet tortor cursus. Proin in condimentum magna, sed semper dolor. Praesent tellus purus, accumsan nec congue a, bibendum vitae ligula. Sed iaculis faucibus diam id sollicitudin. Vestibulum tincidunt auctor libero, non feugiat felis. In massa mi, viverra mollis tincidunt vitae, lacinia in mi. Duis elementum sem nulla, eu malesuada est interdum at. Integer nisl est, viverra nec dapibus non, vestibulum sed elit. Quisque placerat ligula eget ipsum varius, quis interdum quam interdum. Ut molestie ante massa, quis tristique neque semper quis.
			.popupNews_text In est nibh, eleifend sed rutrum ac, feugiat non massa. Sed lacinia mauris et leo rutrum, sit amet feugiat diam pulvinar. Praesent consectetur condimentum mauris egestas egestas. Vivamus ornare faucibus risus, vel maximus felis tristique vel. Nam nunc tortor, convallis vitae ante eget, laoreet tincidunt leo. Proin accumsan luctus magna, id malesuada urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sagittis ligula ut placerat laoreet.
			.popupNews_text Mauris condimentum massa eget ex accumsan, id lacinia purus tincidunt. Pellentesque lacus est, faucibus sit amet arcu vitae, fringilla semper sapien. Pellentesque ultricies risus vitae leo lacinia euismod. Quisque ultrices, nibh sit amet eleifend posuere, tortor leo dignissim tellus, ac lobortis ante felis ac velit. Fusce turpis nunc, auctor a rhoncus quis, efficitur tincidunt urna. Aenean scelerisque neque ut vestibulum fringilla. Cras fringilla eu massa id imperdiet. Vivamus ullamcorper gravida justo, ut efficitur tellus tempor vitae. Nulla interdum tellus eget tortor dictum, sed sollicitudin ligula euismod. Nulla porta ut felis at dictum. Integer id tempus sapien. Nullam cursus ut magna dapibus egestas. Vivamus non leo nibh. Ut non tempus nulla, sed laoreet felis. Mauris interdum tristique tincidunt. Quisque bibendum dapibus orci, sit amet pulvinar velit blandit eget.
		.popupNews(id="news_4")
			.popupNews_title Ваш новый двор
			.popupNews_line
			.popupNews_img(style="background-image: url(./img/news/news_4.jpg)")
			.popupNews_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur. Aliquam vitae erat ut nulla posuere vehicula. Nullam viverra mi turpis. Nulla facilisi. Maecenas suscipit orci non mauris elementum, non aliquet tortor cursus. Proin in condimentum magna, sed semper dolor. Praesent tellus purus, accumsan nec congue a, bibendum vitae ligula. Sed iaculis faucibus diam id sollicitudin. Vestibulum tincidunt auctor libero, non feugiat felis. In massa mi, viverra mollis tincidunt vitae, lacinia in mi. Duis elementum sem nulla, eu malesuada est interdum at. Integer nisl est, viverra nec dapibus non, vestibulum sed elit. Quisque placerat ligula eget ipsum varius, quis interdum quam interdum. Ut molestie ante massa, quis tristique neque semper quis.
			.popupNews_text In est nibh, eleifend sed rutrum ac, feugiat non massa. Sed lacinia mauris et leo rutrum, sit amet feugiat diam pulvinar. Praesent consectetur condimentum mauris egestas egestas. Vivamus ornare faucibus risus, vel maximus felis tristique vel. Nam nunc tortor, convallis vitae ante eget, laoreet tincidunt leo. Proin accumsan luctus magna, id malesuada urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sagittis ligula ut placerat laoreet.
			.popupNews_text Mauris condimentum massa eget ex accumsan, id lacinia purus tincidunt. Pellentesque lacus est, faucibus sit amet arcu vitae, fringilla semper sapien. Pellentesque ultricies risus vitae leo lacinia euismod. Quisque ultrices, nibh sit amet eleifend posuere, tortor leo dignissim tellus, ac lobortis ante felis ac velit. Fusce turpis nunc, auctor a rhoncus quis, efficitur tincidunt urna. Aenean scelerisque neque ut vestibulum fringilla. Cras fringilla eu massa id imperdiet. Vivamus ullamcorper gravida justo, ut efficitur tellus tempor vitae. Nulla interdum tellus eget tortor dictum, sed sollicitudin ligula euismod. Nulla porta ut felis at dictum. Integer id tempus sapien. Nullam cursus ut magna dapibus egestas. Vivamus non leo nibh. Ut non tempus nulla, sed laoreet felis. Mauris interdum tristique tincidunt. Quisque bibendum dapibus orci, sit amet pulvinar velit blandit eget.
		.popupStock(id="stock_1")
			.popupStock_title Начато строительство корпуса 8
			.popupStock_line
			.popupStock_img(style="background-image: url(./img/news/news_detail_1.jpg)")
			.popupStock_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur. Aliquam vitae erat ut nulla posuere vehicula. Nullam viverra mi turpis. Nulla facilisi. Maecenas suscipit orci non mauris elementum, non aliquet tortor cursus. Proin in condimentum magna, sed semper dolor. Praesent tellus purus, accumsan nec congue a, bibendum vitae ligula. Sed iaculis faucibus diam id sollicitudin. Vestibulum tincidunt auctor libero, non feugiat felis. In massa mi, viverra mollis tincidunt vitae, lacinia in mi. Duis elementum sem nulla, eu malesuada est interdum at. Integer nisl est, viverra nec dapibus non, vestibulum sed elit. Quisque placerat ligula eget ipsum varius, quis interdum quam interdum. Ut molestie ante massa, quis tristique neque semper quis.
			.popupStock_text In est nibh, eleifend sed rutrum ac, feugiat non massa. Sed lacinia mauris et leo rutrum, sit amet feugiat diam pulvinar. Praesent consectetur condimentum mauris egestas egestas. Vivamus ornare faucibus risus, vel maximus felis tristique vel. Nam nunc tortor, convallis vitae ante eget, laoreet tincidunt leo. Proin accumsan luctus magna, id malesuada urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sagittis ligula ut placerat laoreet.
			.popupStock_text Mauris condimentum massa eget ex accumsan, id lacinia purus tincidunt. Pellentesque lacus est, faucibus sit amet arcu vitae, fringilla semper sapien. Pellentesque ultricies risus vitae leo lacinia euismod. Quisque ultrices, nibh sit amet eleifend posuere, tortor leo dignissim tellus, ac lobortis ante felis ac velit. Fusce turpis nunc, auctor a rhoncus quis, efficitur tincidunt urna. Aenean scelerisque neque ut vestibulum fringilla. Cras fringilla eu massa id imperdiet. Vivamus ullamcorper gravida justo, ut efficitur tellus tempor vitae. Nulla interdum tellus eget tortor dictum, sed sollicitudin ligula euismod. Nulla porta ut felis at dictum. Integer id tempus sapien. Nullam cursus ut magna dapibus egestas. Vivamus non leo nibh. Ut non tempus nulla, sed laoreet felis. Mauris interdum tristique tincidunt. Quisque bibendum dapibus orci, sit amet pulvinar velit blandit eget.
		.popupStock(id="stock_2")
			.popupStock_title 48% - текущий этап строительства седьмого корпуса
			.popupStock_line
			.popupStock_img(style="background-image: url(./img/news/news_2.jpg)")
			.popupStock_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur. Aliquam vitae erat ut nulla posuere vehicula. Nullam viverra mi turpis. Nulla facilisi. Maecenas suscipit orci non mauris elementum, non aliquet tortor cursus. Proin in condimentum magna, sed semper dolor. Praesent tellus purus, accumsan nec congue a, bibendum vitae ligula. Sed iaculis faucibus diam id sollicitudin. Vestibulum tincidunt auctor libero, non feugiat felis. In massa mi, viverra mollis tincidunt vitae, lacinia in mi. Duis elementum sem nulla, eu malesuada est interdum at. Integer nisl est, viverra nec dapibus non, vestibulum sed elit. Quisque placerat ligula eget ipsum varius, quis interdum quam interdum. Ut molestie ante massa, quis tristique neque semper quis.
			.popupStock_text In est nibh, eleifend sed rutrum ac, feugiat non massa. Sed lacinia mauris et leo rutrum, sit amet feugiat diam pulvinar. Praesent consectetur condimentum mauris egestas egestas. Vivamus ornare faucibus risus, vel maximus felis tristique vel. Nam nunc tortor, convallis vitae ante eget, laoreet tincidunt leo. Proin accumsan luctus magna, id malesuada urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sagittis ligula ut placerat laoreet.
			.popupStock_text Mauris condimentum massa eget ex accumsan, id lacinia purus tincidunt. Pellentesque lacus est, faucibus sit amet arcu vitae, fringilla semper sapien. Pellentesque ultricies risus vitae leo lacinia euismod. Quisque ultrices, nibh sit amet eleifend posuere, tortor leo dignissim tellus, ac lobortis ante felis ac velit. Fusce turpis nunc, auctor a rhoncus quis, efficitur tincidunt urna. Aenean scelerisque neque ut vestibulum fringilla. Cras fringilla eu massa id imperdiet. Vivamus ullamcorper gravida justo, ut efficitur tellus tempor vitae. Nulla interdum tellus eget tortor dictum, sed sollicitudin ligula euismod. Nulla porta ut felis at dictum. Integer id tempus sapien. Nullam cursus ut magna dapibus egestas. Vivamus non leo nibh. Ut non tempus nulla, sed laoreet felis. Mauris interdum tristique tincidunt. Quisque bibendum dapibus orci, sit amet pulvinar velit blandit eget.
		.popupStock(id="stock_3")
			.popupStock_title Новая развязка Волоколамского и Ильинского шоссе
			.popupStock_line
			.popupStock_img(style="background-image: url(./img/news/news_3.jpg)")
			.popupStock_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur. Aliquam vitae erat ut nulla posuere vehicula. Nullam viverra mi turpis. Nulla facilisi. Maecenas suscipit orci non mauris elementum, non aliquet tortor cursus. Proin in condimentum magna, sed semper dolor. Praesent tellus purus, accumsan nec congue a, bibendum vitae ligula. Sed iaculis faucibus diam id sollicitudin. Vestibulum tincidunt auctor libero, non feugiat felis. In massa mi, viverra mollis tincidunt vitae, lacinia in mi. Duis elementum sem nulla, eu malesuada est interdum at. Integer nisl est, viverra nec dapibus non, vestibulum sed elit. Quisque placerat ligula eget ipsum varius, quis interdum quam interdum. Ut molestie ante massa, quis tristique neque semper quis.
			.popupStock_text In est nibh, eleifend sed rutrum ac, feugiat non massa. Sed lacinia mauris et leo rutrum, sit amet feugiat diam pulvinar. Praesent consectetur condimentum mauris egestas egestas. Vivamus ornare faucibus risus, vel maximus felis tristique vel. Nam nunc tortor, convallis vitae ante eget, laoreet tincidunt leo. Proin accumsan luctus magna, id malesuada urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sagittis ligula ut placerat laoreet.
			.popupStock_text Mauris condimentum massa eget ex accumsan, id lacinia purus tincidunt. Pellentesque lacus est, faucibus sit amet arcu vitae, fringilla semper sapien. Pellentesque ultricies risus vitae leo lacinia euismod. Quisque ultrices, nibh sit amet eleifend posuere, tortor leo dignissim tellus, ac lobortis ante felis ac velit. Fusce turpis nunc, auctor a rhoncus quis, efficitur tincidunt urna. Aenean scelerisque neque ut vestibulum fringilla. Cras fringilla eu massa id imperdiet. Vivamus ullamcorper gravida justo, ut efficitur tellus tempor vitae. Nulla interdum tellus eget tortor dictum, sed sollicitudin ligula euismod. Nulla porta ut felis at dictum. Integer id tempus sapien. Nullam cursus ut magna dapibus egestas. Vivamus non leo nibh. Ut non tempus nulla, sed laoreet felis. Mauris interdum tristique tincidunt. Quisque bibendum dapibus orci, sit amet pulvinar velit blandit eget.
		.popupStock(id="stock_4")
			.popupStock_title Ваш новый двор
			.popupStock_line
			.popupStock_img(style="background-image: url(./img/news/news_4.jpg)")
			.popupStock_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pharetra ex. Pellentesque imperdiet augue quis ante convallis consectetur. Aliquam vitae erat ut nulla posuere vehicula. Nullam viverra mi turpis. Nulla facilisi. Maecenas suscipit orci non mauris elementum, non aliquet tortor cursus. Proin in condimentum magna, sed semper dolor. Praesent tellus purus, accumsan nec congue a, bibendum vitae ligula. Sed iaculis faucibus diam id sollicitudin. Vestibulum tincidunt auctor libero, non feugiat felis. In massa mi, viverra mollis tincidunt vitae, lacinia in mi. Duis elementum sem nulla, eu malesuada est interdum at. Integer nisl est, viverra nec dapibus non, vestibulum sed elit. Quisque placerat ligula eget ipsum varius, quis interdum quam interdum. Ut molestie ante massa, quis tristique neque semper quis.
			.popupStock_text In est nibh, eleifend sed rutrum ac, feugiat non massa. Sed lacinia mauris et leo rutrum, sit amet feugiat diam pulvinar. Praesent consectetur condimentum mauris egestas egestas. Vivamus ornare faucibus risus, vel maximus felis tristique vel. Nam nunc tortor, convallis vitae ante eget, laoreet tincidunt leo. Proin accumsan luctus magna, id malesuada urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sagittis ligula ut placerat laoreet.
			.popupStock_text Mauris condimentum massa eget ex accumsan, id lacinia purus tincidunt. Pellentesque lacus est, faucibus sit amet arcu vitae, fringilla semper sapien. Pellentesque ultricies risus vitae leo lacinia euismod. Quisque ultrices, nibh sit amet eleifend posuere, tortor leo dignissim tellus, ac lobortis ante felis ac velit. Fusce turpis nunc, auctor a rhoncus quis, efficitur tincidunt urna. Aenean scelerisque neque ut vestibulum fringilla. Cras fringilla eu massa id imperdiet. Vivamus ullamcorper gravida justo, ut efficitur tellus tempor vitae. Nulla interdum tellus eget tortor dictum, sed sollicitudin ligula euismod. Nulla porta ut felis at dictum. Integer id tempus sapien. Nullam cursus ut magna dapibus egestas. Vivamus non leo nibh. Ut non tempus nulla, sed laoreet felis. Mauris interdum tristique tincidunt. Quisque bibendum dapibus orci, sit amet pulvinar velit blandit eget.  		
		.popupVideo(id='video')
			.popupVideo_wrapper
				.popupVideo_poster
				svg.popupVideo_play
					use(xlink:href='#play')
			#player
		.popupOnline(id="online_camera")
			.popupOnline_wrapper
				.popupOnline_text Live
				.popupOnline_poster
				svg.popupVideo_play
					use(xlink:href='#play')
			#playerCamera
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqWHnWp2tLH71RGutnPty7BWSS1B_v2os&libraries=geometry")
		script(src='./js/vendor.js')
		script(src='./js/common.js')
		block page_bottom