.infrastructure
  @media $xl
    padding-bottom 50px

  &_banner
    display flex
    align-items flex-end
    height 182px
    margin-bottom 20px
    padding-bottom 20px
    background-color #999
    background-image url(../img/infrastructure/bg_mobile.jpg)
    background-repeat no-repeat
    background-position center
    background-size cover

    @media $smMd
      background-image url(../img/infrastructure/bg_tablet.jpg)

    @media (min-width: 1024px) and (max-width: 1279px)
      background-image url(../img/infrastructure/bg_1024.jpg)

    @media (min-width: 1280px) and (max-width: 1679px)
      background-image url(../img/infrastructure/bg_desktop.jpg)

    @media $xl
      background-image url(../img/infrastructure/bg.jpg)

    @media $smPlus
      margin-bottom 30px
      padding-bottom 31px

    @media $md
      margin-bottom 39px

    @media $xl
      height 300px
      padding-bottom 50px
      margin-bottom 50px

  &_container
    width 100%

    @media $md
      max-width 921px
      margin 0 auto

    @media $xl
      max-width 1300px

  &_wrapper
    padding 0 20px

    @media $smPlus
      padding 0 40px

    @media $md
      padding 0 100px

    @media $xl
      padding 0 95px

  &_title
    font-weight 700
    font-size 25px
    color $white

    @media $smPlus
      font-size 33px

    @media $xl
      font-size 50px

  &_text
    font-size 16px
    line-height 1.62

    @media $xl
      font-size 18px
      line-height 1.44

    &:not(:last-of-type)
      margin-bottom 35px

  &_parking
    margin-top 40px
    margin-bottom 40px
    padding 40px 20px 80px
    background-repeat no-repeat
    background-position left center
    background-size cover
    background-image linear-gradient(to left, rgba(0, 0, 0, 0), #000000), url('../img/infrastructure/parking_mobile.jpg')

    @media $smPlus
      height 224px
      padding-top 50px
      padding-left 40px
      padding-bottom 0
      padding-right 0
      background-image linear-gradient(to left, rgba(0, 0, 0, 0), #000000), url('../img/infrastructure/parking.jpg')

    @media $md
      padding-left 95px

    @media $xl
      display flex
      align-items center
      height 300px
      margin-top 50px
      margin-bottom 50px
      padding-top 0

  &_info
    position relative
    font-weight 600
    font-size 24px
    line-height 32px
    color $white

    @media $smPlus
      max-width 688px

    @media $md
      max-width 703px

    &::after
      content ''
      position absolute
      left 0
      bottom -40px
      width 122px
      height 7px
      background-color $green

  &_wrapperPhoto
    margin-top 40px
    margin-bottom 40px

    @media $smPlus
      display flex
      justify-content flex-end

    @media $md
      justify-content space-between

    @media $xl
      margin-top 50px
      margin-bottom 50px

  &_photo
    height 287px
    background-repeat no-repeat
    background-position center
    background-size cover

    @media $smPlus
      flex-basis calc(50% + 60px)

    @media $md
      flex-basis calc(50% - 15px)

    @media $xl
      flex-basis calc(50% - 30px)
      height 400px

    &:first-of-type
      @media (min-width 768px) and (max-width 1023px)
        position absolute
        width calc(50% + 60px)
        left 0
        z-index -1

    &:not(:first-of-type)
      margin-top 20px

      @media $smPlus
        margin-top 144px

      @media $md
        margin-top 52px

  &_sport
    height 268px
    margin-top 40px
    margin-bottom 40px
    background-repeat no-repeat
    background-position center
    background-size cover
    background-image url('../img/infrastructure/sport_mobile.jpg')

    @media $smPlus
      height 416px
      background-image url('../img/infrastructure/sport_768.jpg')

    @media $md
      background-image url('../img/infrastructure/sport_1024.jpg')

    @media $xl
      height 450px
      margin-top 50px
      margin-bottom 50px
      background-image url('../img/infrastructure/sport.jpg')

  &_wrapperCall
    width 100%
    padding-left 20px
    padding-right 20px
    text-align center

    @media $smPlus
      max-width 641px
      margin 0 auto

    @media $xl
      max-width 778px

    .button
      width 223px
      margin 0 auto
      text-align left

  &_call
    margin-bottom 42px
    line-height 1.22
    font-weight 300
    font-size 24px
    font-style italic

    @media $xl
      font-size 30px

    @media $xs
      margin-bottom 44px

  &_wrapperMap
    position relative
    height 698px
    margin-top 70px
    overflow hidden

    @media $xs
      position relative
      display flex
      flex-direction column-reverse
      height auto

    @media $md
      height 582px
      margin-top 60px

    @media $xl
      width 1300px
      margin-left auto
      margin-right auto

    #map
      width: 100%
      height 100%

      @media $xs
        height 412px

  &_fillter
    position absolute
    top 0
    left 0
    width 100%
    padding 15px 20px 30px
    background-color $white
    border-top 2px solid $green
    box-shadow 0 20px 29px 0 rgba(0, 0, 0, 0.11)

    @media $xs
      position relative

    @media $smPlus
      top 10px
      left 50%
      transform translateX(-50%)
      width calc(100% - 20px)
      padding 30px
      border-top none

    @media $md
      top 40px
      left 40px
      transform translateX(0)
      width auto

    @media $lg
      left 70px

    @media $xl
      left 95px

  &_item
    display flex
    align-items center
    height 34px
    font-size 14px
    transition color 0.2s

    @media $md
      height auto
      font-size 16px

    &:hover
    &-active
      color rgba($black, 0.3)

    &-disbaled
      color rgba($black, 0.3)

      .infrastructure_icon
        box-shadow none
        background-color #d1d1d1

        &::after
          border-right-color #d1d1d1
          border-bottom-color #d1d1d1

  &_list
    width 300px
    margin-left auto
    margin-right auto
    column-count 2

    @media $smPlus
      width auto
      column-count 4

    @media $md
      column-count auto

    &-disbaled
      .infrastructure_item
        pointer-events none
        color rgba($black, 0.3)

        .infrastructure_icon
          box-shadow none
          background-color #d1d1d1

          &::after
            border-right-color #d1d1d1
            border-bottom-color #d1d1d1

    li
      margin-bottom 20px

      @media $md
        margin-bottom 0

      &:not(:last-of-type)
        @media $md
          margin-bottom 25px

  &_icon
    position relative
    display flex
    justify-content center
    align-items center
    flex-shrink 0
    width 26px
    height 26px
    margin-right 10px
    border-radius 50%

    &::after
      content ''
      position absolute
      bottom -3px
      left 50%;
      border 6px solid transparent
      border-left-color transparent
      border-top-color transparent
      transform: translateX(-50%) rotate(45deg)

    &-shop
      box-shadow 0 2px 9px 0 rgba(74, 144, 226, 0.45)
      background-color: #4a90e2

      &::after
        border-right-color #4a90e2
        border-bottom-color #4a90e2

    &-med
      box-shadow 0 2px 9px 0 rgba(243, 76, 76, 0.45)
      background-color #f34c4c

      &::after
        border-right-color #f34c4c
        border-bottom-color #f34c4c

    &-kids
      box-shadow 0 2px 9px 0 rgba(72, 224, 154, 0.45)
      background-color #48e09a

      &::after
        border-right-color #48e09a
        border-bottom-color #48e09a

    &-shcool
      box-shadow 0 2px 9px 0 rgba(#9954a8, 0.45)
      background-color #9954a8

      &::after
        border-right-color #9954a8
        border-bottom-color #9954a8

    &-park
      box-shadow: 0 2px 9px 0 rgba(126, 211, 33, 0.45)
      background-color: #7ed321

      &::after
        border-right-color #7ed321
        border-bottom-color #7ed321

    &-food
      background-color #ff7ee2

      &::after
        border-right-color #ff7ee2
        border-bottom-color #ff7ee2

    &-bank
      box-shadow 0 2px 9px 0 rgba(61, 95, 255, 0.45)
      background-color #3d5fff

      &::after
        border-right-color #3d5fff
        border-bottom-color #3d5fff

    &-sport
      box-shadow 0 2px 9px 0 rgba(245, 166, 35, 0.45)
      background-color #f5a623

      &::after
        border-right-color #f5a623
        border-bottom-color #f5a623

  &_subtitle
    text-align left

  &_control
    display flex
    justify-content center
    margin-top 12px

    @media $md
      justify-content space-between
      margin-top 35px

  &_btn
    font-size: 16px;
    color: rgba($black, 0.3)
    transition color 0.2s

    &.active
      color $black
      cursor default
      pointer-events none

    &:not(:last-of-type)
      margin-right 44px

    @media $md
      &:not(:last-of-type)
        margin-right 0

    &:hover
      color $black
