.indexContact
  position relative
  width 100%
  display flex
  flex-direction column
  align-items center
  justify-content center
  padding: 130px 20px 125px
  background-image url('../img/district-mobile.jpg')
  background-repeat no-repeat
  background-position bottom center
  background-size cover

  @media $smPlus
    height 727px
    padding 0
    background-image url('../img/district.jpg')
    background-position 30% center

  @media $md
    height 100vh

  @media $vh
    padding: 12.5vh 2.0vh

  &:before
  &:after
    content ''
    position absolute
    left 50%
    transform: translateX(-50%) rotate(45deg)
    width: 30px;
    height: 30px;

  &:before
    top 5vh
    background-color #b8e986

    @media $smPlus
      top 12vh

  &:after
    bottom 5vh
    background-color #f8e71c

    @media $smPlus
      bottom 10.5vh

  &_text
    margin 30px 0
    font-size 16px
    text-align center
    color $white

    @media $smPlus
      margin 25px 0 40px

    @media $lgPlus
      margin 30px 0
      font-size 24px

    @media $vh
      margin 2.5vh 0 4.0vh

  .form_text
    // @media $vh
    //   width 31.9vh
    //   height 8.9vh

  .button
    padding 21px 0px 21px 30px

    @media $smMd
      padding 19px 30px 21px

    // @media $vh
    //   width 31.7vh
