.indexContainer
  width 100%

  @media $md
    display: flex
    height 100vh

  &_slider
    position relative
    height 300px
    overflow hidden

    @media $smPlus
      height 512px

    @media $md
      width 100%
      max-width 50%
      flex-basis 50%
      height 100vh

  &_sliderPark
    height 100vh

    .swiper-slide
      height 100%
      background-color $green
      background-position center
      background-size cover
      background-repeat no-repeat

      @media $smPlus
        background-position top center

  &_count
    position absolute
    z-index 1
    pointer-events none

    @media $smPlus
      bottom -25px
      right -30px
      font-weight: 700;
      font-size: 333px;
      color rgba($white 0.3)

    @media $lgPlus
      bottom -45px
      right -55px
      font-size 600px

  &_contorl
    position: absolute;
    top: 50%;
    left: 50%;
    display flex
    justify-content: space-between;
    width: calc(100% - 20px);
    z-index 3
    transform: translateY(-50%) translateX(-50%);
    pointer-events: none;

    @media $smPlus
      top auto
      left auto
      bottom 0
      right 0
      width auto
      // padding 22px 40px
      padding 18px 34px
      transform: translateY(0%) translateX(0%);
      background-color $white

    @media $xl
      padding 36px 48px

  &_btnWrapper
    position relative
    display flex
    align-items center
    justify-content center
    width 43px
    height 43px

    @media $smPlus
      &:not(:last-of-type)
        margin-right 24px

    @media $lgPlus
      width 78px
      height 78px

      &:not(:last-of-type)
        margin-right 45px

  &_btn
    position relative
    display flex
    align-items center
    justify-content center
    width 35px
    height 35px
    border-radius 50%
    background-color: $white
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15)
    outline transparent
    cursor pointer
    pointer-events auto

    @media $lgPlus
      width 63px
      height 63px

  &_btnArrow
    width 10px
    height 16px

    @media $lgPlus
      width 14px
      height 24px

  &_btnProgres
    position absolute
    top 0
    left 0
    transform: rotate(-90deg);

  &_btnProgresValue
    stroke $green

    &-animation
      animation progress 5s linear infinite normal

    &-pause
      animation-play-state paused

  &_location
    height 300px

    @media $smPlus
      height 512px

    @media $md
      flex-basis 50%
      height 100%
      overflow hidden

    #map
      width: 100%
      height 100%

      .ymaps-2-1-69-controls__control
        display none !important

  &_transportBg
    height 300px
    background: url('../img/transport_bg.jpg') no-repeat top center / cover

    @media $smPlus
      height 512px

    @media $md
      flex-basis 50%
      height 100%

  &_park
  &_infrastructura
  &_transportAccessibility
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top 30px
    padding-bottom 30px
    padding-left 20px
    padding-right 20px
    background-repeat no-repeat
    background-position top center
    background-size cover
    text-align center

    @media $smPlus
      height 512px
      padding 50px
      justify-content flex-start

    @media $md
      justify-content: center;
      flex-basis 50%
      height 100%
      padding-top 0
      padding-bottom 0
      padding-right get-vw(90)vw
      text-align left

  &_park
  &_infrastructura
    @media $lg
      padding-left 129px

    @media $xl
      padding-left get-vw(152)vw
      padding-right get-vw(152)vw

  &_park
    @media $smPlus
      background-image url(../img/bitmap.jpg)

  &_infrastructura
    background-image url(../img/infrastructure_bg.png)
    background-color #44774c
    background-position left top
    background-repeat repeat
    background-size auto

    @media $smMd
      padding 71px 50px

    .indexContainer_text
      margin-bottom 30px

      @media $smMd
        margin-bottom 38px

  &_transportAccessibility
    @media $lg
      padding-left 84px

    @media $xl
      padding-left get-vw(152)vw
      padding-right get-vw(152)vw

  &_wrp
    display flex
    align-items flex-end
    margin-bottom 33px
    justify-content center

    @media $smPlus
      margin-bottom 20px

    @media $md
      justify-content flex-start

    @media $lgPlus
      margin-bottom 35px

  &_time
    display flex
    align-items flex-end

  &_num
    margin-right 5px
    font-weight 700
    font-size 45px
    color $green

  &_timeText
    padding-bottom 3px
    font-size 14px
    color $green
    text-align left

  &_way
    align-self center
    width 65px
    margin 0 33px
    border 1px dashed $green

  &_text
    margin-bottom: 25px
    font-size 16px
    line-height 1.42

    @media $xl
      margin-bottom: 45px
      font-size get-vw(24)vw

    @media $smMd
      margin-bottom 36px
      line-height 1.2

    @media $vh
      margin-bottom 4.125vh
      font-size 2.1vh

    &-notMargin
      margin-bottom: 0

    &-white
      color $white

  &_spaces
    display flex
    justify-content space-between
    flex-wrap wrap

    @media $smPlus
      justify-content center

    @media $md
      justify-content flex-start
      margin-bottom: 10px

    @media $lg
      margin-bottom: 0

  &_item
    flex-basis 50%
    margin-bottom 24px
    font-size 16px
    line-height normal
    text-align left

    @media $lgPlus
      font-size 24px

    @media $smPlus
      flex-basis auto
      margin-bottom 0
      margin-right 52px

    @media $md
      flex-basis 33.3333%
      margin-bottom 20px
      margin-right 0

    @media $lgPlus
      margin-bottom 50px
      font-size get-vw(24)vw

    @media $vh
      margin-bottom 2.4vh
      font-size 1.75vh

    @media $xs
      padding 0 4px

    &-notMarginR
      @media $smPlus
        margin-right 0

    &-width
      flex-basis 100%
      margin-top 30px
      margin-bottom 50px
      padding-right: 0
      text-align center

      @media $smPlus
        flex-basis 490px
        margin-left auto
        margin-right auto
        margin-bottom 30px

      @media $md
        flex-basis 66.667%
        margin 0
        text-align left

  &_distance
    margin-bottom 7px
    font-size 35px
    color $green

    @media $lgPlus
      font-size get-vw(35)vw

    @media $vh
      margin-bottom 0.7vh
      font-size 3.5vh

    @media $xs
      text-align center

  &_highway
    @media $xs
      text-align center

  &_icon
    display: flex
    align-items center
    justify-content center
    margin-bottom 19px
    color #e7262a
    text-transform uppercase

    @media $smPlus
      justify-content flex-start

    @media $vh
      margin-bottom 1.9vh

    svg
      margin-right 10px

    img
      display inline-block
      width 22px
      height 29px

      &:not(:last-of-type)
        margin-right 10px

  &_wrpTransport
    @media $smMd
      display flex

  &_transport
    text-align center

    &:not(:last-of-type)
      margin-bottom 30px

    @media $smPlus
      text-align left

    @media $smMd
      &:not(:last-of-type)
        margin-bottom 0
        padding-right 20px

    @media $md
      &:not(:last-of-type)
        margin-bottom 30px

    @media $lgPlus
      &:not(:last-of-type)
        margin-bottom 50px

    .indexContainer_text
      line-height normal

  .title
    margin-bottom: 30px

    @media $lgPlus
      margin-bottom: 40px

  .button
    width: 100%
    margin 0 auto
    text-align left

    @media $smPlus
      max-width: 317px

    @media $md
      margin 0

@keyframes progress
  from
    stroke-dashoffset 0
  to
    stroke-dashoffset -241.78px

.mainVideo
  padding 0
  max-width 1058px
  width 100%
  max-height 595px
  height 100%
  overflow hidden
  display none
  @media(max-width: 1150px)
    width 92%
    height auto
  & video
    max-width 1140px
    width 100%
    max-height 595px
    height 100%
  &Btn
    position absolute
    left 38px
    top 110px
    width 206px
    height 52px
    text-align right
    background url('../img/mainVideo/preview.jpg') left top no-repeat $white
    z-index 10
    @media $mdMax
      // left 23px
      // top 95px
      top 111px
      left 20px
    // @media $xs
    //   left 20px
    //   top 85px
    //   width 27px
    //   height 27px
    //   background none
    @media (min-width 768px) and (max-width 1023px) and (max-height 850px)
      display none
    &:before
      content: ''
      position absolute
      left 30px
      top 14px
      width 27px
      height 27px
      background url('../img/mainVideo/icon_play.svg') left top no-repeat
      // @media $xs
      //   left 0
      //   top 0
    & span
      display inline-flex
      align-items center
      text-align center
      width 121px
      height 52px
      font-weight 700
      font-size 13px
      line-height 14px
      color $black
      // @media $xs
      //   display none

.mainVideoBtn
  &-image
    position relative
    top 0
    left 0
    display flex
    width 206px
    height 52px
    background #FFF
    
    &:before
      display none
    
    span
      display flex
      -webkit-justify-content center
      justify-content center
      font-size 12px

.SwiperMainVideoBtns
  width 206px
  margin-top -32px
  margin-bottom 15px
  padding-bottom 17px
  
  &_btn
    &-video
      position relative
      top 0
      left 0
      display block
      outline none
      
      span
        font-size 12px
  
  .swiper-pagination-bullets
    bottom 0
    
    .swiper-pagination-bullet
      width 6px
      height 6px
      margin 0 5px
      background $white
      opacity 1
      
      &-active
        background $light-gold

.MainVideoBtnsList
  position absolute
  top 111px
  right -10px
  
  @media $lg
    right 7px
  
  &_btn
    margin-bottom 10px

.SwiperMainVideoBtns  
  @media $smPlus
    display none
  
  @media (min-width 768px) and (max-width 1023px) and (max-height 850px)
    display block

.MainVideoBtnsList  
  @media (min-width 768px) and (max-width 1023px) and (max-height 850px)
    display none