.indexFullPage
  @media $md
    height 100%

  &_wrapper
     @media $mdMax
       display: block

  &_pagination
    right 20px
    display none

    @media $xl
      right 40px

    .swiper-pagination-bullet
      width 10px
      height 10px
      background-color $white
      opacity 1

      &:last-of-type
        display: none

      &-active
        width 15px
        background: url(../img/bullet-white.svg) no-repeat center / cover

    &-whiteOpacity
      .swiper-pagination-bullet
        background-color rgba($white, 0.13)

    &-black
      .swiper-pagination-bullet
        background-color: rgba(#000, 0.13)

        &-active
          background: url(../img/bullet.svg) no-repeat center / cover
