.indexName
  position relative
  width 100%
  height 100vh
  padding-left 32.5px
  padding-right 33.5px
  background url('../img/residential_complex.jpg') no-repeat top center / cover

  @media $smMd
    min-height 612px

  @media $xs
    // height: auto
    display flex
    flex-direction column
    min-height 380px
    background-image: none
    padding-left 0
    padding-right 0

  @media (max-height: 416px) and (max-width: 767px)
    height auto

  &_content
    width: 100%
    height: 100%
    display flex
    flex-direction column
    align-items center
    justify-content center

    @media $xs
      // flex-grow 1
      // padding 72px 33px 30px
      padding 115px 33px 25px
      height auto
      min-height 352px
      // background url('../img/residential_complex.jpg') no-repeat top center / cover
      background url('../img/residential_complex.jpg') no-repeat 53.2% 0 / cover

    @media (max-height: 416px) and (max-width: 767px)
      height 100vh
    
    @media $smPlus
      position relative

  &_title
    margin-bottom 28px
    text-align center
    font-weight 700
    font-size 30px
    color $white

    @media $smPlus
      font-size: 40px
      margin-bottom: 18px

    @media $xl
      font-size: 60px
      margin-bottom: 20px

    // @media $vh320
    //   font-size 6.0vh

    @media $vh320xs
      // font-size: 28px
      margin-bottom 10px
      font-size: 30px
      line-height normal

    @media $vh
      font-size 7.5vh

    @media (min-width: 1024px) and (max-width: 1279px)
      font-size: 40px

    @media (min-width: 1024px) and (max-width: 1679px)
      margin-bottom 22px

  &_text
    max-width 280px
    width 100%
    text-align: center
    font-weight 100
    font-size 18px
    line-height normal
    color $white

    &:not(.indexName_text-mobile)
      display none

    @media $smPlus
      max-width 510px
      font-size: 26px

      &:not(.indexName_text-mobile)
        display block

    @media $lgPlus
      max-width 615px
      font-size: 30px

    // @media $vh320
    //   font-size 3.0vh

    // @media $vh320xs
    //   font-size 16px

    @media $vh
      font-size 4.5vh

    @media (min-width: 1024px) and (max-width: 1279px)
      font-size 26px

    &-mobile
      @media $smPlus
        display none

  &_btnDown
    display flex
    align-items center
    justify-content center
    width 35px
    height 35px
    margin-top 40px
    padding-top 4.5px
    border-radius 50%
    background-color $white
    outline none
    cursor pointer

    @media $smPlus
      margin-top 55px

    @media $lgPlus
      margin-top 50px

    @media $xs
      // margin-top 32px
      margin-top 15px

  &_stock
    position: absolute
    bottom: 20px
    left: 50%
    transform: translateX(-50%)
    max-width 980px
    width 100%
    display: flex
    align-items center
    justify-content space-between
    flex-direction column
    padding 20px 35px
    background-color: $white

    @media $smPlus
      // bottom: 15px
      bottom: 25px
      width calc(100% - 50px)
      padding 20px 30px

    @media $md
      //width calc(100% - 128px)
      align-items: baseline
      flex-direction row

    @media $lg
      max-width 980px

    // @media $vh320
    //   padding 2.0vh 3.5vh

    @media $xs
      position: relative;
      left: 0;
      bottom 0
      padding 0
      // transform: none
      transform: none;
      width: 100vw

  &_stockWrapper
    text-align center

    @media $smPlus//$md
      display flex
      width 100%
      align-items baseline
      text-align left

    @media $mdMax
      align-items center
      width 100%

  &_stockName
    font-weight 700
    font-size 20px
    width 150px
    position relative

    &:before
      content ''
      position absolute
      left -30px
      top -20px
      width calc(100% + 45px)
      height calc(100% + 40px)
      background #ffdf5d
      z-index -1

      @media $mdMax
        top -34px
        height calc(100% + 67px)

      @media $xs
        display none

    &:after
      content ''
      position absolute
      right -15px
      top -20px
      border 20px solid #fff
      border-left 10px solid #ffdf5d
      border-top 40px solid #ffdf5d

      @media $mdMax
        top -34px
        border-left-width 7px
        border-top-width 67px

      @media $xs
        display none

    @media $xs
      width auto
      padding 15px 0
      background #ffdf5d

    @media $md
      margin-right 41px

    // @media $vh320
    //   font-size 2.0vh

    @media $vh320xs
      font-size 18px

    svg
      // margin-right 8px
      margin-right 12px

  &_stocText
    width: 100%;
    // margin-top 10px
    // margin-bottom 10px
    text-align center

    @media $md
      margin: 0
      text-align left

    @media $xs
      padding 15px

    /*@media $smMd
      margin-top 14px
      margin-bottom 16px*/

  &_stocText
  &_stockLink
    font-size: 16px

    // @media $vh320
    //   font-size 1.6vh

    // @media $vh320xs
    //   font-size 15px

  &_stocLink
    float right
    font-size 16px
    color $green

    @media $mdMax
      float none
      display block
      margin-top 15px

    @media $xs
      margin-top 10px

    // @media $vh320
    //   font-size 1.6vh

    // @media $vh320xs
    //   font-size 15px

    svg
      width 7px
      height 10px
      margin-left 4px

      // @media $vh320
      //   width 0.7vh
      //   height 1.0vh
      //   margin-left 0.4vh

      // @media $vh320xs
      //   width 7px
      //   height 10px
      //   margin-left 4px