.filters-flats
  display flex
  flex-wrap wrap

  &__item
    position relative
    display flex
    flex-direction column
    align-items center
    width 280px
    height 278px
    padding 20px 18px 16px 20px
    border solid 1px #efefef
    margin-right 20px
    margin-bottom 20px
    cursor pointer
    transition border 0.4s ease

    @media (min-width: 1680px) and (max-width: 1899px)
      flex-basis 18.7%
      margin-right 1.6%

    @media (min-width: 1280px) and (max-width: 1679px)
      width 210px

    @media (min-width: 1024px) and (max-width: 1279px)
      width 208px

    @media $smMd
      width 31.3%
      margin-right 3.05%

    @media $xs
      width 100%
      margin-right 0
      margin-bottom 27px

    &:nth-of-type(7n)
      @media (min-width: 2520px)
        margin-right 0

    &:nth-of-type(6n)
      @media (min-width: 2220px) and (max-width: 2519px)
        margin-right 0

    &:nth-of-type(5n)
      @media (min-width: 1680px) and (max-width: 2219px)
        margin-right 0

      @media (min-width: 1512px) and (max-width: 1679px)
        margin-right 0

    &:nth-of-type(4n)
      @media (min-width: 1280px) and (max-width: 1511px)
        margin-right 0

    &:nth-of-type(3n)
      @media (min-width: 1024px) and (max-width: 1279px)
        margin-right 0

      @media $smMd
        margin-right 0

    &:hover
      border-color $green

  &__discount
    position absolute
    top: -9px;
    right: 9px;

    @media (min-width: 768px) and (max-width: 1279px)
      top: -7px;
      right: 7px;

  &__img
    width 170px
    height 176px
    margin 0 auto 22px
    background-position center
    background-repeat no-repeat
    background-size contain

  &__price,
  &__area,
  &__rooms
    font-size 14px
    line-height 1.2
    letter-spacing -0.4px
    color #000

  &__price
    margin-bottom 8px
    color $green
    font-weight 600

  &__description-wrap
    width 100%
    display flex
    align-items flex-end
    justify-content space-between
