.filters-table
  width: 100%

  &__item
    width: 100%
    padding: 12px 0
    display: flex
    margin-bottom: 10px
    box-shadow: 0 15px 15px -6px rgba(228, 228, 228, 0.5)
    background-color: #fff
    border: 1px solid #fff
    transition: border 0.4s ease
    @media $xs
      padding: 14px 10px 0
      margin-bottom: 20px;
      flex-wrap: wrap;

    &:last-of-type
      margin-bottom: 0

    &:hover
      border-color: $green
      .filters-table
        &__head
          color: $green

  &__col
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    padding-left: 49px
    padding-right: 6px

    @media (min-width: 1600px) and (max-width: 1899px)
      padding-left: 42px

    @media (min-width: 768px) and (max-width: 1599px)
      padding-left: 19px

    @media $xs
      padding: 0 10px
      margin-bottom: 20px;

    &--number
      width: 8%
      @media (min-width: 1280px) and (max-width: 1599px)
        width: 10%
      @media (min-width: 768px) and (max-width: 1279px)
        width: 7.1%
      // @media $smMd
      //   width: 7.1%;
      @media $xs
        width: 17.5%;
        order: 0

      .filters-table__head
        font-family "Arial"

    &--corpus
      width: 12.2%
      @media (min-width: 1600px) and (max-width: 1899px)
        width: 10.2%
      @media (min-width: 1280px) and (max-width: 1599px)
        width: 9.9%
      @media (min-width: 768px) and (max-width: 1279px)
        width: 10.8%
      @media $xs
        width: 26.4%;
        order: 1

    &--view
      width: 24.6%
      @media (min-width: 1600px) and (max-width: 1899px)
        width: 28.2%
      @media (min-width: 1280px) and (max-width: 1599px)
        width: 32.6%
      @media (min-width: 768px) and (max-width: 1279px)
        width: 36.4%
      @media $xs
        width: 100%
        order: 5

    &--area
      width: 13.4%
      @media (min-width: 1280px) and (max-width: 1599px)
        width: 14.4%
      @media (min-width: 768px) and (max-width: 1279px)
        width: 12.3%
      @media $xs
        width: 38%;
        order: 3

    &--floor
      width: 21.6%
      @media (min-width: 1600px) and (max-width: 1899px)
        width: 16.2%
      @media (min-width: 1280px) and (max-width: 1599px)
        width: 10.7%
      @media (min-width: 768px) and (max-width: 1279px)
        width: 8.9%
      @media $xs
        width: 18%;
        order: 4

    &--price
      width: 12.4%
      @media (min-width: 1600px) and (max-width: 1899px)
        width: 14.4%
      @media (min-width: 1280px) and (max-width: 1599px)
        width: 16.3%
      @media (min-width: 768px) and (max-width: 1279px)
        width: 16.3%
      @media $xs
        width: 85%;
        order: 6

    &--discount
      width: 7.8%
      @media (min-width: 1280px) and (max-width: 1599px)
        width: 6.1%
      @media (min-width: 768px) and (max-width: 1279px)
        width: 8.2%
      @media $xs
        width: 14.1%;
        margin-left: auto;
        order: 7

  &__head
    margin-bottom: 5px
    font-size: 12px
    // font-weight: 300
    line-height: 1.2
    letter-spacing: -0.2px
    color: #000
    transition: color 0.4s ease
    @media (max-width: 1599px)
      margin-bottom: 10px;

  &__text
    font-size: 17px
    line-height: 1.2
    letter-spacing: -0.2px
    color: #000
    @media (max-width: 1279px)
      font-size: 14px

  &__discount
    width: 17px
    height: 27px
