.filters
  display flex
  min-height 100%

  @media $mdMax
    min-height inherit
    display block

  @media $md
    flex-grow 1

  &__choice
    width 360px
    min-height 100%
    padding 40px
    background-color #333
    user-select none

    @media (min-width: 1024px) and (max-width: 1679px)
      width 320px

    @media $xs
      padding 20px

    & > div
      &:nth-of-type(2n)
        @media $smMd
          margin-left auto

    @media $mdMax
      width 100%
      min-height inherit

    @media $smMd
      display flex
      flex-wrap wrap

  &__main-checkbox-wrap
    display flex
    height 40px
    border-radius 4px
    margin-bottom 31px
    background-color rgba(255, 255, 255, 0.2)
    overflow hidden

    @media $smMd
      width 47%
      align-self flex-end

    @media $xs
      margin-bottom 11px

  &__main-checkbox
    width 50%
    height 100%
    display block

  &__main-checkbox-content
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center
    font-size 14px
    font-weight 600
    letter-spacing -0.4px
    color #fff
    transition color 0.4s ease, background 0.4s ease

    &:hover
      @media $md
        background-color #fff
        color #000

  &__main-checkbox-input
    display none
    &:checked
      & + .filters__main-checkbox-content
        background-color #fff
        color #000
    // &:disabled
    //   & + .filters__main-checkbox-content
    //     opacity 0.5
    //     pointer-events none
    //     // border-color #fff
    //     // background-color #fff


  &__choice-text
    font-size 14px
    font-weight 600
    line-height 1.2
    letter-spacing -0.4px
    color #fff

    &--rooms
      margin-bottom 10px
      @media $xs
        margin-bottom 12px
        font-size 12px
    &--range
      margin-bottom 12px
      @media $xs
        margin-bottom 13px
        font-size 12px
    &--checkbox
      margin-bottom 10px
      @media $xs
        font-size 12px

  &__rooms
    @media $smMd
      width 47%

    .filters__main-checkbox-wrap
      @media $smMd
        width 100%

  &__range-wrap
    margin-bottom 34px

    @media $xs
      margin-bottom 15px

    @media $smMd
      margin-bottom 30px

    @media $smMd
      width 47%

  &__range
    width 100%
    padding 0 4px

  &__checkbox-wrap
    margin-bottom 20px

    @media $smMd
      width 47%

  &__checkbox-items
    margin-bottom 30px

    @media $xs
      margin-bottom 20px

    &:last-of-type
      margin-bottom 0


  &__checkbox
    display block
    margin-bottom 10px

    &:last-of-type
      margin-bottom 0

  &__checkbox-text
    font-size 14px
    font-weight 400
    line-height 1.2
    letter-spacing -0.4px
    color #fff

  &__checkbox-icon
    min-width: 19px
    width 19px
    height 19px
    border 1px solid #fff
    border-radius 4px
    margin-right 10px
    display flex
    justify-content center
    align-items center
    transition border 0.4s ease, background 0.4s ease

    svg
      opacity 0

  &__checkbox-content
    display flex
    align-items center

    &:hover
      @media $md
        .filters__checkbox-icon
          border-color $light-gold

  &__checkbox-input
    display none

    &:checked
      & + .filters__checkbox-content
        .filters__checkbox-icon
          border-color $light-gold
          background-color $light-gold

          svg
            opacity 1

    // &:disabled
    //   & + .filters__checkbox-content
    //     opacity 0.5
    //     pointer-events none
    //
    //     .filters__checkbox-icon
    //       border-color #fff
    //       background-color #fff

  &__content
    width calc(100% - 360px)
    padding-bottom 60px

    @media (min-width: 1024px) and (max-width: 1679px)
      width calc(100% - 320px)

    @media $mdMax
      width 100%

    @media $mdMax
      padding-bottom 40px

  &__head
    border-bottom solid 1px #ececec

  &__head-content
    max-width: 1540px
    padding 16px 30px 17px
    // margin 0 auto

    // @media (min-width: 1600px) and (max-width: 1899px)
    //   max-width 1190px

    @media (min-width: 1280px) and (max-width: 1679px)
      max-width 960px
      padding 16px 30px 17px

    @media (min-width: 1024px) and (max-width: 1279px)
      max-width 704px

    @media $smMd
      padding 21px 30px 17px

    @media $xs
      padding 21px 20px 18px

  &__head-text
    margin-bottom 15px

    span
      font-weight 600

  &__head-text,
  &__head-item
    font-size 14px
    line-height 1.2
    letter-spacing -0.4px
    color #000

  &__head-items
    display flex
    align-items baseline

  &__head-item
    margin-right 60px
    opacity 0.5

    @media $xs
      margin-right 30px

    &:last-of-type
      margin-right 0

  &__items
    max-width: 1540px
    padding 28px 30px 40px
    // margin 0 auto

    // @media (min-width: 1600px) and (max-width: 1899px)
    //   max-width 1190px

    @media (min-width: 2520px)
      max-width: 2140px

    @media (min-width: 2220px) and (max-width: 2519px)
      max-width: 1840px

    @media (min-width: 1512px) and (max-width: 1679px)
      width 100%

    @media (min-width: 1280px) and (max-width: 1511px)
      max-width 960px
      padding 28px 30px 17px

    @media (min-width: 1024px) and (max-width: 1279px)
      max-width 704px
      padding 28px 20px 40px

    @media $mdMax
      min-height inherit

    @media $smMd
      padding 37px 49px 20px

    @media $xs
      padding 27px 20px 12px

    &.filters-not-found
      padding-top 32px
      padding-bottom 32px

  &__flat
    max-width: 1542px
    padding: 50px 138px 52px 40px
    margin 0 auto

    // @media (min-width: 1600px) and (max-width: 1899px)
    //   max-width 1210px
    //   padding: 50px 38px 52px 40px

    @media (min-width: 1280px) and (max-width: 1679px)
      max-width 960px
      padding: 46px 30px 56px 30px

    @media (min-width: 1024px) and (max-width: 1279px)
      max-width 704px
      padding: 30px 30px 41px 30px

    @media $smMd
      padding 41px 40px 17px

    @media $xs
      padding 21px 20px 18px

    .flat
      &__content
        @media $smMd
          padding-top: 0
          flex-direction: row;
        @media $xs
          padding-top: 0;

      &__head
        @media $smMd
          display: none;
        .flat__links
          @media $smMd
            display: none;
          @media $xs
            display: none;


      &__images
        @media (min-width: 1680px)
          width: 51.3%
        @media (min-width: 1680px) and (max-width: 1899px)
          width: 48%
        // @media (min-width: 1600px) and (max-width: 1899px)
        //   width: 544px
        @media (min-width: 1280px) and (max-width: 1679px)
          width: 400px
        @media (min-width: 1024px) and (max-width: 1279px)
          width: 255px
        @media $smMd
          width 326px
          margin 0 auto
        .flat__img
          width: 100%

      &__title
        @media (min-width: 1024px) and (max-width: 1279px)
          margin-bottom: 30px;
          font-size: 24px
        @media $smMd
          margin-bottom: 30px;
          font-size: 24px

      &__description-wrap
        padding-top: 5px
        @media (min-width: 1280px) and (max-width: 1679px)
          width: 450px
          // padding-top: 8px
        @media (min-width: 1024px) and (max-width: 1279px)
          width: 348px
        @media (min-width: 1024px) and (max-width: 1279px)
          padding-top: 12px;
        @media $smMd
          width: 322px;
          padding-top: 0
        @media $xs
          padding-top: 30px;

        .flat__title
          @media $smMd
            display: block;

      &__description
        .flat__links
          @media $smMd
            display: flex;
            max-width: 100%
            width: 100%
          @media $xs
            display: flex;
            justify-content: flex-start;
            max-width: 100%
            width: 100%


      &__links
        // @media (min-width: 1280px) and (max-width: 1599px)
        //   top: 84px
        //   right: 7px
        @media (min-width: 1024px) and (max-width: 1279px)
          max-width: 100%
          width: 100%
          margin-bottom: 31px;
          flex-direction: row;
          align-items: center;

      &__link
        @media (min-width: 1024px) and (max-width: 1279px)
          margin-bottom: 0
          margin-right: 28px;

      &__list
        margin-bottom: 42px
        @media (min-width: 1024px) and (max-width: 1279px)
          margin-bottom: 32px;
        @media $smMd
          margin-bottom: 32px;
        @media $xs
          margin-bottom: 31px;

      &__text-wrap
        width: 84%
        @media (max-width: 1679px)
          width: 100%
        @media $smMd
          padding-top: 31px;
        @media $xs
          padding-top: 42px;

      &__bid
        margin-top: 35px
        @media $smMd
          margin-top: 26px;

  &__table
    // max-width: 1560px
    padding 16px 50px 17px
    margin 0 auto

    // @media (min-width: 1600px) and (max-width: 1899px)
    //   max-width 1210px

    @media (min-width: 1280px) and (max-width: 1679px)
      // max-width 960px
      padding 16px 30px 0

    @media (min-width: 1024px) and (max-width: 1279px)
      max-width 704px
      padding 16px 30px 0

    @media $smMd
      padding 54px 62px 30px

    @media $xs
      padding 34px 20px 10px

  &__table-title
    width: 100%
    padding: 0 40px
    margin-bottom: 50px
    font-size: 24px
    line-height: 1.2
    letter-spacing: -0.2px
    color: #000
    text-align: center

    @media (min-width: 1280px) and (max-width: 1679px)
      margin-bottom: 30px
    @media (max-width: 1279px)
      margin-bottom: 30px
      font-size: 18px

  &__disabled
    opacity 0.5
    pointer-events none

    .jsr_bar,
    .jsr_slider
      background-color #fff

    .filters__checkbox-input:checked + .filters__checkbox-content .filters__checkbox-icon
      border-color #fff
      background-color #fff

  &__clear
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
    height: 40px;
    margin-top: 32px
    border-radius: 4px;
    font-size: 14px
    letter-spacing: -0.4px
    color: #fff
    background-color: rgba(255, 255, 255, 0.1)
    text-align: center;
    transition: 0.2s ease

    @media $smMd
      width 47%
      margin-top: 24px

    @media (min-width: 1280px)
      &:hover
        background-color: rgba(255, 255, 255, 0.2)
