.filters-not-found
  display flex
  flex-direction column
  justify-content center
  align-items center
  min-height calc(100% - 80px)
  flex-grow 1

  @media $sm
    padding-top 20px

  @media $xs
    height 248px
    padding-top 20px

  @media $smMd and (min-height: 1100px)
    height 372px

  &__icon
    width 19px
    height 19px
    margin-bottom 20px

    svg
      fill $green

  &__text
    max-width 478px
    font-size 18px
    line-height 1.44
    text-align center
    color #000
