.filters-pag
  width 100%
  display flex
  align-items center
  justify-content center

  &__arrow
    width 11px
    height 17px
    padding 2px
    cursor pointer

    svg
      transition stroke 0.4s ease
      stroke $green

    &:hover
      svg
        stroke $greenHover

  &__items
    display flex
    align-items center
    margin 0 34px

  &__item
    display flex
    align-items center
    justify-content center
    width 32px
    height 32px
    border-radius 4px
    margin-right 6px
    font-size 14px
    letter-spacing -0.4px
    text-align center
    background rgba(18, 154, 40, 0)
    transition background 0.4s ease, color 0.4s ease
    color #000
    cursor pointer

    &:last-of-type
      margin-right 0

    &:hover,
    &--active
      background rgba(18, 154, 40, 0.1)
      color $green
