.action
  display: none

  @media $smPlus
    display flex

  &-menu
    display block

    @media $smPlus
      display none

  &_button
    position relative
    display block
    height 34px
    margin-right 30px
    padding-left 15px
    padding-right 45px
    border-radius 2px
    border solid 1px $green
    background-color $white
    line-height 32px
    color #000
    white-space: nowrap;
    transition background-color 0.2s, color 0.2s

    @media $md
      margin-right 46px

    @media $lg
      margin-right 60px

    &:after
      content ''
      position absolute
      top 50%
      right 15px
      transform translateY(-50%) rotate(45deg)
      width 10px
      height 10px
      border 1px solid $black
      border-left-color transparent
      border-bottom-color transparent
      transition border-rigth-color 0.2s, border-top-color 0.2s

    &:hover
      background-color #52ca66
      border-color #52ca66
      color $white

      &:after
        border-top-color $white
        border-right-color $white
