.AskQuestion
	line-height normal
	background #4A8354
	color #FFF
	
	&_wrapper
		padding-right 20px
		padding-left 20px
		
		@media $md
			display flex
			padding-right 0
			padding-left 0
	
	&_left
		@media $md
			width 30.7%
			background url('../img/trim/bg_ask_question.png') -7px 0 no-repeat
		
		@media $lg
			width 30.0783%
			background-position 0 0
		
		@media $xl
			width 50%
	
	&_right
		@media $md
			flex-grow 1
		
		@media $lg
			padding-right 44px
		
		@media $xl
			padding-right 0
			padding-left 20px
	
	&_rightInner
		max-width 303px
		margin-right auto
		margin-left auto
		padding-top 35px
		padding-bottom 30px
	
		@media $smPlus
			max-width 631px
			padding-top 25px
			padding-bottom 38px
		
		@media $md
			max-width 575px
		
		@media $lg
			max-width 631px
	
	&_title
		margin-bottom 20px
		font-weight bold
		font-size 24px
		
		@media $smPlus
			margin-bottom 15px
			font-size 36px
	
	&_subtitle
		margin-bottom 20px
		
		@media $smPlus
			margin-bottom 30px
	
	&_forms
		@media $smPlus
			display flex
	
	&_form
		@media $smPlus
			flex 1 0 0
		
		&-callback
			margin-bottom 35px
			
			@media $smPlus
				display flex
				flex-direction column
				margin-right 25px
				margin-bottom 0
				
				.AskQuestion_formGroup
					margin-bottom 40px
			
			@media $md
				margin-right 15px
				
				.AskQuestion_formActions
					padding-left 10px
			
			@media $lg
				margin-right 25px
				
				.AskQuestion_formActions
					padding-right 15px
					padding-left 0
		
		&-question
			.AskQuestion_formGroup
				margin-bottom 12px
				
			@media $smPlus
				.AskQuestion_formActions
					margin-top 12px
					padding-right 18px
			
			@media $md
				.AskQuestion_formActions
					padding-right 0
			
			@media $lg
				.AskQuestion_formActions
					padding-right 18px
	
	&_formGroup
		margin-bottom 15px
	
	&_formItem
		margin-bottom 7px
		
		&:last-child
			margin-bottom 0
	
	&_formLabel
		display block
		margin-bottom 7px
	
	&_formText, &_formTextarea
		+placeholder()
			font-weight normal
			font-size 14px
			letter-spacing 1.5px
			color #7F7F7F
	
	&_formText
		width 100%
		height 40px
		padding 0 15px
		box-shadow inset 0 0 3px 0 rgba(0, 0, 0, 0.5)
		border 1px solid #ccc
		background-color #fff
		font-size 14px
		letter-spacing 1.5px
		color #7F7F7F
	
	&_formHint
		font-size 12px
		
		a
			text-decoration underline
	
	&_formActions
		margin-top 18px
		text-align center
	
	&_formTextarea
		width 100%
		height 111px
		padding 11px 15px
		resize none
	
	&_btn
		width 170px