.Balloon
	position absolute
	width 181px
	height 45px
	padding 14px 18px 14px 15px
	background-color #FFF
	// background url('../img/bg_balloon.png') 0 0 no-repeat
	box-shadow 0 2px 7px 0 rgba(63, 63, 63, 0.16)
	
	&_close
		position absolute
		top 1px
		right 1px
		opacity 0.6
	
	&_inner
		& > ymaps
			width auto !important
			text-align center
	
	&_content
		padding-left 17px
		font-weight 600
		font-size 13px
		line-height 1.08
		color #5c5c5c