.Footer
  width 100%
  height auto
  padding 30px 20px 25px
  background-color #222
  font-weight 100
  font-size 10px
  color #b9b9b9

  @media $smPlus
    padding-top 28px
    padding-bottom 50px

  @media $md
    padding-left 40px
    padding-right 40px

  @media $lg
    padding-left 70px
    padding-right 68px

  &_wrapper
    display flex
    align-items center
    justify-content space-between
    flex-direction column
    text-align center

    @media $smPlus
      align-items flex-start
      flex-direction row
      text-align left

    @media $md
      justify-content flex-start

    &-end
      align-items center

      @media $smPlus
        justify-content space-between
        align-items flex-end

  &_col
    @media $md
      margin-right 61px

    @media $lgPlus
      margin-right 153px

    .copyright
      line-height 1.2

  &_logo
    margin-bottom 18px

  &_agreement
    max-width 278px
    width 100%
    // margin-top 16px
    // margin-bottom 27px
    margin-top 21px
    margin-bottom 33px
    line-height 1.2
    // margin-top 18px

    @media $smPlus
      max-width 232px
      width 100%
      line-height 1.2

    a {
      color $white
    }

  &_sitemap
    display none

    @media $md
      display flex
      flex-grow 1

  &_sitemapCol
    width 100%
    max-width 195px

    @media $xl
      max-width 262px

  &_sitemapTitle
    display block
    margin-bottom 13px
    font-weight 700
    font-size 14px
    transition color 0.2s
    line-height 1.2

    &:hover
      color $white

  &_sitemapList
    li
      &:not(:last-of-type)
        margin-bottom 12px
    a
      line-height 1.2
      transition color 0.2s

      &:hover
        color $white

  &_info
    display none

    @media $smPlus
      display flex
      align-items flex-end

  &_infoText
    width 458px
    line-height 1.2
    margin-right 29px

  &_infoImgs
    display flex
    align-items baseline

  &_infoImg
    display block

    &-krasnogorsk
      width 27px

    &-moscow
      width 25px

    &:not(:last-of-type)
      margin-right 15px

  &_agency
    margin-top 28px

    &:hover
      svg
        fill #1371ab
        fill-opacity 1

    @media $smPlus
      margin-top 0

    svg
      fill #fefefe
      fill-opacity 0.3
      transition fill 0.2s, fill-opacity 0.2s

  &__contacts
    display flex
    flex-direction column
    align-items flex-end

    @media $xs
      align-items center

  &__socials
    display flex
    align-items center
    justify-content flex-end
    margin-top 26px

    @media $xs
      justify-content center

  &__social-item
    display inline-block
    margin-right 30px
    opacity 0.5
    transition opacity 0.2s ease

    &:last-of-type
      margin-right 0

    svg
      fill #129a28

    &:hover
      opacity 1
