.Header
  display flex
  justify-content space-between
  align-items center
  width: 100%
  height 68px
  min-height max-content
  padding-right 20px
  // background-color $white
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.05)
  transition background 0.3s ease
  z-index 7
  color $black

  @media $md
    padding-right: 40px

  @media $lg
    padding-right 70px

  @media $xl
    padding-right 78px

  &-fixed
    position fixed
    top 0
    left 0
    background-color transparent
    box-shadow none
    color $white

    .Header_burgerContainer
      &::before
      &::after
        background-color $white

    .Header_burgerLine
      background-color $white

  &-white,
  &-white-m
    background-color $white
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.05)
    color $black

    .Header_burgerContainer
      &::before
      &::after
        background-color $black

    .Header_burgerLine
      background-color $black

  &-darkText
    color $black

    @media (max-width: 1279px)
      box-shadow 0 0 0 0 rgba(0, 0, 0, 0)

  &_wrapper
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%

    @media $smPlus
      width: auto
      justify-content: flex-start

  &_logo
    display block
    width 230px
    height 68px
    background url(../img/l-ogo@3x.png) no-repeat right top / cover;

    @media $smPlus
      width 233.5px

    @media $md
      width 283px

    // @media $lg
    //   width 320px

  &_burger
    display: flex
    align-items: center
    cursor pointer
    margin-left: 25px

    @media (min-width 1366px)
      display: none

    &-close
      .Header_burgerContainer
        &::before
        &::after
          background-color $black
          border-top-right-radius: 0px
          border-bottom-right-radius: 0px

        &::before
          width: 100%
          transform: rotate(45deg)

        &::after
          transform: rotate(-45deg)

      .Header_burgerLine
        width: 0

  &_burgerContainer
    position relative
    display flex
    align-items: center
    justify-content: flex-end
    width 21px
    height 17px
    margin-right: 10px;

    &::before
    &::after
      content ''
      position: absolute
      right 0
      height 3px
      border-top-right-radius: 3px
      border-bottom-right-radius: 3px
      transform-origin: left center
      background-color $black
      transition: transform 0.2s 0.1s, width 0.2s, background-color 0.2s

    &::before
      top: 0
      width: 11px

    &::after
      bottom: 0
      width: 100%

  &_burgerLine
    width: 16px
    height: 3px
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px
    background-color: $black
    transition: width 0.1s;

  &_burgerText
    display: none

    @media $smPlus
     display: block

  &_menu
    display none

    @media (min-width 1366px)
      display flex
      height 100%
      // margin-left 15px

    @media $xl
      margin-left 200px

  &_menuItem
    position relative
    display flex
    align-items stretch
    cursor pointer

    &:not(:last-of-type)
      margin-right 39px

    &:hover
      .Header_menuItemLink
        color $green

    &-hover
      cursor pointer

      &:hover
        .Header_menuLevelTwo
          opacity 1
          transform translateY(0)
          pointer-events: all

  &:not(.Header-white)
    .Header_menuItem
      &:hover
        .Header_menuItemLink
          // color $light-gold
          color #fff
          letter-spacing -0.324px
          font-weight 700

  &_menuItemLink
    display flex
    align-items center
    transition color 0.2s

  &_menuLevelTwo
    position: absolute
    top: 100%
    left -18px
    width: 240px
    height 290px
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 32px 30px 23px
    box-shadow: 0 32px 35px 0 rgba(0, 0, 0, 0.31);
    background-color: $white
    opacity 0
    transform: translateY(-10px)
    pointer-events: none
    transition: opacity 0.2s, transform 0.2s
    z-index 4

    &::before
      content: ''
      position: absolute
      top: -4.5px
      left 45px
      width: 9px
      height: 9px
      transform: rotate(45deg)
      background-color: $white

  &_menuLevelTwoItem
    color #000
    transition: color 0.2s

    &:hover
      color $green
