.MenuMobile
  position fixed
  top -100%
  left 0
  width 100%
  height 100%
  display flex
  justify-content flex-start
  padding-top 90px
  padding-left 30px
  padding-bottom 40px
  background-color $white
  z-index 7
  transition  0.2s

  @media $smPlus
    top -432px
    height 432px
    align-items flex-end
    padding-top 0
    padding-left 258.5px

  @media $md
    padding-left 308px

  @media $lg
    display none

  @media (min-width: 768px) and (max-width: 1279px)
    top 0
    padding-top 86px
    height auto
    transform translate(0, -100%)

  &-open
    top 0

    @media (min-width: 768px) and (max-width: 1279px)
      transform translate(0, 0)

  &_wrapper
    width 100%
    height 100%
    overflow auto

    @media $smPlus
      display flex
      width auto
      height auto
      overflow visible

  &_col
    margin-bottom 33px

    @media $smPlus
      margin-bottom 0

      &:not(:last-of-type)
        margin-right 67px

  &_link
    display block
    transition color 0.2s

    &:hover
      color $green

    &-big
      margin-bottom 33px
      font-weight 600
      font-size 20px

  &_list
    li
      &:not(:last-of-type)
        margin-bottom 25px

    a
      transition color 0.2s

      &:hover
        color $green

  .action_button
    width 181px
    margin-bottom 28px

  .phones_icon-animation
    &::after
      animation none
