.phones
  display flex
  align-items: center

  &-textWhite
    color $white

  &_wrapper
    position relative
    margin-right: 10px

  &_icon
    position: relative
    width: 34px
    height 34px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    background-color: $green
    z-index 2

    &-animation
      position absolute
      top: 0
      left 0
      width 34px
      height 34px
      z-index 1

      &::after
        content ''
        position absolute
        top 50%
        left 50%
        transform translateX(-50%) translateY(-50%) 
        background-color: rgba($green0, 0.2)
        border-radius: 50%
        animation: pulsation 1s linear infinite normal;

  &_tel
    display: block
    font-weight: 700
    font-size: 14px

    &-black
      color #000

    &:not(:last-of-type)
      margin-bottom: 5px

@keyframes pulsation 
  from
    width: 34px
    height 34px
    opacity 1
  to
    width: 60px
    height 60px
    opacity 0