.sorter {
	cursor: pointer;
	padding: 0 14px 0 0;
	background: none;
	border: 0;
	font-size: inherit;
	position: relative;
	color: inherit;
	&-desc,
	&-asc{
			color: #000!important;
			opacity: 1!important;
			&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
					margin-top: -6px;
					display: block;
					width: 12px;
					height: 12px;
					background: url("/img/caret-down.svg") center / contain no-repeat!important;
					pointer-events: none;
					transform: scaleY(-1);
			}
	}

	&-desc {
			&:after {
					transform: none;
			}
	}
}