footer.Footer
  .Footer_wrapper
    .Footer_col
      .Footer_logo
        svg(width="143" height="37")
          use(xlink:href='#logoFooter')
      .copyright © 2010-2018 ООО "Факт"
      .Footer_agreement Отправляя любую форму на сайте, вы соглашаетесь с #[a(href='#') политикой конфиденциальности] данного сайта, а также даете согласие на получение рассылки на электронную почту, указанную в заявке
    .Footer_sitemap
      .Footer_sitemapCol
        a.Footer_sitemapTitle(href='/about_project.html') О проекте
        ul.Footer_sitemapList
          li
            a(href="/infrastructure.html") Инфраструктура
          li
            a(href="/developer.html") О девелопере
          li
            a(href="/gallery.html") Галерея
          li
            a(href="/stock.html") Акции
          li
            a(href="#") Динамика строительства
      .Footer_sitemapCol
        a.Footer_sitemapTitle(href='#') Выбрать квартиру
        ul.Footer_sitemapList
          li
            a(href="/documents.html") Документы
          li
            a(href="/hypothec.html") Ипотека
          li
            a(href="#") Рассрочка
          li
            a(href="/contacts.html") Контакты
    .Footer__contacts
      .phones.phones-textWhite
        .phones_wrapper
          .phones_icon
            svg(width='17' height='17')
              use(xlink:href='#phone')
          .phones_icon-animation
        .phones_wrp
          a.phones_tel(href='tel:84957480058') +7 495 748-00-58
          a.phones_tel(href='tel:89161549270') +7 916 154-92-70
      .Footer__socials
        a.Footer__social-item(href='#')
          svg(width='19', height='12')
            use(xlink:href='#vk')
        a.Footer__social-item(href='#')
          svg(width='10', height='19')
            use(xlink:href='#fb')
        a.Footer__social-item(href='#')
          include ../svg/insta-icon.svg
  .Footer_wrapper.Footer_wrapper-end
    .Footer_info
      .Footer_infoText Строительство ЖК «Брусчатый поселок» ведется в рамках исполнения действующего «Договора о развитии застроенных территорий» г. Красногорска и является частью исполнения государственной программы Московской области.
      .Footer_infoImgs
        img.Footer_infoImg.Footer_infoImg-krasnogorsk(src="./img/moscow_oblast.png", alt="")
        img.Footer_infoImg.Footer_infoImg-moscow(src="./img/krasnogorsk_moscow_oblast.png", alt="")
    a.Footer_agency(href='https://blue-ant.ru/', target='_blank')
      svg(width='34', height='21')
        use(xlink:href='#logo-agency')
