header.Header.Header-fixed.Header-white
  .Header_wrapper
    a.Header_logo(href='/')
    .Header_burger
      .Header_burgerContainer
        span.Header_burgerLine
      span.Header_burgerText Меню
  ul.Header_menu
    li.Header_menuItem.Header_menuItem-hover
      .Header_menuItemLink О проекте
      ul.Header_menuLevelTwo
        li.Header_menuLevelTwoItem
          a(href="/about_project.html") Описание
        li.Header_menuLevelTwoItem
          a(href="/transport_accessibility.html") Транспортная доступность
        li.Header_menuLevelTwoItem
          a(href="/diary.html") Ход строительства
        li.Header_menuLevelTwoItem
          a(href="/gallery.html") Галерея
        li.Header_menuLevelTwoItem
          a(href="/developer.html") О застройщике
        li.Header_menuLevelTwoItem
          a(href="/news.html") Новости
        li.Header_menuLevelTwoItem
          a(href="/stock.html") Акции
    li.Header_menuItem
      a.Header_menuItemLink(href='/infrastructure.html') Инфраструктура
    li.Header_menuItem
      a.Header_menuItemLink(href='#') Квартиры
    li.Header_menuItem
      a.Header_menuItemLink(href='/hypothec.html') Ипотека
    li.Header_menuItem
      a.Header_menuItemLink(href='/contacts.html') Контакты
    li.Header_menuItem
      a.Header_menuItemLink(href='/trim.html') Отделка
  .action
    a.action_button(href='#') Выбрать квартиру
    .phones
      .phones_wrapper
        .phones_icon
          svg(width='17' height='17')
            use(xlink:href='#phone')
        .phones_icon-animation
      .phones_wrp
        a.phones_tel(href='tel:84957480058') +7 495 748-00-58
        a.phones_tel(href='tel:89161549270') +7 916 154-92-70