.MenuMobile
  .MenuMobile_wrapper
    .MenuMobile_col
      .MenuMobile_link.MenuMobile_link-big О проекте
      ul.MenuMobile_list
        li
          a(href="/about_project.html") Описание
        li
          a(href="/transport_accessibility.html") Транспортная доступность
        li
          a(href="/diary.html") Ход строительства
        li
          a(href="/gallery.html") Галерея
        li
          a(href="/developer.html") О застройщике
        li
          a(href="/news.html") Новости
        li
          a(href="/stock.html") Акции
    .MenuMobile_col
      a.MenuMobile_link.MenuMobile_link-big(href="/infrastructure.html") Инфраструктура
      a.MenuMobile_link.MenuMobile_link-big(href="/hypothec.html") Ипотека
      a.MenuMobile_link.MenuMobile_link-big(href="/contacts.html") Контакты
    .action.action-menu
      a.action_button(href='#') Выбрать квартиру
      .phones
        .phones_wrapper
          .phones_icon
            svg(width='17' height='17')
              use(xlink:href='#phone')
          .phones_icon-animation
        .phones_wrp
          a.phones_tel.phones_tel-black(href='tel:84957480058') +7 495 748-00-58
          a.phones_tel.phones_tel-black(href='tel:89161549270') +7 916 154-92-70