.stock
  max-height none
  flex-grow 1

  @media $mdMax
    background-color #fafffb

  @media $md
    display flex
    max-height calc(100vh - (285px / 2))
    overflow hidden

  &_list
  &_detail
    overflow-y auto

    @media $md
      flex-basis 50%

  &_list
    position relative
    padding-top 30px
    padding-left 20px
    padding-right 20px
    background-color #fafffb

    @media $smMd
      background-color rgba(18, 154, 40, 0)

    @media $smPlus
      padding-top 43px
      padding-left 40px
      padding-right 40px

    @media $md
      padding-left 0
      padding-right 0

    @media $lg
      display flex
      justify-content flex-end
      padding-left 105px
      padding-right 60px

    @media $xl
      padding-right get-vw(100)vw

    .stock_container
      @media $md
        padding-left 40px

      @media $lg
        padding-left 0

  &_detail
    position relative
    display none
    box-shadow -10px 0 48px 0 rgba(0, 0, 0, 0.06)
    background-color $white

    @media $md
      display block
      padding 43px 40px
      padding-bottom 0

    @media $lg
      padding-top 60px
      padding-left 80px
      padding-right 80px

    .stock_container
      margin-left auto
      margin-right auto

      @media $md
        padding-bottom 43px

      @media $lg
        padding-bottom 60px

      @media $xl
        margin-left 0
        margin-right 0

  &_detailItem
    &:not(.stock_detailItem-active)
      display none

  &_detailTitle
    font-weight 700
    font-size 30px

    @media $lg
      font-size 36px

  &_detailImg
    width 100%
    height 288px
    background-repeat no-repeat
    background-position center
    background-size cover

    @media $md
      margin-top 20px
      margin-bottom 20px

    @media $lg
      height 320px

    @media $xl
      height 453px
      margin-top 30px
      margin-bottom 30px

  &_detailText
    font-size 16px
    line-height 1.62

    &:not(:last-of-type)
      margin-bottom 15px

  &_container
    width 100%

    @media $xl
      max-width 688px

  &_tabs
    font-size 23px
    color rgba(#979797, 0.2)

  &_tab
    padding-left 15px
    font-size 18px
    color $green
    transition font-size 0.2s

    &:not(.stock_tab-active)
      &:hover
        font-size 30px

    &-active
      padding-left 0
      padding-right 15px
      font-weight 700
      font-size 30px
      color $black

  &_wrapper
    padding-top 42px
    padding-bottom 30px

    @media $smPlus
      padding-bottom 72px

  &_item
    position relative
    transition padding 0.2s
    cursor pointer

    @media $smPlus
      display flex
      align-items flex-end

    @media $md
      align-items center
      padding-right 30px

    &::before
      content ''
      position absolute
      top 50%
      left 0
      width 3px
      height 0
      transform translateY(-50%)
      transition height 0.2s
      border-radius 2.5px
      background-color $green

    &:hover
      .stock_img
        box-shadow 2.5px 2.5px 10px rgba(0, 0, 0, 0.5)

      @media $md
        padding-left 20px
        padding-right 10px

        .stock_content
          color $black

        &::before
          @media $md
            height 73px

    &-active
      .stock_img
        box-shadow 2.5px 2.5px 10px rgba(0, 0, 0, 0.5)

      &::before
        @media $md
          height 73px

      @media $md
        padding-left 20px
        padding-right 10px

        .stock_content
          color $black

  &_img
    position relative
    display flex
    align-items flex-end
    justify-content flex-start
    flex-shrink 0
    width 100%
    height 150px
    margin-bottom 20px
    padding-left 20px
    padding-bottom 20px
    border-radius 8px
    overflow hidden
    background-repeat no-repeat
    background-position top center
    background-size cover
    box-shadow 2.5px 2.5px 10px rgba(0, 0, 0, 0)
    transition box-shadow 0.2s

    @media $smPlus
      justify-content center
      width 121px
      height 121px
      margin-bottom 0
      padding-left 0
      padding-bottom 10px
      background-position center

    &-left
      @media $smPlus
        background-position left center

    &::after
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 150px
      border-radius 8px
      overflow hidden
      background-image linear-gradient(to bottom, rgba($black, 0), rgba($black, 0.38))
      z-index 1

      @media $smPlus
        width 121px
        height 121px

  &_date
    position relative
    font-size 12px
    color $white
    z-index 2

  &_content
    @media $smPlus
      padding-bottom 25px

    @media $md
      padding-bottom 0
      color #747474

    @media $smPlus
      margin-left 20px

  &_headline
    font-weight 600
    font-size 18px
    line-height normal

  &_text
    margin-top 10px
    font-size 14px
    line-height 18px

    @media $smPlus
      width 448px

    @media $md
      width auto

    @media $xl
      width 448px

    &:empty
      margin-top 0

  &_line
    width 100%
    height 1px
    margin-top 20px
    margin-bottom 20px
    background-color rgba(#979797, 0.1)

    @media $smPlus
      margin-top 15px
      margin-bottom 15px

    &:last-of-type
      display none
