.flat
  max-width 1270px
  padding-top 50px
  padding-bottom 206px
  margin 0 auto

  @media (min-width: 1280px) and (max-width: 1679px)
    max-width 1198px
    padding-top 50px
    padding-bottom 60px

  @media (min-width: 1024px) and (max-width: 1279px)
    max-width 942px
    padding-top 40px
    padding-bottom 60px

  @media $smMd
    padding 40px 40px 50px

  @media $xs
    padding 20px 20px 40px

  &__content
    position relative
    display flex
    justify-content space-between
    align-items flex-start
    @media $mdMax
      flex-direction column
    @media $smMd
      padding-top 50px
    @media $xs
      padding-top 40px

  &__images
    display flex
    align-items flex-start
    width 665px

    @media (min-width: 1280px) and (max-width: 1679px)
      width 658px

    @media (min-width: 1024px) and (max-width: 1279px)
      width 464px
      flex-direction column-reverse

    @media $smMd
      width 100%
      margin-bottom 50px

    @media $xs
      width 100%
      flex-direction column-reverse

  &__static-img
    width 45px
    margin-top -10px

    @media (min-width: 1024px) and (max-width: 1279px)
      width 100%
      margin-top 68px
      display flex
      justify-content space-between
      align-items flex-start

    @media $xs
      width 100%
      margin-top 45px
      display flex
      justify-content space-between
      align-items flex-start

  &__compass
    position relative
    border 1px solid $green
    margin-bottom 20px

    &::before
      border-color $green
      background-color rgba(14, 152, 36, .2)

  &__plan-wrap
    position relative
    display inline-block

    @media $lg
      transform rotate(-90deg) translate(-99px, -76px)

    @media $smMd
      transform rotate(-90deg) translate(-99px, -76px)

  &__plan
    width 198px
    height 48px
    background-position center
    background-repeat no-repeat
    background-size contain

  &__plan-text
    position absolute
    top -23px
    left 50%
    font-size 12px
    line-height 1.2
    letter-spacing -.1px
    text-align center
    transform translate(-50%, 0)
    white-space nowrap
    color #000000

  &__img
    display block
    width 534px
    max-height 400px
    margin 0 auto

    @media (min-width: 1024px) and (max-width: 1279px)
      width 100%

    @media $xs
      width 100%

    @media $xl
      max-height 500px

    &--square
      max-width 534px
      width auto
      height 356px

      @media (min-width: 1024px) and (max-width: 1279px)
        max-width 100%
        height 298px

      @media $mdMax
        max-width 100%

      @media $smMd
        height 314px

      @media $xs
        max-width 80%
        height auto
        max-height 302px
        margin 0 auto

    &--vertical
      max-width 324px
      width auto

      @media $xs
        max-height 304px

  &__description-wrap
    position relative
    width 544px

    @media (min-width: 1280px) and (max-width: 1679px)
      width 494px

    @media (min-width: 1024px) and (max-width: 1279px)
      width 440px

    @media $mdMax
      position static
      width 100%

    @media $mdMax
      .flat__title
        display none

    @media $xs
      padding-top 46px

  &__head
    display none

    @media $mdMax
      width 100%
      display flex
      justify-content space-between
      align-items center

    @media $xs
      flex-direction column
      align-items flex-start

  &__title
    margin-bottom 40px
    font-size 30px
    line-height 1.2
    font-weight 700
    letter-spacing -.2px
    color #000000

    @media $smMd
      margin-bottom 0

    @media $smMd
      max-width 85%

    @media $xs
      width 100%
      margin-bottom 22px
      font-size 24px

    span
      font-family "Arial"

  &__description
    width 100%
    display flex
    // flex-direction column
    align-items flex-start
    flex-wrap wrap

    // @media (min-width: 1024px) and (max-width: 1279px)
    //   justify-content space-between

    @media $mdMax
      // flex-direction row
      justify-content space-between

      .flat__links
        display none

  &__list
    width 268px
    margin-bottom 32px
    margin-right 86px
    list-style none

    @media (min-width: 1280px) and (max-width: 1679px)
      margin-right 52px

    @media (min-width: 1024px) and (max-width: 1279px)
      margin-right 80px

    @media $smMd
      margin-right 0
      margin-bottom 0

    @media $xs
      width 100%
      margin-right 0
      margin-bottom 42px

  &__list-item
    margin-bottom 15px
    display flex
    align-items baseline

    &:last-of-type
      margin-bottom 0

  &__list-line
    height 2px
    margin 0 4px
    background-color #efefef
    flex-grow 1

  &__list-text
    max-width 85%
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    font-size 17px
    line-height 1.2
    letter-spacing -.2px
    color #000000

    &:first-of-type
      opacity .5

    &--price
      color $green
      font-weight 600

  &__links
    width 120px
    display inline-flex
    flex-direction column
    align-items flex-start
    @media $mdMax
      flex-direction row
      align-items center

    @media $sm
      max-width 40%
      width auto

    @media $xs
      width 100%
      justify-content center

  &__link
    display flex
    align-items center
    margin-bottom 21px

    @media $mdMax
      margin-right 30px
      margin-bottom 0

    &:last-of-type
      margin 0

  &__link-icon
    width 26px
    height 26px
    margin-right 9px
    display flex
    justify-content center
    align-items center
    flex-shrink 0
    fill $green

  &__link-text
    font-size 14px
    line-height 1.2
    letter-spacing -.2px
    color #000000

  &__text-wrap
    width 100%

    @media (min-width: 1280px) and (max-width: 1679px)
      width 97%

    @media $sm
      width 373px

    @media $xs
      width 100%

  &__text
    font-size 17px
    letter-spacing -.2px
    line-height 1.62
    color #000

  &__bid
    width 317px
    padding 0 26px 0 30px
    margin-top 30px
    display flex
    align-items center
    justify-content space-between
    height 89px
    border-radius 4px
    box-shadow 0 15px 18px -13px rgba(0, 0, 0, .13)
    background-color $light-gold
    cursor pointer
    transition background 0.3s ease

    @media $smMd
      margin 40px auto 0

    @media $xs
      width 100%
      margin 27px auto 0
      padding 0 18px 0 20px

    &:hover
      background-color $light-goldHover

  &__bid-text
    display flex
    flex-direction column
    align-items flex-start
    font-size 22px
    line-height 1.2
    color #000000

    span
      font-size 14px
      font-weight 400

  &__bid-icon
    svg
      stroke #000

  &__plan-svg
    width 100%
    max-height 100%
    height auto

  &__plan-sect
    fill mix(black, white, 4%)
    &--active
      fill #129a28
